<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.basic.equipment.dao.EquipmentMaintanceMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.basic.equipment.entity.EquipmentMaintance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="enterprise_code" jdbcType="VARCHAR" property="enterpriseCode" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="equipment_status" jdbcType="INTEGER" property="equipmentStatus" />
    <result column="operate_type" jdbcType="INTEGER" property="operateType" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_code" jdbcType="VARCHAR" property="operatorCode" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operate_content" jdbcType="VARCHAR" property="operateContent" />
    <result column="operate_result" jdbcType="VARCHAR" property="operateResult" />
    <result column="measures" jdbcType="VARCHAR" property="measures" />
    <result column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <resultMap id="MaintanceVOResultMap" type="com.rograndec.feijiayun.chain.business.basic.equipment.vo.EquipmentMaintanceVO">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="enterprise_code" jdbcType="VARCHAR" property="enterpriseCode" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
    <result column="equipment_code" jdbcType="VARCHAR" property="equipmentCode" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="equipment_status" jdbcType="INTEGER" property="equipmentStatus" />
    <result column="operate_type" jdbcType="INTEGER" property="operateType" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_code" jdbcType="VARCHAR" property="operatorCode" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operate_content" jdbcType="VARCHAR" property="operateContent" />
    <result column="operate_result" jdbcType="VARCHAR" property="operateResult" />
    <result column="measures" jdbcType="VARCHAR" property="measures" />
    <result column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />


  </resultMap>

  <sql id="Base_Column_List">
    id, enterprise_id, enterprise_code, enterprise_name, parent_id, type_id, type_code, 
    type_name, equipment_id, equipment_code, equipment_name, start_date, end_date, equipment_status, 
    operate_type, operator_id, operator_code, operator_name, operate_content, operate_result, 
    measures, file_id, status, remark, creater_id, creater_code, creater_name, create_time, 
    modifier_id, modifier_code, modifier_name, update_time
  </sql>
  <sql id="Report_Column_List">
    a.id, a.enterprise_id, a.enterprise_code, a.enterprise_name, a.parent_id, a.type_id, a.type_code,
    a.type_name, a.equipment_id, a.equipment_code, a.equipment_name, a.start_date, a.end_date, a.equipment_status,
    a.operate_type, a.operator_id, a.operator_code, a.operator_name, a.operate_content, a.operate_result,
    a.measures, a.file_id, a.status, a.remark, a.creater_id, a.creater_code, a.creater_name, a.create_time,
    a.modifier_id, a.modifier_code, a.modifier_name, a.update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_equipment_maintance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_equipment_maintance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.basic.equipment.entity.EquipmentMaintance" useGeneratedKeys="true" keyProperty="id">
    insert into saas_equipment_maintance (id, enterprise_id, enterprise_code, 
      enterprise_name, parent_id, type_id, 
      type_code, type_name, equipment_id, 
      equipment_code, equipment_name, start_date, 
      end_date, equipment_status, operate_type, 
      operator_id, operator_code, operator_name, 
      operate_content, operate_result, measures, 
      file_id, status, remark, 
      creater_id, creater_code, creater_name, 
      create_time, modifier_id, modifier_code, 
      modifier_name, update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{enterpriseCode,jdbcType=VARCHAR}, 
      #{enterpriseName,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{typeId,jdbcType=BIGINT}, 
      #{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{equipmentId,jdbcType=BIGINT}, 
      #{equipmentCode,jdbcType=VARCHAR}, #{equipmentName,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{equipmentStatus,jdbcType=INTEGER}, #{operateType,jdbcType=INTEGER}, 
      #{operatorId,jdbcType=BIGINT}, #{operatorCode,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, 
      #{operateContent,jdbcType=VARCHAR}, #{operateResult,jdbcType=VARCHAR}, #{measures,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, 
      #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.basic.equipment.entity.EquipmentMaintance"  useGeneratedKeys="true" keyProperty="id">
    insert into saas_equipment_maintance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="enterpriseCode != null">
        enterprise_code,
      </if>
      <if test="enterpriseName != null">
        enterprise_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="equipmentCode != null">
        equipment_code,
      </if>
      <if test="equipmentName != null">
        equipment_name,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="equipmentStatus != null">
        equipment_status,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorCode != null">
        operator_code,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="operateContent != null">
        operate_content,
      </if>
      <if test="operateResult != null">
        operate_result,
      </if>
      <if test="measures != null">
        measures,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseCode != null">
        #{enterpriseCode,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null">
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=BIGINT},
      </if>
      <if test="equipmentCode != null">
        #{equipmentCode,jdbcType=VARCHAR},
      </if>
      <if test="equipmentName != null">
        #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentStatus != null">
        #{equipmentStatus,jdbcType=INTEGER},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorCode != null">
        #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operateContent != null">
        #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null">
        #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="measures != null">
        #{measures,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.basic.equipment.entity.EquipmentMaintance">
    update saas_equipment_maintance
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseCode != null">
        enterprise_code = #{enterpriseCode,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null">
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=BIGINT},
      </if>
      <if test="equipmentCode != null">
        equipment_code = #{equipmentCode,jdbcType=VARCHAR},
      </if>
      <if test="equipmentName != null">
        equipment_name = #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="equipmentStatus != null">
        equipment_status = #{equipmentStatus,jdbcType=INTEGER},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorCode != null">
        operator_code = #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operateContent != null">
        operate_content = #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null">
        operate_result = #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="measures != null">
        measures = #{measures,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.basic.equipment.entity.EquipmentMaintance">
    update saas_equipment_maintance
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      enterprise_code = #{enterpriseCode,jdbcType=VARCHAR},
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      type_id = #{typeId,jdbcType=BIGINT},
      type_code = #{typeCode,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      equipment_id = #{equipmentId,jdbcType=BIGINT},
      equipment_code = #{equipmentCode,jdbcType=VARCHAR},
      equipment_name = #{equipmentName,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      equipment_status = #{equipmentStatus,jdbcType=INTEGER},
      operate_type = #{operateType,jdbcType=INTEGER},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_code = #{operatorCode,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operate_content = #{operateContent,jdbcType=VARCHAR},
      operate_result = #{operateResult,jdbcType=VARCHAR},
      measures = #{measures,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getMaintancePageList" resultMap="MaintanceVOResultMap">

    select
    maintance.id, maintance.enterprise_id, maintance.enterprise_code, maintance.enterprise_name,
    maintance.parent_id, maintance.type_id, maintance.type_code,
    maintance.type_name, maintance.equipment_id, maintance.equipment_code, maintance.equipment_name, maintance.start_date,
    maintance.end_date, maintance.equipment_status,
    maintance.operate_type, maintance.operator_id, maintance.operator_code, maintance.operator_name, maintance.operate_content,
    maintance.operate_result,
    maintance.measures, maintance.file_id, maintance.remark, file.file_name
    from saas_equipment_maintance maintance left join
    saas_file file on file.id = maintance.file_id
    <where>
      <!--1=1 <if test="enterpriseId != null and parentId == null">
        and  maintance.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
      </if>

      <if test="parentId != null">
       and ( maintance.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
        or  maintance.parent_id = #{parentId,jdbcType=BIGINT})
      </if>-->
      <choose>
        <when test="list != null">
          maintance.enterprise_id IN
          <foreach collection="list" index="index" item="item" open="("
                   separator="," close=")">
            #{item}
          </foreach>
        </when>
        <otherwise>
          maintance.enterprise_id=#{enterpriseId}
        </otherwise>
      </choose>

      <if test="typeId != null">and maintance.type_id=#{typeId}</if>

      <if test="key != null  and key != '' ">
        and  (maintance.equipment_code like  concat('%',#{key},'%')
          or maintance.equipment_name like concat('%',#{key},'%')
        )
      </if>
    </where>
    <if test="sort == null and order == null">
      order by maintance.enterprise_code
    </if>
    <if test="order != null">
      order by maintance.${order}  maintance.${sort}
    </if>

    limit #{pageStart}, #{pageSize}
  </select>



  <select id="getMaintancePageCount" resultType="java.lang.Integer">

    select
      count(*)
    from saas_equipment_maintance maintance
    <where>
      <!--1=1 <if test="enterpriseId != null and parentId == null">
        and  maintance.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
      </if>


      <if test="parentId != null">
        and ( maintance.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
        or  maintance.parent_id = #{parentId,jdbcType=BIGINT})
      </if>-->
      <choose>
        <when test="list != null">
          maintance.enterprise_id IN
          <foreach collection="list" index="index" item="item" open="("
                   separator="," close=")">
            #{item}
          </foreach>
        </when>
        <otherwise>
          maintance.enterprise_id=#{enterpriseId}
        </otherwise>
      </choose>

      <if test="typeId != null">and maintance.type_id=#{typeId}</if>

      <if test="key != null  and key != '' ">
        and  (maintance.equipment_code like  concat('%',#{key},'%')
        or maintance.equipment_name like concat('%',#{key},'%')
        )
      </if>
    </where>
    <if test="sort == null and order == null">
      order by maintance.enterprise_code
    </if>
    <if test="order != null">
      order by maintance.${order}  maintance.${sort}
    </if>
  </select>

  <select id="get" parameterType="java.lang.Long" resultMap="MaintanceVOResultMap">
    select
    maintance.id, maintance.enterprise_id, maintance.enterprise_code, maintance.enterprise_name,
    maintance.parent_id, maintance.type_id, maintance.type_code,
    maintance.type_name, maintance.equipment_id, maintance.equipment_code, maintance.equipment_name, maintance.start_date,
    maintance.end_date, maintance.equipment_status,
    maintance.operate_type, maintance.operator_id, maintance.operator_code, maintance.operator_name, maintance.operate_content,
    maintance.operate_result,
    maintance.measures, maintance.file_id, maintance.remark, file.file_name
    from saas_equipment_maintance maintance left join
    saas_file file  on file.id = maintance.file_id
    where maintance.id = #{id}
  </select>

  <select id="getMaintanceByEquipment"  parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_equipment_maintance
    where equipment_id = #{id,jdbcType=BIGINT}
  </select>


  <select id="getEquipmentSimpleVOList" resultType="com.rograndec.feijiayun.chain.business.basic.equipment.vo.EquipmentSimpleVO">

     select  id, code, name

     FROM  saas_equipment
     WHERE type_id = #{typeId}
    <choose>
      <when test="list != null">
        and enterprise_id IN
        <foreach collection="list" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </when>
      <otherwise>
        and enterprise_id=#{enterpriseId}
      </otherwise>
    </choose>

  </select>


  <sql id="whereReportSql">
    <where>
      <!--<if test="1==1">and (a.parent_id=#{enterpriseId} or a.enterprise_id=#{enterpriseId})</if>-->
      <choose>
        <when test="list != null">
          a.enterprise_id IN
          <foreach collection="list" index="index" item="item" open="("
                   separator="," close=")">
            #{item}
          </foreach>
        </when>
        <otherwise>
          a.enterprise_id=#{enterpriseId}
        </otherwise>
      </choose>
      <if test="typeId != null">and a.type_id=#{typeId}</if>
      <if test="code != null and code != ''">
        and (
        a.equipment_code LIKE CONCAT('%',#{code},'%')
        or
        a.equipment_name LIKE CONCAT('%',#{code},'%')
        )
      </if>
      <if test="chainType!=null">AND b.chain_type=#{chainType}</if>
      <if test="enterpriseCode!=null and enterpriseCode!='' ">AND a.enterprise_code LIKE CONCAT('%',#{enterpriseCode},'%')</if>
      <if test="enterpriseName!=null and enterpriseName!='' ">AND a.enterprise_name LIKE CONCAT('%',#{enterpriseName},'%')</if>
    </where>
  </sql>

  <select id="countListEquipmentReportData" parameterType="com.rograndec.feijiayun.chain.business.basic.equipment.vo.RequestEquipmentListVO" resultType="int">
    select
    count(1)
    from saas_equipment_maintance a left join saas_enterprise b
    on b.id=a.enterprise_id
    <include refid="whereReportSql"/>
  </select>

  <select id="listEquipmentReportData" parameterType="com.rograndec.feijiayun.chain.business.basic.equipment.vo.RequestEquipmentListVO" resultMap="BaseResultMap">
    select
    <include refid="Report_Column_List" />
    from saas_equipment_maintance a left join saas_enterprise b
    on b.id=a.enterprise_id
    <include refid="whereReportSql"/>
    <if test="sort != null and sort != ''">
      order by ${sort}
    </if>
    <if test="pageNo != null and pageSize !=null">
      limit #{pageNo},#{pageSize}
    </if>
  </select>

  <select id="listEquipmentPrintData" parameterType="com.rograndec.feijiayun.chain.business.basic.equipment.vo.RequestEquipmentListVO" resultMap="BaseResultMap">
    select
    <include refid="Report_Column_List" />
    from saas_equipment_maintance a left join saas_enterprise b
    on b.id=a.enterprise_id
    <include refid="whereReportSql"/>
    <if test="sort != null and sort != ''">
      order by ${sort}
    </if>
  </select>

</mapper>