<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.retail.saleflow.dao.SaleDetailMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="sale_id" jdbcType="BIGINT" property="saleId" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="sale_code" jdbcType="VARCHAR" property="saleCode" />
    <result column="sale_date" jdbcType="TIMESTAMP" property="saleDate" />
    <result column="base_order_dtl_id" jdbcType="BIGINT" property="baseOrderDtlId" />
    <result column="base_order_id" jdbcType="BIGINT" property="baseOrderId" />
    <result column="base_order_type" jdbcType="INTEGER" property="baseOrderType" />
    <result column="base_order_code" jdbcType="VARCHAR" property="baseOrderCode" />
    <result column="base_order_date" jdbcType="TIMESTAMP" property="baseOrderDate" />
    <result column="clerk_id" jdbcType="BIGINT" property="clerkId" />
    <result column="clerk_code" jdbcType="VARCHAR" property="clerkCode" />
    <result column="clerk_name" jdbcType="VARCHAR" property="clerkName" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_generic_name" jdbcType="VARCHAR" property="goodsGenericName" />
    <result column="dosage_id" jdbcType="BIGINT" property="dosageId" />
    <result column="dosage_name" jdbcType="VARCHAR" property="dosageName" />
    <result column="unit_id" jdbcType="BIGINT" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="goods_specification" jdbcType="VARCHAR" property="goodsSpecification" />
    <result column="manufacturer_id" jdbcType="BIGINT" property="manufacturerId" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="goods_place" jdbcType="VARCHAR" property="goodsPlace" />
    <result column="approval_number" jdbcType="VARCHAR" property="approvalNumber" />
    <result column="single_dose" jdbcType="DECIMAL" property="singleDose" />
    <result column="quantity" jdbcType="DECIMAL" property="quantity" />
    <result column="can_return_quantity" jdbcType="DECIMAL" property="canReturnQuantity" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="line_discount" jdbcType="DECIMAL" property="lineDiscount" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="whole_discount" jdbcType="DECIMAL" property="wholeDiscount" />
    <result column="line_discount_amount" jdbcType="DECIMAL" property="lineDiscountAmount" />
    <result column="real_price" jdbcType="DECIMAL" property="realPrice" />
    <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
    <result column="tax_id" jdbcType="BIGINT" property="taxId" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="notax_real_price" jdbcType="DECIMAL" property="notaxRealPrice" />
    <result column="notax_real_amount" jdbcType="DECIMAL" property="notaxRealAmount" />
    <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
    <result column="profit" jdbcType="DECIMAL" property="profit" />
    <result column="notax_profit" jdbcType="DECIMAL" property="notaxProfit" />
    <result column="profit_rate" jdbcType="DECIMAL" property="profitRate" />
    <result column="notax_profit_rate" jdbcType="DECIMAL" property="notaxProfitRate" />
    <result column="unclear_quantity" jdbcType="DECIMAL" property="unclearQuantity" />
    <result column="clear_quantity" jdbcType="DECIMAL" property="clearQuantity" />
    <result column="royalty_flag" jdbcType="INTEGER" property="royaltyFlag" />
    <result column="this_integral" jdbcType="DECIMAL" property="thisIntegral" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="BaseResultMapDetailForPrescr" type="com.rograndec.feijiayun.chain.business.retail.saleflow.vo.SaleDetailForPrescrVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_generic_name" jdbcType="VARCHAR" property="goodsGenericName" />
    <result column="dosage_name" jdbcType="VARCHAR" property="dosageName" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="goods_specification" jdbcType="VARCHAR" property="goodsSpecification" />
    <result column="goods_place" jdbcType="VARCHAR" property="goodsPlace" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="single_dose" jdbcType="DECIMAL" property="singleDose" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="line_discount" jdbcType="DECIMAL" property="lineDiscount" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="whole_discount" jdbcType="DECIMAL" property="wholeDiscount" />
    <result column="line_discount_amount" jdbcType="DECIMAL" property="lineDiscountAmount" />
    <result column="real_price" jdbcType="DECIMAL" property="realPrice" />
    <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
    <result column="tax_id" jdbcType="BIGINT" property="taxId" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="notax_real_price" jdbcType="DECIMAL" property="notaxRealPrice" />
    <result column="notax_real_amount" jdbcType="DECIMAL" property="notaxRealAmount" />
    <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />

    <collection property="registerDetailForDetailVOList" ofType="com.rograndec.feijiayun.chain.business.retail.prescription.vo.ResponsePrescriptionRegisterShelfForDetailVO">
      <id column="sid" jdbcType="BIGINT" property="id" />
      <result column="lot_id" jdbcType="BIGINT" property="lotNumberId" />
      <result column="lot_number" jdbcType="VARCHAR" property="lotNumber" />
      <result column="product_date" jdbcType="TIMESTAMP" property="productDate" />
      <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
      <result column="shelf_id" jdbcType="BIGINT" property="shelfId" />
      <result column="shelf_name" jdbcType="VARCHAR" property="shelfName" />
      <result column="quantity" jdbcType="DECIMAL" property="quantity" />
    </collection>
  </resultMap>
  
  
  <resultMap id="POSOrderDetailVOResultMap" type="com.rograndec.feijiayun.chain.inf.pos.sale.vo.POSOrderDetailVO">
    <id column="id" jdbcType="BIGINT" property="baseOrderShelfId" />
    <result column="sale_date" jdbcType="TIMESTAMP" property="saleDate" />
    <result column="code" jdbcType="VARCHAR" property="code" />
	<result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
	<result column="goods_generic_name" jdbcType="VARCHAR" property="goodsGenericName" />
	<result column="dosage_name" jdbcType="VARCHAR" property="dosageName" />
	<result column="goods_specification" jdbcType="VARCHAR" property="goodsSpecification" />
	<result column="unit_name" jdbcType="VARCHAR" property="unitName" />
	<result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
	<result column="quantity" jdbcType="DECIMAL" property="quantity" />
	<result column="can_return_quantity" jdbcType="DECIMAL" property="canReturnQuantity" />
	<result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
	<result column="lot_number" jdbcType="VARCHAR" property="lotNumber" />
	<result column="line_num" jdbcType="INTEGER" property="lineNum" />
	<result column="stand_code" jdbcType="VARCHAR" property="standCode" />
    <result column="payee_name" jdbcType="VARCHAR" property="payeeName" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="line_discount" jdbcType="DECIMAL" property="lineDiscount" />
    <result column="product_date" jdbcType="TIMESTAMP" property="productDate" />
    <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
    <result column="clerk_name" jdbcType="VARCHAR" property="clerkName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, sale_id, order_type, sale_code, sale_date, base_order_dtl_id, 
    base_order_id, base_order_type, base_order_code, base_order_date, clerk_id, clerk_code, 
    clerk_name,
    goods_id, goods_code, barcode, goods_name, goods_generic_name, dosage_id, dosage_name, 
    unit_id, unit_name, goods_specification, manufacturer_id, manufacturer, goods_place, 
    approval_number, single_dose,quantity,can_return_quantity, unit_price, line_discount, amount,
    whole_discount, line_discount_amount, real_price, real_amount, tax_id, tax_rate, 
    notax_real_price, notax_real_amount, tax_amount, profit, notax_profit, profit_rate, 
    notax_profit_rate, unclear_quantity, clear_quantity, royalty_flag, this_integral, status, remark, 
    creater_id, creater_code, creater_name, create_time, modifier_id, modifier_code, 
    modifier_name, update_time
  </sql>

  <sql id="ssd_Base_Column_List">
    ssd.id, ssd.enterprise_id, ssd.parent_id, ssd.sale_id, ssd.order_type, ssd.sale_code, ssd.sale_date, ssd.base_order_dtl_id,
    ssd.base_order_id, ssd.base_order_type,
    ssd.base_order_code,
    ssd.base_order_date,
    ssd.clerk_id,
    ssd.clerk_code,
    ssd.clerk_name,
    ssd.goods_id,
    ssd.goods_code,
    ssd.barcode,
    ssd.goods_name,
    ssd.goods_generic_name,
    ssd.dosage_id,
    ssd.dosage_name,
    ssd.unit_id,
    ssd.unit_name,
    ssd.goods_specification, ssd.manufacturer_id, ssd.manufacturer, ssd.goods_place,
    ssd.approval_number,
    ssd.single_dose,
    ssd.quantity,
    ssd.can_return_quantity,
    ssd.unit_price, ssd.line_discount, ssd.amount,
    ssd.whole_discount, ssd.line_discount_amount, ssd.real_price, ssd.real_amount, ssd.tax_id, ssd.tax_rate,
    ssd.notax_real_price, ssd.notax_real_amount, ssd.tax_amount, ssd.profit, ssd.notax_profit, ssd.profit_rate,
    ssd.notax_profit_rate, ssd.unclear_quantity, ssd.clear_quantity, ssd.royalty_flag, ssd.this_integral, ssd.status, ssd.remark,
    ssd.creater_id, ssd.creater_code, ssd.creater_name, ssd.create_time, ssd.modifier_id, ssd.modifier_code,
    ssd.modifier_name, ssd.update_time
  </sql>
  <select id="selectByShiftId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    a.id, a.enterprise_id, a.parent_id, a.sale_id, a.order_type, a.sale_code, a.sale_date, a.base_order_dtl_id,
    a.base_order_id, a.base_order_type, a.base_order_code, a.base_order_date, a.clerk_id, a.clerk_code, a.clerk_name,
    a.goods_id, a.goods_code, a.barcode, a.goods_name, a.goods_generic_name, a.dosage_id, a.dosage_name,
    a.unit_id, a.unit_name, a.goods_specification, a.manufacturer_id, a.manufacturer, a.goods_place,
    a.approval_number, a.single_dose,quantity,can_return_quantity, a.unit_price, a.line_discount, a.amount,
    a.whole_discount, a.line_discount_amount, a.real_price, a.real_amount, a.tax_id, a.tax_rate,
    a.notax_real_price, a.notax_real_amount, a.tax_amount, a.profit, a.notax_profit, a.profit_rate,
    a.notax_profit_rate, a.unclear_quantity, a.clear_quantity, a.royalty_flag, a.this_integral,
    a.status, a.remark, a.creater_id, a.creater_code, a.creater_name, a.create_time, a.modifier_id,
    a.modifier_code, a.modifier_name, a.update_time
    from saas_sale_detail a,saas_sale b,saas_payee_opening_shift_detail c
    where a.sale_id = b.id
    and b.id = c.base_order_id
    and c.doc_id = #{shiftId,jdbcType=BIGINT}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_sale_detail
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_sale_detail
    WHERE enterprise_id = #{enterpriseId,jdbcType=BIGINT} and clerk_id is not null
    <if test="parentId != null">
      or parent_id = #{parentId,jdbcType=BIGINT}
    </if>
    group by clerk_id
  </select>

  <select id="selectUserByParam" resultMap="BaseResultMap">
    select
    <include refid="ssd_Base_Column_List" />
    from saas_sale_detail ssd , saas_user ss
    WHERE ssd.enterprise_id = #{enterpriseId,jdbcType=BIGINT} and ssd.clerk_id = ss.id and ssd.clerk_id is not null
    <if test="param != null">
      and (
      INSTR(ss.name,#{param})
      or INSTR(ss.code,#{param})
      or INSTR(ss.pinyin,#{param})
      )
    </if>
    group by ssd.clerk_id
  </select>

    <select id="selectByIds" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_sale_detail
    where id IN
      <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
      </foreach>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_sale_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleDetail" useGeneratedKeys="true" keyProperty="id">
    insert into saas_sale_detail (id, enterprise_id, parent_id, 
      sale_id, order_type, sale_code, 
      sale_date, base_order_dtl_id, base_order_id, 
      base_order_type, base_order_code, base_order_date, 
      clerk_id, clerk_code, clerk_name, goods_id,
      goods_code, barcode, goods_name, 
      goods_generic_name, dosage_id, dosage_name, 
      unit_id, unit_name, goods_specification, 
      manufacturer_id, manufacturer, goods_place, 
      approval_number, quantity, can_return_quantity, single_dose,
      unit_price, line_discount, amount, 
      whole_discount, line_discount_amount, real_price, 
      real_amount, tax_id, tax_rate, 
      notax_real_price, notax_real_amount, tax_amount, 
      profit, notax_profit, profit_rate, 
      notax_profit_rate, unclear_quantity, clear_quantity, 
      royalty_flag, this_integral, status, remark, 
      creater_id, creater_code, creater_name, 
      create_time, modifier_id, modifier_code, 
      modifier_name, update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{saleId,jdbcType=BIGINT}, #{orderType,jdbcType=INTEGER}, #{saleCode,jdbcType=VARCHAR}, 
      #{saleDate,jdbcType=TIMESTAMP}, #{baseOrderDtlId,jdbcType=BIGINT}, #{baseOrderId,jdbcType=BIGINT}, 
      #{baseOrderType,jdbcType=INTEGER}, #{baseOrderCode,jdbcType=VARCHAR}, #{baseOrderDate,jdbcType=TIMESTAMP}, 
      #{clerkId,jdbcType=BIGINT}, #{clerkCode,jdbcType=VARCHAR}, #{clerkName,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=BIGINT},
      #{goodsCode,jdbcType=VARCHAR}, #{barcode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsGenericName,jdbcType=VARCHAR}, #{dosageId,jdbcType=BIGINT}, #{dosageName,jdbcType=VARCHAR}, 
      #{unitId,jdbcType=BIGINT}, #{unitName,jdbcType=VARCHAR}, #{goodsSpecification,jdbcType=VARCHAR}, 
      #{manufacturerId,jdbcType=BIGINT}, #{manufacturer,jdbcType=VARCHAR}, #{goodsPlace,jdbcType=VARCHAR}, 
      #{approvalNumber,jdbcType=VARCHAR}, #{quantity,jdbcType=DECIMAL}, #{canReturnQuantity,jdbcType=DECIMAL}, #{singleDose,jdbcType=DECIMAL},
      #{unitPrice,jdbcType=DECIMAL}, #{lineDiscount,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{wholeDiscount,jdbcType=DECIMAL}, #{lineDiscountAmount,jdbcType=DECIMAL}, #{realPrice,jdbcType=DECIMAL}, 
      #{realAmount,jdbcType=DECIMAL}, #{taxId,jdbcType=BIGINT}, #{taxRate,jdbcType=DECIMAL}, 
      #{notaxRealPrice,jdbcType=DECIMAL}, #{notaxRealAmount,jdbcType=DECIMAL}, #{taxAmount,jdbcType=DECIMAL}, 
      #{profit,jdbcType=DECIMAL}, #{notaxProfit,jdbcType=DECIMAL}, #{profitRate,jdbcType=DECIMAL}, 
      #{notaxProfitRate,jdbcType=DECIMAL}, #{unclearQuantity,jdbcType=DECIMAL}, #{clearQuantity,jdbcType=DECIMAL}, 
      #{royaltyFlag,jdbcType=INTEGER}, #{thisIntegral,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, 
      #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleDetail" useGeneratedKeys="true" keyProperty="id">
    insert into saas_sale_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="saleId != null">
        sale_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="saleCode != null">
        sale_code,
      </if>
      <if test="saleDate != null">
        sale_date,
      </if>
      <if test="baseOrderDtlId != null">
        base_order_dtl_id,
      </if>
      <if test="baseOrderId != null">
        base_order_id,
      </if>
      <if test="baseOrderType != null">
        base_order_type,
      </if>
      <if test="baseOrderCode != null">
        base_order_code,
      </if>
      <if test="baseOrderDate != null">
        base_order_date,
      </if>
      <if test="clerkId != null">
        clerk_id,
      </if>
      <if test="clerkCode != null">
        clerk_code,
      </if>
      <if test="clerkName != null">
        clerk_name,
      </if>

      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="barcode != null">
        barcode,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsGenericName != null">
        goods_generic_name,
      </if>
      <if test="dosageId != null">
        dosage_id,
      </if>
      <if test="dosageName != null">
        dosage_name,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="goodsSpecification != null">
        goods_specification,
      </if>
      <if test="manufacturerId != null">
        manufacturer_id,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="goodsPlace != null">
        goods_place,
      </if>
      <if test="approvalNumber != null">
        approval_number,
      </if>
      <if test="singleDose != null">
        single_dose,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="canReturnQuantity != null">
        can_return_quantity,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="lineDiscount != null">
        line_discount,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="wholeDiscount != null">
        whole_discount,
      </if>
      <if test="lineDiscountAmount != null">
        line_discount_amount,
      </if>
      <if test="realPrice != null">
        real_price,
      </if>
      <if test="realAmount != null">
        real_amount,
      </if>
      <if test="taxId != null">
        tax_id,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="notaxRealPrice != null">
        notax_real_price,
      </if>
      <if test="notaxRealAmount != null">
        notax_real_amount,
      </if>
      <if test="taxAmount != null">
        tax_amount,
      </if>
      <if test="profit != null">
        profit,
      </if>
      <if test="notaxProfit != null">
        notax_profit,
      </if>
      <if test="profitRate != null">
        profit_rate,
      </if>
      <if test="notaxProfitRate != null">
        notax_profit_rate,
      </if>
      <if test="unclearQuantity != null">
        unclear_quantity,
      </if>
      <if test="clearQuantity != null">
        clear_quantity,
      </if>
      <if test="royaltyFlag != null">
        royalty_flag,
      </if>
      <if test="thisIntegral != null">
        this_integral,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
		create_time,
	  </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="saleId != null">
        #{saleId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="saleCode != null">
        #{saleCode,jdbcType=VARCHAR},
      </if>
      <if test="saleDate != null">
        #{saleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="baseOrderDtlId != null">
        #{baseOrderDtlId,jdbcType=BIGINT},
      </if>
      <if test="baseOrderId != null">
        #{baseOrderId,jdbcType=BIGINT},
      </if>
      <if test="baseOrderType != null">
        #{baseOrderType,jdbcType=INTEGER},
      </if>
      <if test="baseOrderCode != null">
        #{baseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="baseOrderDate != null">
        #{baseOrderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clerkId != null">
        #{clerkId,jdbcType=BIGINT},
      </if>
      <if test="clerkCode != null">
        #{clerkCode,jdbcType=VARCHAR},
      </if>
      <if test="clerkName != null">
        #{clerkName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsGenericName != null">
        #{goodsGenericName,jdbcType=VARCHAR},
      </if>
      <if test="dosageId != null">
        #{dosageId,jdbcType=BIGINT},
      </if>
      <if test="dosageName != null">
        #{dosageName,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=BIGINT},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecification != null">
        #{goodsSpecification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        #{manufacturerId,jdbcType=BIGINT},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="goodsPlace != null">
        #{goodsPlace,jdbcType=VARCHAR},
      </if>
      <if test="approvalNumber != null">
        #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="singleDose != null">
        #{singleDose,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="canReturnQuantity != null">
        #{canReturnQuantity,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineDiscount != null">
        #{lineDiscount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="wholeDiscount != null">
        #{wholeDiscount,jdbcType=DECIMAL},
      </if>
      <if test="lineDiscountAmount != null">
        #{lineDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null">
        #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxId != null">
        #{taxId,jdbcType=BIGINT},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxRealPrice != null">
        #{notaxRealPrice,jdbcType=DECIMAL},
      </if>
      <if test="notaxRealAmount != null">
        #{notaxRealAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="profit != null">
        #{profit,jdbcType=DECIMAL},
      </if>
      <if test="notaxProfit != null">
        #{notaxProfit,jdbcType=DECIMAL},
      </if>
      <if test="profitRate != null">
        #{profitRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxProfitRate != null">
        #{notaxProfitRate,jdbcType=DECIMAL},
      </if>
      <if test="unclearQuantity != null">
        #{unclearQuantity,jdbcType=DECIMAL},
      </if>
      <if test="clearQuantity != null">
        #{clearQuantity,jdbcType=DECIMAL},
      </if>
      <if test="royaltyFlag != null">
        #{royaltyFlag,jdbcType=INTEGER},
      </if>
      <if test="thisIntegral != null">
        #{thisIntegral,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
		#{createTime,jdbcType=TIMESTAMP},
	  </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleDetail">
    update saas_sale_detail
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="saleId != null">
        sale_id = #{saleId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="saleCode != null">
        sale_code = #{saleCode,jdbcType=VARCHAR},
      </if>
      <if test="saleDate != null">
        sale_date = #{saleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="baseOrderDtlId != null">
        base_order_dtl_id = #{baseOrderDtlId,jdbcType=BIGINT},
      </if>
      <if test="baseOrderId != null">
        base_order_id = #{baseOrderId,jdbcType=BIGINT},
      </if>
      <if test="baseOrderType != null">
        base_order_type = #{baseOrderType,jdbcType=INTEGER},
      </if>
      <if test="baseOrderCode != null">
        base_order_code = #{baseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="baseOrderDate != null">
        base_order_date = #{baseOrderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clerkId != null">
        clerk_id = #{clerkId,jdbcType=BIGINT},
      </if>
      <if test="clerkCode != null">
        clerk_code = #{clerkCode,jdbcType=VARCHAR},
      </if>
      <if test="clerkName != null">
        clerk_name = #{clerkName,jdbcType=VARCHAR},
      </if>

      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsGenericName != null">
        goods_generic_name = #{goodsGenericName,jdbcType=VARCHAR},
      </if>
      <if test="dosageId != null">
        dosage_id = #{dosageId,jdbcType=BIGINT},
      </if>
      <if test="dosageName != null">
        dosage_name = #{dosageName,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=BIGINT},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecification != null">
        goods_specification = #{goodsSpecification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        manufacturer_id = #{manufacturerId,jdbcType=BIGINT},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="goodsPlace != null">
        goods_place = #{goodsPlace,jdbcType=VARCHAR},
      </if>
      <if test="approvalNumber != null">
        approval_number = #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="singleDose != null">
        single_dose = #{singleDose,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="canReturnQuantity != null">
        can_return_quantity = #{canReturnQuantity,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineDiscount != null">
        line_discount = #{lineDiscount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="wholeDiscount != null">
        whole_discount = #{wholeDiscount,jdbcType=DECIMAL},
      </if>
      <if test="lineDiscountAmount != null">
        line_discount_amount = #{lineDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null">
        real_price = #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        real_amount = #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxId != null">
        tax_id = #{taxId,jdbcType=BIGINT},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxRealPrice != null">
        notax_real_price = #{notaxRealPrice,jdbcType=DECIMAL},
      </if>
      <if test="notaxRealAmount != null">
        notax_real_amount = #{notaxRealAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        tax_amount = #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="profit != null">
        profit = #{profit,jdbcType=DECIMAL},
      </if>
      <if test="notaxProfit != null">
        notax_profit = #{notaxProfit,jdbcType=DECIMAL},
      </if>
      <if test="profitRate != null">
        profit_rate = #{profitRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxProfitRate != null">
        notax_profit_rate = #{notaxProfitRate,jdbcType=DECIMAL},
      </if>
      <if test="unclearQuantity != null">
        unclear_quantity = #{unclearQuantity,jdbcType=DECIMAL},
      </if>
      <if test="clearQuantity != null">
        clear_quantity = #{clearQuantity,jdbcType=DECIMAL},
      </if>
      <if test="royaltyFlag != null">
        royalty_flag = #{royaltyFlag,jdbcType=INTEGER},
      </if>
      <if test="thisIntegral != null">
        this_integral = #{thisIntegral,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleDetail">
    update saas_sale_detail
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      sale_id = #{saleId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=INTEGER},
      sale_code = #{saleCode,jdbcType=VARCHAR},
      sale_date = #{saleDate,jdbcType=TIMESTAMP},
      base_order_dtl_id = #{baseOrderDtlId,jdbcType=BIGINT},
      base_order_id = #{baseOrderId,jdbcType=BIGINT},
      base_order_type = #{baseOrderType,jdbcType=INTEGER},
      base_order_code = #{baseOrderCode,jdbcType=VARCHAR},
      base_order_date = #{baseOrderDate,jdbcType=TIMESTAMP},
      clerk_id = #{clerkId,jdbcType=BIGINT},
      clerk_code = #{clerkCode,jdbcType=VARCHAR},
      clerk_name = #{clerkName,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_generic_name = #{goodsGenericName,jdbcType=VARCHAR},
      dosage_id = #{dosageId,jdbcType=BIGINT},
      dosage_name = #{dosageName,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=BIGINT},
      unit_name = #{unitName,jdbcType=VARCHAR},
      goods_specification = #{goodsSpecification,jdbcType=VARCHAR},
      manufacturer_id = #{manufacturerId,jdbcType=BIGINT},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      goods_place = #{goodsPlace,jdbcType=VARCHAR},
      approval_number = #{approvalNumber,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=DECIMAL},
      can_return_quantity = #{canReturnQuantity,jdbcType=DECIMAL},
      single_dose = #{singleDose,jdbcType=DECIMAL},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      line_discount = #{lineDiscount,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      whole_discount = #{wholeDiscount,jdbcType=DECIMAL},
      line_discount_amount = #{lineDiscountAmount,jdbcType=DECIMAL},
      real_price = #{realPrice,jdbcType=DECIMAL},
      real_amount = #{realAmount,jdbcType=DECIMAL},
      tax_id = #{taxId,jdbcType=BIGINT},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      notax_real_price = #{notaxRealPrice,jdbcType=DECIMAL},
      notax_real_amount = #{notaxRealAmount,jdbcType=DECIMAL},
      tax_amount = #{taxAmount,jdbcType=DECIMAL},
      profit = #{profit,jdbcType=DECIMAL},
      notax_profit = #{notaxProfit,jdbcType=DECIMAL},
      profit_rate = #{profitRate,jdbcType=DECIMAL},
      notax_profit_rate = #{notaxProfitRate,jdbcType=DECIMAL},
      unclear_quantity = #{unclearQuantity,jdbcType=DECIMAL},
      clear_quantity = #{clearQuantity,jdbcType=DECIMAL},
      royalty_flag = #{royaltyFlag,jdbcType=INTEGER},
      this_integral = #{thisIntegral,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <update id="updateRoyaltyFlag" parameterType="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleDetail">
    update saas_sale_detail
    set
    royalty_flag = #{royaltyFlag,jdbcType=INTEGER},
    modifier_id = #{modifierId,jdbcType=BIGINT},
    modifier_code = #{modifierCode,jdbcType=VARCHAR},
    modifier_name = #{modifierName,jdbcType=VARCHAR},
    update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getSaleDetailForPrescrBySaleId" resultMap="BaseResultMapDetailForPrescr">
    SELECT

    detail.id,detail.goods_id, detail.goods_code, detail.goods_generic_name,  detail.dosage_name,
    detail.unit_name, detail.goods_specification, detail.goods_place,detail.manufacturer,
    detail.single_dose,detail.unit_price, detail.line_discount,
    detail.amount, detail.whole_discount, detail.line_discount_amount, detail.real_price, detail.real_amount,detail.tax_id, detail.tax_rate,
    detail.notax_real_price, detail.notax_real_amount, detail.tax_amount,



    shelf.id as sid,shelf.lot_id,shelf.lot_number,
    shelf.product_date,shelf.valid_date,shelf.shelf_id,shelf.shelf_name,shelf.quantity

    FROM

    saas_sale_detail detail
    LEFT JOIN saas_sale_shelf shelf ON detail.id = shelf.sale_dtl_id and detail.goods_id = shelf.goods_id

    WHERE
    1 = 1
    AND detail.enterprise_id = #{enterpriseId}
    and detail.sale_id = #{saleId}
  </select>



  <!--根据销售单id查询所有专管药品明细-->
  <select id="getSaleDetailBySaleId" resultMap="BaseResultMap" parameterType="long">
    select
      ssd.id,
      ssd.enterprise_id,
      ssd.parent_id,
      ssd.sale_id,
      ssd.order_type,
      ssd.sale_code,
      ssd.sale_date,
      ssd.base_order_dtl_id,
      ssd.base_order_id,
      ssd.base_order_type,
      ssd.base_order_code,
      ssd.base_order_date,
      ssd.clerk_id,
      ssd.clerk_code,
      ssd.clerk_name,
      ssd.goods_id,
      ssd.goods_code,
      ssd.barcode,
      ssd.goods_name,
      ssd.goods_generic_name,
      ssd.dosage_id,
      ssd.dosage_name,
      ssd.unit_id,
      ssd.unit_name,
      ssd.goods_specification,
      ssd.manufacturer_id,
      ssd.manufacturer,
      ssd.goods_place,
      ssd.approval_number,
      ssd.single_dose,
      ssd.quantity,
      ssd.unit_price,
      ssd.line_discount,
      ssd.amount,
      ssd.whole_discount,
      ssd.line_discount_amount,
      ssd.real_price,
      ssd.real_amount,
      ssd.tax_id,
      ssd.tax_rate,
      ssd.notax_real_price,
      ssd.notax_real_amount,
      ssd.tax_amount,
      ssd.profit,
      ssd.notax_profit,
      ssd.profit_rate,
      ssd.notax_profit_rate,
      ssd.unclear_quantity,
      ssd.clear_quantity,
      ssd.royalty_flag,
      ssd.status,
      ssd.remark,
      ssd.creater_id,
      ssd.creater_code,
      ssd.creater_name,
      ssd.create_time,
      ssd.modifier_id,
      ssd.modifier_code,
      ssd.modifier_name,
      ssd.update_time
    from saas_sale_detail ssd
    left join saas_goods  sg on sg.id=ssd.goods_id
    where sale_id = #{id,jdbcType=BIGINT}
    and sg.in_charge_drug is not null
  </select>
  
  <select id="selectOrderDetailPageDataByParam" resultMap="POSOrderDetailVOResultMap">
    select 
    	sh.id, d.sale_date, s.code, d.goods_code, d.goods_generic_name, 
    	d.dosage_name, d.goods_specification, d.unit_name, d.manufacturer,
    	d.quantity, d.can_return_quantity,d.real_amount, sh.lot_number, sh.line_num, s.stand_code,
    	s.payee_name, d.unit_price, d.line_discount, sh.product_date,
    	sh.valid_date, d.clerk_name
    from saas_sale_shelf sh left join saas_sale_detail d
    		on sh.sale_dtl_id = d.id
    	left join saas_sale s
    		on sh.sale_id = s.id 
    	left join saas_goods g
    		on d.goods_id = g.id	
    where sh.enterprise_id = #{enterpriseId}
    	and sh.can_return_quantity > 0
    <if test="saleType != null">
    	and s.sale_type = #{saleType}
    </if>
    <if test="param.startDate != null">  
    	and s.sale_date >= #{param.startDate}
    </if>
    <if test="param.endDate != null">  
    	AND date_format(s.sale_date, '%Y-%m-%d') &lt;= #{param.endDate}
    </if>
    <if test="param.code != null and param.code != ''">  
    	AND (s.code like '%${param.code}%'
    		or d.goods_code like '%${param.code}%'
    		or d.barcode like '%${param.code}%'
    		or g.pinyin_code like '%${param.code}%'
    	)
    </if>
    	order by sh.id desc
    <if test="start != null">  	
		limit #{start}, #{pageSize}	
	</if>	
  </select>
  
  <select id="queryOrderDetailCountByParam" resultType ="java.lang.Long">
    select 
    	count(1)
    	from saas_sale_detail d
    	left join saas_sale s
    		on d.sale_id = s.id 
    	left join saas_goods g
    		on d.goods_id = g.id	
    where d.enterprise_id = #{enterpriseId}
    <if test="saleType != null">
    	and s.sale_type = #{saleType}
    </if>
    <if test="param.startDate != null">  
    	and s.sale_date >= #{param.startDate}
    </if>
    <if test="param.endDate != null">  
    	AND date_format(s.sale_date, '%Y-%m-%d') &lt;= #{param.endDate}
    </if>
    <if test="param.code != null and param.code != ''">  
    	AND (s.code like '%${param.code}%'
    		or d.goods_code like '%${param.code}%'
    		or d.barcode like '%${param.code}%'
    		or g.pinyin_code like '%${param.code}%'
    	)
    </if>
  </select>
    <select id="selectHasClerk" resultType="java.lang.Integer">
      SELECT COUNT(id)
      FROM saas_sale_detail
      WHERE clerk_id = #{id}
    </select>
    
    <select id="getHasClerk" resultType="java.lang.Integer">
      SELECT COUNT(id)
      FROM saas_sale_detail
      WHERE clerk_id = #{id}
    </select>
    
    <select id="getHasCargo" resultType="java.lang.String">
     SELECT 1 FROM `saas_sale_detail` dtl
	 LEFT JOIN `saas_sale_shelf` shelf ON dtl.`id` = shelf.`sale_dtl_id`
	 WHERE 1=1 AND dtl.`clerk_id`= #{id} AND shelf.`shelf_id` = #{shelfId} LIMIT 1
    </select>
</mapper>