<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.retail.saleflow.dao.SaleShelfMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleShelf">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="sale_dtl_id" jdbcType="BIGINT" property="saleDtlId" />
    <result column="sale_id" jdbcType="BIGINT" property="saleId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="lot_id" jdbcType="BIGINT" property="lotId" />
    <result column="lot_number" jdbcType="VARCHAR" property="lotNumber" />
    <result column="product_date" jdbcType="TIMESTAMP" property="productDate" />
    <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
    <result column="shelf_id" jdbcType="BIGINT" property="shelfId" />
    <result column="shelf_name" jdbcType="VARCHAR" property="shelfName" />
    <result column="quantity" jdbcType="DECIMAL" property="quantity" />
    <result column="can_return_quantity" jdbcType="DECIMAL" property="canReturnQuantity" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="line_discount" jdbcType="DECIMAL" property="lineDiscount" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="whole_discount" jdbcType="DECIMAL" property="wholeDiscount" />
    <result column="line_discount_amount" jdbcType="DECIMAL" property="lineDiscountAmount" />
    <result column="real_price" jdbcType="DECIMAL" property="realPrice" />
    <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
    <result column="tax_rate_id" jdbcType="BIGINT" property="taxRateId" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="notax_real_price" jdbcType="DECIMAL" property="notaxRealPrice" />
    <result column="notax_real_amount" jdbcType="DECIMAL" property="notaxRealAmount" />
    <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
    <result column="profit" jdbcType="DECIMAL" property="profit" />
    <result column="notax_profit" jdbcType="DECIMAL" property="notaxProfit" />
    <result column="profit_rate" jdbcType="DECIMAL" property="profitRate" />
    <result column="notax_profit_rate" jdbcType="DECIMAL" property="notaxProfitRate" />
    <result column="this_integral" jdbcType="DECIMAL" property="thisIntegral" />
    <result column="unclear_quantity" jdbcType="DECIMAL" property="unclearQuantity" />
    <result column="clear_quantity" jdbcType="DECIMAL" property="clearQuantity" />
    <result column="verification_quantity" jdbcType="DECIMAL" property="verificationQuantity" />
    <result column="unverification_quantity" jdbcType="DECIMAL" property="unverificationQuantity" />
    <result column="line_num" jdbcType="INTEGER" property="lineNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, sale_dtl_id, sale_id, goods_id,goods_code, goods_name, lot_id, lot_number,
    product_date, valid_date, shelf_id, shelf_name, quantity, can_return_quantity, unit_price, line_discount, 
    amount, whole_discount, line_discount_amount, real_price, real_amount, tax_rate_id, 
    tax_rate, notax_real_price, notax_real_amount, tax_amount, profit, notax_profit, 
    profit_rate, notax_profit_rate, this_integral, unclear_quantity, clear_quantity, verification_quantity, unverification_quantity, line_num, status,
    remark, creater_id, creater_code, creater_name, create_time, modifier_id, modifier_code, 
    modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_sale_shelf
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_sale_shelf
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleShelf">
    insert into saas_sale_shelf (id, enterprise_id, parent_id, 
      sale_dtl_id, sale_id, goods_id, goods_code, goods_name,
      lot_id, lot_number, product_date, 
      valid_date, shelf_id, shelf_name, 
      quantity, can_return_quantity, unit_price, line_discount, 
      amount, whole_discount, line_discount_amount, 
      real_price, real_amount, tax_rate_id, 
      tax_rate, notax_real_price, notax_real_amount, 
      tax_amount, profit, notax_profit, 
      profit_rate, notax_profit_rate, this_integral, unclear_quantity, 
      clear_quantity, verification_quantity, unverification_quantity, line_num, status,
      remark, creater_id, creater_code, 
      creater_name, create_time, modifier_id, 
      modifier_code, modifier_name, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{saleDtlId,jdbcType=BIGINT}, #{saleId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{goodsCode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR},
      #{lotId,jdbcType=BIGINT}, #{lotNumber,jdbcType=VARCHAR}, #{productDate,jdbcType=TIMESTAMP}, 
      #{validDate,jdbcType=TIMESTAMP}, #{shelfId,jdbcType=BIGINT}, #{shelfName,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=DECIMAL}, #{canReturnQuantity,jdbcType=DECIMAL}, #{unitPrice,jdbcType=DECIMAL}, #{lineDiscount,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{wholeDiscount,jdbcType=DECIMAL}, #{lineDiscountAmount,jdbcType=DECIMAL}, 
      #{realPrice,jdbcType=DECIMAL}, #{realAmount,jdbcType=DECIMAL}, #{taxRateId,jdbcType=BIGINT}, 
      #{taxRate,jdbcType=DECIMAL}, #{notaxRealPrice,jdbcType=DECIMAL}, #{notaxRealAmount,jdbcType=DECIMAL}, 
      #{taxAmount,jdbcType=DECIMAL}, #{profit,jdbcType=DECIMAL}, #{notaxProfit,jdbcType=DECIMAL}, 
      #{profitRate,jdbcType=DECIMAL}, #{notaxProfitRate,jdbcType=DECIMAL}, #{thisIntegral,jdbcType=DECIMAL}, #{unclearQuantity,jdbcType=DECIMAL}, 
      #{clearQuantity,jdbcType=DECIMAL}, #{verificationQuantity,jdbcType=DECIMAL}, #{unverificationQuantity,jdbcType=DECIMAL},
      #{lineNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, 
      #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, 
      #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleShelf" useGeneratedKeys="true" keyProperty="id">
    insert into saas_sale_shelf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="saleDtlId != null">
        sale_dtl_id,
      </if>
      <if test="saleId != null">
        sale_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="lotId != null">
        lot_id,
      </if>
      <if test="lotNumber != null">
        lot_number,
      </if>
      <if test="productDate != null">
        product_date,
      </if>
      <if test="validDate != null">
        valid_date,
      </if>
      <if test="shelfId != null">
        shelf_id,
      </if>
      <if test="shelfName != null">
        shelf_name,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="canReturnQuantity != null">
        can_return_quantity,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="lineDiscount != null">
        line_discount,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="wholeDiscount != null">
        whole_discount,
      </if>
      <if test="lineDiscountAmount != null">
        line_discount_amount,
      </if>
      <if test="realPrice != null">
        real_price,
      </if>
      <if test="realAmount != null">
        real_amount,
      </if>
      <if test="taxRateId != null">
        tax_rate_id,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="notaxRealPrice != null">
        notax_real_price,
      </if>
      <if test="notaxRealAmount != null">
        notax_real_amount,
      </if>
      <if test="taxAmount != null">
        tax_amount,
      </if>
      <if test="profit != null">
        profit,
      </if>
      <if test="notaxProfit != null">
        notax_profit,
      </if>
      <if test="profitRate != null">
        profit_rate,
      </if>
      <if test="notaxProfitRate != null">
        notax_profit_rate,
      </if>
      <if test="thisIntegral != null">
        this_integral,
      </if>
      <if test="unclearQuantity != null">
        unclear_quantity,
      </if>
      <if test="clearQuantity != null">
        clear_quantity,
      </if>
      <if test="verificationQuantity != null">
        verification_quantity,
      </if>
      <if test="unverificationQuantity != null">
        unverification_quantity,
      </if>
      <if test="lineNum != null">
        line_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
		create_time,
	  </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="saleDtlId != null">
        #{saleDtlId,jdbcType=BIGINT},
      </if>
      <if test="saleId != null">
        #{saleId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="lotId != null">
        #{lotId,jdbcType=BIGINT},
      </if>
      <if test="lotNumber != null">
        #{lotNumber,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null">
        #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDate != null">
        #{validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shelfId != null">
        #{shelfId,jdbcType=BIGINT},
      </if>
      <if test="shelfName != null">
        #{shelfName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="canReturnQuantity != null">
        #{canReturnQuantity,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineDiscount != null">
        #{lineDiscount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="wholeDiscount != null">
        #{wholeDiscount,jdbcType=DECIMAL},
      </if>
      <if test="lineDiscountAmount != null">
        #{lineDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null">
        #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxRateId != null">
        #{taxRateId,jdbcType=BIGINT},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxRealPrice != null">
        #{notaxRealPrice,jdbcType=DECIMAL},
      </if>
      <if test="notaxRealAmount != null">
        #{notaxRealAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="profit != null">
        #{profit,jdbcType=DECIMAL},
      </if>
      <if test="notaxProfit != null">
        #{notaxProfit,jdbcType=DECIMAL},
      </if>
      <if test="profitRate != null">
        #{profitRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxProfitRate != null">
        #{notaxProfitRate,jdbcType=DECIMAL},
      </if>
      <if test="thisIntegral != null">
        #{thisIntegral,jdbcType=DECIMAL},
      </if>
      <if test="unclearQuantity != null">
        #{unclearQuantity,jdbcType=DECIMAL},
      </if>
      <if test="clearQuantity != null">
        #{clearQuantity,jdbcType=DECIMAL},
      </if>
      <if test="verificationQuantity != null">
        #{verificationQuantity,jdbcType=DECIMAL},
      </if>
      <if test="unverificationQuantity != null">
        #{unverificationQuantity,jdbcType=DECIMAL},
      </if>
      <if test="lineNum != null">
        #{lineNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
		#{createTime,jdbcType=TIMESTAMP},
	  </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleShelf">
    update saas_sale_shelf
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="saleDtlId != null">
        sale_dtl_id = #{saleDtlId,jdbcType=BIGINT},
      </if>
      <if test="saleId != null">
        sale_id = #{saleId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="lotId != null">
        lot_id = #{lotId,jdbcType=BIGINT},
      </if>
      <if test="lotNumber != null">
        lot_number = #{lotNumber,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null">
        product_date = #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDate != null">
        valid_date = #{validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shelfId != null">
        shelf_id = #{shelfId,jdbcType=BIGINT},
      </if>
      <if test="shelfName != null">
        shelf_name = #{shelfName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="canReturnQuantity != null">
      	can_return_quantity = #{canReturnQuantity,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineDiscount != null">
        line_discount = #{lineDiscount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="wholeDiscount != null">
        whole_discount = #{wholeDiscount,jdbcType=DECIMAL},
      </if>
      <if test="lineDiscountAmount != null">
        line_discount_amount = #{lineDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null">
        real_price = #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        real_amount = #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxRateId != null">
        tax_rate_id = #{taxRateId,jdbcType=BIGINT},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxRealPrice != null">
        notax_real_price = #{notaxRealPrice,jdbcType=DECIMAL},
      </if>
      <if test="notaxRealAmount != null">
        notax_real_amount = #{notaxRealAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        tax_amount = #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="profit != null">
        profit = #{profit,jdbcType=DECIMAL},
      </if>
      <if test="notaxProfit != null">
        notax_profit = #{notaxProfit,jdbcType=DECIMAL},
      </if>
      <if test="profitRate != null">
        profit_rate = #{profitRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxProfitRate != null">
        notax_profit_rate = #{notaxProfitRate,jdbcType=DECIMAL},
      </if>
      <if test="thisIntegral != null">
        this_integral = #{thisIntegral,jdbcType=DECIMAL},
      </if>
      <if test="unclearQuantity != null">
        unclear_quantity = #{unclearQuantity,jdbcType=DECIMAL},
      </if>
      <if test="clearQuantity != null">
        clear_quantity = #{clearQuantity,jdbcType=DECIMAL},
      </if>
      <if test="verificationQuantity != null">
        verification_quantity = #{verificationQuantity,jdbcType=DECIMAL},
      </if>
      <if test="unverificationQuantity != null">
        unverification_quantity = #{unverificationQuantity,jdbcType=DECIMAL},
      </if>
      <if test="lineNum != null">
        line_num = #{lineNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.retail.saleflow.entity.SaleShelf">
    update saas_sale_shelf
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      sale_dtl_id = #{saleDtlId,jdbcType=BIGINT},
      sale_id = #{saleId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      lot_id = #{lotId,jdbcType=BIGINT},
      lot_number = #{lotNumber,jdbcType=VARCHAR},
      product_date = #{productDate,jdbcType=TIMESTAMP},
      valid_date = #{validDate,jdbcType=TIMESTAMP},
      shelf_id = #{shelfId,jdbcType=BIGINT},
      shelf_name = #{shelfName,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=DECIMAL},
      can_return_quantity = #{canReturnQuantity,jdbcType=DECIMAL},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      line_discount = #{lineDiscount,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      whole_discount = #{wholeDiscount,jdbcType=DECIMAL},
      line_discount_amount = #{lineDiscountAmount,jdbcType=DECIMAL},
      real_price = #{realPrice,jdbcType=DECIMAL},
      real_amount = #{realAmount,jdbcType=DECIMAL},
      tax_rate_id = #{taxRateId,jdbcType=BIGINT},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      notax_real_price = #{notaxRealPrice,jdbcType=DECIMAL},
      notax_real_amount = #{notaxRealAmount,jdbcType=DECIMAL},
      tax_amount = #{taxAmount,jdbcType=DECIMAL},
      profit = #{profit,jdbcType=DECIMAL},
      notax_profit = #{notaxProfit,jdbcType=DECIMAL},
      profit_rate = #{profitRate,jdbcType=DECIMAL},
      notax_profit_rate = #{notaxProfitRate,jdbcType=DECIMAL},
      this_integral = #{thisIntegral,jdbcType=DECIMAL},
      unclear_quantity = #{unclearQuantity,jdbcType=DECIMAL},
      clear_quantity = #{clearQuantity,jdbcType=DECIMAL},
      verification_quantity = #{verificationQuantity,jdbcType=DECIMAL},
      unverification_quantity = #{unverificationQuantity,jdbcType=DECIMAL},
      line_num = #{lineNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getSaleShelfByDetailId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_sale_shelf
    where sale_dtl_id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="queryByGidAndLotIdAndShelfIdAndLineNum" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_sale_shelf
    where enterprise_id = #{enterpriseId}
    and goods_id = #{goodsId}
    and lot_id = #{lotId}
    and shelf_id = #{shelfId}
    and line_num = #{oldLineNum}
    and sale_id in (select id from saas_sale where enterprise_id = #{enterpriseId} 
    and code = #{baseOrderCode})
  </select>

  <select id="queryBySaleIdAndEnterpriseId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_sale_shelf
    where sale_id = #{saleId,jdbcType=BIGINT}
      and enterprise_id = #{enterpriseId,jdbcType=BIGINT}
  </select>

  <select id="selectSaleShelfToVerificationByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_sale_shelf
    where goods_id=#{goodsId,jdbcType=BIGINT}
    and lot_number=#{lotNumber,jdbcType=BIGINT}
    <if test="enterpriseId != null">
      and enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    </if>
    <if test="parentId != null">
      and parent_id = #{parentId,jdbcType=BIGINT}
      and enterprise_id in (
        SELECT se.id from saas_enterprise se where se.chain_type=1
      )
    </if>
    and quantity>verification_quantity
    and unverification_quantity>0
    and create_time &gt;=  #{startDate,jdbcType=TIMESTAMP}
    and create_time &lt;=  #{endDate,jdbcType=TIMESTAMP}
    ORDER BY create_time
  </select>

  <select id="selectSaleShelfToWriteOffByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_sale_shelf
    where goods_id=#{goodsId,jdbcType=BIGINT}
    and lot_number=#{lotNumber,jdbcType=BIGINT}
    <if test="enterpriseId != null">
      and enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    </if>
    <if test="parentId != null">
      and parent_id = #{parentId,jdbcType=BIGINT}
      and enterprise_id in (
      SELECT se.id from saas_enterprise se where se.chain_type=1
      )
    </if>
    and verification_quantity>0
    and create_time &gt;=  #{startDate,jdbcType=TIMESTAMP}
    and create_time &lt;=  #{endDate,jdbcType=TIMESTAMP}
    ORDER BY create_time desc
  </select>
  <select id="saleShelfReturnBySaleOutShelfId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_sale_shelf
    where sale_dtl_id in (
      select ssd.id from saas_sale_detail ssd
      where ssd.base_order_dtl_id in(
        select sss1.sale_dtl_id from saas_sale_shelf sss1 where sss1.id=#{id,jdbcType=BIGINT}
      )
    )
  </select>




</mapper>