<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.dao.VerificationFormMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.entity.VerificationForm">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_code" jdbcType="VARCHAR" property="operatorCode" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="finance_account_type" jdbcType="INTEGER" property="financeAccountType" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="start_sale_date" jdbcType="TIMESTAMP" property="startSaleDate" />
    <result column="end_sale_date" jdbcType="TIMESTAMP" property="endSaleDate" />
    <result column="amount_total" jdbcType="DECIMAL" property="amountTotal" />
    <result column="notax_amount_total" jdbcType="DECIMAL" property="notaxAmountTotal" />
    <result column="tax_amount_total" jdbcType="DECIMAL" property="taxAmountTotal" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="VerificationFormVO" type="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.vo.VerificationFormVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_code" jdbcType="VARCHAR" property="operatorCode" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="finance_account_type" jdbcType="INTEGER" property="financeAccountType" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="start_sale_date" jdbcType="TIMESTAMP" property="startSaleDate" />
    <result column="end_sale_date" jdbcType="TIMESTAMP" property="endSaleDate" />
    <result column="amount_total" jdbcType="DECIMAL" property="amountTotal" />
    <result column="notax_amount_total" jdbcType="DECIMAL" property="notaxAmountTotal" />
    <result column="tax_amount_total" jdbcType="DECIMAL" property="taxAmountTotal" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, code, order_type, order_date, operator_id, operator_code, 
    operator_name,finance_account_type, supplier_id, supplier_code, supplier_name, start_sale_date, end_sale_date,
    amount_total, notax_amount_total, tax_amount_total, status, remark, creater_id, creater_code, 
    creater_name, create_time, modifier_id, modifier_code, modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_verification_form
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_verification_form
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.entity.VerificationForm" useGeneratedKeys="true" keyProperty="id">
    insert into saas_verification_form (id, enterprise_id, parent_id, 
      code, order_type, order_date, 
      operator_id, operator_code, operator_name, finance_account_type,
      supplier_id, supplier_code, supplier_name, 
      start_sale_date, end_sale_date, amount_total, 
      notax_amount_total, tax_amount_total, status, 
      remark, creater_id, creater_code, 
      creater_name, create_time, modifier_id, 
      modifier_code, modifier_name, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{code,jdbcType=VARCHAR}, #{orderType,jdbcType=INTEGER}, #{orderDate,jdbcType=TIMESTAMP}, 
      #{operatorId,jdbcType=BIGINT}, #{operatorCode,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR},#{financeAccountType,jdbcType=INTEGER},
      #{supplierId,jdbcType=BIGINT}, #{supplierCode,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, 
      #{startSaleDate,jdbcType=TIMESTAMP}, #{endSaleDate,jdbcType=TIMESTAMP}, #{amountTotal,jdbcType=DECIMAL}, 
      #{notaxAmountTotal,jdbcType=DECIMAL}, #{taxAmountTotal,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, 
      #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, 
      #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.entity.VerificationForm" useGeneratedKeys="true" keyProperty="id">
    insert into saas_verification_form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderDate != null">
        order_date,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorCode != null">
        operator_code,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="financeAccountType != null">
        finance_account_type,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="supplierCode != null">
        supplier_code,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="startSaleDate != null">
        start_sale_date,
      </if>
      <if test="endSaleDate != null">
        end_sale_date,
      </if>
      <if test="amountTotal != null">
        amount_total,
      </if>
      <if test="notaxAmountTotal != null">
        notax_amount_total,
      </if>
      <if test="taxAmountTotal != null">
        tax_amount_total,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorCode != null">
        #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="financeAccountType != null">
        #{financeAccountType,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierCode != null">
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="startSaleDate != null">
        #{startSaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endSaleDate != null">
        #{endSaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="amountTotal != null">
        #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="notaxAmountTotal != null">
        #{notaxAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="taxAmountTotal != null">
        #{taxAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.entity.VerificationForm">
    update saas_verification_form
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null">
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorCode != null">
        operator_code = #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="financeAccountType != null">
        finance_account_type = #{financeAccountType,jdbcType=INTEGER},
      </if>

      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="startSaleDate != null">
        start_sale_date = #{startSaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endSaleDate != null">
        end_sale_date = #{endSaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="amountTotal != null">
        amount_total = #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="notaxAmountTotal != null">
        notax_amount_total = #{notaxAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="taxAmountTotal != null">
        tax_amount_total = #{taxAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.entity.VerificationForm">
    update saas_verification_form
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=INTEGER},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_code = #{operatorCode,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      finance_account_type = #{financeAccountType,jdbcType=INTEGER},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      start_sale_date = #{startSaleDate,jdbcType=TIMESTAMP},
      end_sale_date = #{endSaleDate,jdbcType=TIMESTAMP},
      amount_total = #{amountTotal,jdbcType=DECIMAL},
      notax_amount_total = #{notaxAmountTotal,jdbcType=DECIMAL},
      tax_amount_total = #{taxAmountTotal,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 查询核销单的count-->
  <select id="getVerificationFormVOCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select
      count(1)
    from saas_verification_form
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    <if test="supplierCode != null">
      and supplier_code = #{supplierCode,jdbcType=BIGINT}
    </if>
    <if test="supplierName != null">
      and supplier_name like concat('%', #{supplierName},'%')
    </if>
    <if test="operatorName != null">
      and operator_name = #{operatorName,jdbcType=BIGINT}
    </if>
    <if test="code != null">
      and code = #{code,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="startDate != null" >
      and order_date &gt;=  #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate != null" >
      and order_date &lt;=  #{endDate,jdbcType=TIMESTAMP}
    </if>
  </select>

  <!-- 查询核销单的列表-->
  <select id="getVerificationFormVOCountList" parameterType="java.util.Map" resultMap="VerificationFormVO">
    select
    <include refid="Base_Column_List" />
    from saas_verification_form
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    <if test="supplierCode != null">
      and supplier_code = #{supplierCode,jdbcType=BIGINT}
    </if>
    <if test="supplierName != null">
      and supplier_name like concat('%', #{supplierName},'%')
    </if>
    <if test="operatorName != null">
      and operator_name = #{operatorName,jdbcType=BIGINT}
    </if>
    <if test="code != null">
      and code = #{code,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="startDate != null" >
      and order_date &gt;=  #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate != null" >
      and order_date &lt;=  #{endDate,jdbcType=TIMESTAMP}
    </if>
    <choose>
      <when test="sortField != null and sort != null">
        order by ${sortField}  ${sort}
      </when>
      <otherwise>
        order by create_time desc
      </otherwise>
    </choose>
    limit ${start},${pageSize}
  </select>

  <!-- 销售清单 -->
  <select id="getSaleOut" parameterType="java.util.Map" resultType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.vo.SaleOutORreturnVO">
    SELECT
    shelf.lot_number as lotNumber,
    sum(shelf.verification_quantity) as verificationQuantity,
    sum(shelf.unverification_quantity) as unverificationQuantity,
    sum(shelf.quantity) as quantity ,
    DATE_FORMAT(shelf.product_date,'%Y-%m-%d')  AS productDate,
    DATE_FORMAT(shelf.valid_date,'%Y-%m-%d')  AS validDate,
    goods.id as goodsId,
    goods.code AS goodsCode,
    goods.barcode,
    goods.name AS goodsName,
    goods.generic_name AS goodsGenericName,
    goods.dosage_id AS dosageId,
    goods.dosage_name AS dosageName,
    goods.unit_id AS unitId,
    goods.unit_name AS unitName,
    goods.specification as goodsSpecification,
    goods.manufacturer_id AS manufacturerId,
    goods.manufacturer,
    goods.place AS goodsPlace,
    goods.approval_number AS approvalNumber
    FROM
    saas_sale sale
    JOIN saas_sale_detail dtl
    ON dtl.`sale_id` = sale.id
    JOIN saas_sale_shelf shelf
    ON shelf.sale_dtl_id = dtl.id
    AND shelf.`sale_id` = sale.`id`
    JOIN saas_goods goods
    ON shelf.goods_id = goods.`id`

    WHERE

      sale.order_type=6204
    <if test="enterpriseId != null">
      and sale.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
      and goods.id in(
        select shelf.goods_id from saas_distr_in_shelf shelf
        left join saas_distr_in_detail detail on shelf.dtl_id= detail.id
        left join saas_distr_in sdi on sdi.id=detail.in_id
        where sdi.outbound_unit_id= #{supplierId,jdbcType=BIGINT}
        and sdi.distr_type=4
        and shelf.unverification_quantity>0
      )
      and shelf.lot_number in(
        select shelf.lot_number from saas_distr_in_shelf shelf
        left join saas_distr_in_detail detail on shelf.dtl_id= detail.id
        left join saas_distr_in sdi on sdi.id=detail.in_id
        where sdi.outbound_unit_id= #{supplierId,jdbcType=BIGINT}
        and sdi.distr_type=4
        and shelf.unverification_quantity>0
      )
    </if>
    <if test="parentId != null">
      and sale.parent_id = #{parentId,jdbcType=BIGINT}
      and sale.enterprise_id in (
      SELECT se.id from saas_enterprise se where se.chain_type=1
      )
      and goods.id in(
        select
        spiss.goods_id
        from
        saas_purchase_in_storage_shelf spiss
        LEFT JOIN saas_purchase_in_storage_detail spisd ON spisd.id = spiss.in_storage_dtl_id
        LEFT JOIN saas_purchase_in_storage spis ON spis.id = spisd.in_storage_id
        where
        spis.supplier_id = #{supplierId,jdbcType=BIGINT}
      and spiss.unverification_quantity>0
      )
      and shelf.lot_number in(
        select
        spiss.lot_number
        from
        saas_purchase_in_storage_shelf spiss
        LEFT JOIN saas_purchase_in_storage_detail spisd ON spisd.id = spiss.in_storage_dtl_id
        LEFT JOIN saas_purchase_in_storage spis ON spis.id = spisd.in_storage_id
        where
        spis.supplier_id = #{supplierId,jdbcType=BIGINT}
        and spiss.unverification_quantity>0
      )

    </if>
    and (sale.create_time between #{startDate} and #{endDate})
    group by shelf.lot_number,
    DATE_FORMAT(shelf.product_date , '%Y-%m-%d'),
    DATE_FORMAT(shelf.valid_date , '%Y-%m-%d'),
    goods.id ,
    goods. code ,
    goods.barcode ,
    goods. name,
    goods.generic_name,
    goods.dosage_id ,
    goods.dosage_name,
    goods.unit_id ,
    goods.unit_name ,
    goods.specification ,
    goods.manufacturer_id ,
    goods.manufacturer,
    goods.place,
    goods.approval_number;
  </select>

  <!-- 销售退货清单 -->
  <select id="getSaleReturn" parameterType="java.util.Map" resultType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.vo.SaleOutORreturnVO">
    SELECT
    shelf.lot_number as lotNumber,
    sum(shelf.verification_quantity) as verificationQuantity,
    sum(shelf.unverification_quantity) as unverificationQuantity,
    sum(shelf.quantity) as quantity ,
    DATE_FORMAT(shelf.product_date,'%Y-%m-%d')  AS productDate,
    DATE_FORMAT(shelf.valid_date,'%Y-%m-%d')  AS validDate,
    goods.id as goodsId,
    goods.code AS goodsCode,
    goods.barcode,
    goods.name AS goodsName,
    goods.generic_name AS goodsGenericName,
    goods.dosage_id AS dosageId,
    goods.dosage_name AS dosageName,
    goods.unit_id AS unitId,
    goods.unit_name AS unitName,
    goods.specification as goodsSpecification,
    goods.manufacturer_id AS manufacturerId,
    goods.manufacturer,
    goods.place AS goodsPlace,
    goods.approval_number AS approvalNumber
    FROM
    saas_sale sale
    JOIN saas_sale_detail dtl
    ON dtl.`sale_id` = sale.id
    JOIN saas_sale_shelf shelf
    ON shelf.sale_dtl_id = dtl.id
    AND shelf.`sale_id` = sale.`id`
    JOIN saas_goods goods
    ON shelf.goods_id = goods.`id`

    WHERE

        sale.order_type=6205
    <if test="enterpriseId != null">
      and sale.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    </if>
    <if test="parentId != null">
      and sale.parent_id = #{parentId,jdbcType=BIGINT}
      and sale.enterprise_id in (
      SELECT se.id from saas_enterprise se where se.chain_type=1
      )
    </if>
    <if test="supplierId != null">
      and goods.id in(
      select
      spiss.goods_id
      from
      saas_purchase_in_storage_shelf spiss
      LEFT JOIN saas_purchase_in_storage_detail spisd ON spisd.id = spiss.in_storage_dtl_id
      LEFT JOIN saas_purchase_in_storage spis ON spis.id = spisd.in_storage_id
      where
      spis.supplier_id = #{supplierId,jdbcType=BIGINT}
      )
    </if>
    <if test="parentId != null">
      and sale.parent_id = #{parentId,jdbcType=BIGINT}
    </if>
    and (sale.create_time between #{startDate} and #{endDate})
    group by shelf.lot_number,
    DATE_FORMAT(shelf.product_date , '%Y-%m-%d'),
    DATE_FORMAT(shelf.valid_date , '%Y-%m-%d'),
    goods.id ,
    goods. code ,
    goods.barcode ,
    goods. name,
    goods.generic_name,
    goods.dosage_id ,
    goods.dosage_name,
    goods.unit_id ,
    goods.unit_name ,
    goods.specification ,
    goods.manufacturer_id ,
    goods.manufacturer,
    goods.place,
    goods.approval_number;
  </select>

  <!-- 配货出库清单 -->
  <select id="getDistrOut" parameterType="java.util.Map" resultType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.vo.SaleOutORreturnVO">
    SELECT
    sdos.lot_number as lotNumber,
    sum(sdos.verification_quantity) as verificationQuantity,
    sum(sdos.unverification_quantity) as unverificationQuantity,
    sum(sdos.quantity) as quantity ,
    DATE_FORMAT(sdos.product_date,'%Y-%m-%d')  AS productDate,
    DATE_FORMAT(sdos.valid_date,'%Y-%m-%d')  AS validDate,
    goods.id as goodsId,
    goods.code AS goodsCode,
    goods.barcode,
    goods.name AS goodsName,
    goods.generic_name AS goodsGenericName,
    goods.dosage_id AS dosageId,
    goods.dosage_name AS dosageName,
    goods.unit_id AS unitId,
    goods.unit_name AS unitName,
    goods.specification as goodsSpecification,
    goods.manufacturer_id AS manufacturerId,
    goods.manufacturer,
    goods.place AS goodsPlace,
    goods.approval_number AS approvalNumber
    FROM
    saas_distr_out sdo
    JOIN saas_distr_out_detail sdod
    ON sdod.out_id = sdo.id
    JOIN saas_distr_out_shelf sdos
    ON sdos.dtl_id = sdod.id
    AND sdos.out_id = sdo.id
    JOIN saas_goods goods
    ON sdos.goods_id = goods.`id`

    WHERE
    sdo.enterprise_id = #{parentId,jdbcType=BIGINT}
    AND (sdo.status = '42' or sdo.status = '43')
    <if test="supplierId != null">
      and goods.id in(
      select
      spiss.goods_id
      from
      saas_purchase_in_storage_shelf spiss
      LEFT JOIN saas_purchase_in_storage_detail spisd ON spisd.id = spiss.in_storage_dtl_id
      LEFT JOIN saas_purchase_in_storage spis ON spis.id = spisd.in_storage_id
      where
      spis.supplier_id = #{supplierId,jdbcType=BIGINT}
      )
    </if>
    and (sdo.create_time between #{startDate} and #{endDate})
    group by sdos.lot_number,
    DATE_FORMAT(sdos.product_date , '%Y-%m-%d'),
    DATE_FORMAT(sdos.valid_date , '%Y-%m-%d'),
    goods.id ,
    goods. code ,
    goods.barcode ,
    goods. name,
    goods.generic_name,
    goods.dosage_id ,
    goods.dosage_name,
    goods.unit_id ,
    goods.unit_name ,
    goods.specification ,
    goods.manufacturer_id ,
    goods.manufacturer,
    goods.place,
    goods.approval_number;
  </select>

  <!-- 配货退货入库清单 -->
  <select id="getDistrReturn" parameterType="java.util.Map" resultType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.vo.SaleOutORreturnVO">

    SELECT
    sdris.lot_number as lotNumber,
    sum(sdris.quantity) as quantity ,
    DATE_FORMAT(sdris.product_date,'%Y-%m-%d')  AS productDate,
    DATE_FORMAT(sdris.valid_date,'%Y-%m-%d')  AS validDate,
    goods.id as goodsId,
    goods.code AS goodsCode,
    goods.barcode,
    goods.name AS goodsName,
    goods.generic_name AS goodsGenericName,
    goods.dosage_id AS dosageId,
    goods.dosage_name AS dosageName,
    goods.unit_id AS unitId,
    goods.unit_name AS unitName,
    goods.specification as goodsSpecification,
    goods.manufacturer_id AS manufacturerId,
    goods.manufacturer,
    goods.place AS goodsPlace,
    goods.approval_number AS approvalNumber
    FROM
    saas_distr_return_in sdri
    JOIN saas_distr_return_in_detail sdrid
    ON sdrid.return_in_id = sdri.id
    JOIN saas_distr_return_in_shelf sdris
    ON sdris.dtl_id = sdrid.id
    AND sdrid.return_in_id = sdri.id
    JOIN saas_goods goods
    ON sdris.goods_id = goods.`id`

    WHERE
    sdri.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    <if test="supplierId != null">
      and goods.id in(
      select
      spiss.goods_id
      from
      saas_purchase_in_storage_shelf spiss
      LEFT JOIN saas_purchase_in_storage_detail spisd ON spisd.id = spiss.in_storage_dtl_id
      LEFT JOIN saas_purchase_in_storage spis ON spis.id = spisd.in_storage_id
      where
      spis.supplier_id = #{supplierId,jdbcType=BIGINT}
      )
    </if>
    and (sdri.create_time between #{startDate} and #{endDate})
    group by sdris.lot_number,
    DATE_FORMAT(sdris.product_date , '%Y-%m-%d'),
    DATE_FORMAT(sdris.valid_date , '%Y-%m-%d'),
    goods.id ,
    goods. code ,
    goods.barcode ,
    goods. name,
    goods.generic_name,
    goods.dosage_id ,
    goods.dosage_name,
    goods.unit_id ,
    goods.unit_name ,
    goods.specification ,
    goods.manufacturer_id ,
    goods.manufacturer,
    goods.place,
    goods.approval_number;

  </select>

  <!--采购入库入库清单-->
  <select id="getPurchaseInStorageReportPage" parameterType="java.util.Map" resultType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.vo.PurchaseInStorageReportPageVO">
    select
    spis.code,
    spis.in_storage_date AS inStorageDate,
    spiss.lot_number AS lotNumber,
    spis.id as baseOrderId,
    spis.code as baseOrderCode,
    spis.order_type as baseOrderType,
    spis.create_time as baseOrderDate,
    spisd.id as baseDtlId,
    spiss.id as baseShelfDtlId,
    spiss.quantity,
    spiss.verification_quantity as verificationQuantity ,
    spiss.unverification_quantity as unverificationQuantity,
    DATE_FORMAT(spiss.product_date,'%Y-%m-%d')  AS productDate,
    DATE_FORMAT(spiss.valid_date,'%Y-%m-%d')  AS validDate,
    spiss.unit_price AS unitPrice,
    spiss.real_price AS realPrice,
    spiss.real_amount AS realAmount,
    spiss.tax_rate_id as taxRateId,
    spiss.tax_rate AS taxRate,
    spiss.notax_real_price AS notaxRealPrice,
    spiss.notax_real_amount AS notaxRealAmount,
    spiss.tax_amount AS taxAmount,
    spiss.amount,
    spiss.whole_discount AS wholeDiscount
    from saas_purchase_in_storage_shelf spiss
    LEFT JOIN saas_purchase_in_storage_detail spisd ON spisd.id = spiss.in_storage_dtl_id
    LEFT JOIN saas_purchase_in_storage spis ON spis.id = spisd.in_storage_id
    where
    spiss.enterprise_id = #{enterpriseId}
    and spis.supplier_id = #{supplierId,jdbcType=BIGINT}
    and spiss.verification_quantity &lt; spiss.quantity
    and spiss.lot_number = #{lotNumber}
    and spisd.goods_id = #{goodsId}

  </select>
  <!--配进入库清单-->
  <select id="getDistrInStorageReportPage" parameterType="java.util.Map" resultType="com.rograndec.feijiayun.chain.business.finance.paymentinvoice.verificationform.vo.PurchaseInStorageReportPageVO">
    select
        sdi. code ,
        sdi.in_date AS inStorageDate ,
        sdis.lot_number AS lotNumber ,
        sdi.id as baseOrderId ,
        sdi. code as baseOrderCode ,
        sdi.order_type as baseOrderType ,
        sdi.create_time as baseOrderDate ,
        sdid.id as baseDtlId ,
        sdis.id as baseShelfDtlId ,
        sdis.quantity ,
        sdis.verification_quantity as verificationQuantity ,
        sdis.unverification_quantity as unverificationQuantity,
        DATE_FORMAT(sdis.product_date , '%Y-%m-%d') AS productDate ,
        DATE_FORMAT(sdis.valid_date , '%Y-%m-%d') AS validDate ,
        sdis.unit_price AS unitPrice ,
        sdis.real_price AS realPrice ,
        sdis.real_amount AS realAmount ,
        sdis.tax_rate_id as taxRateId ,
        sdis.tax_rate AS taxRate ,
        sdis.notax_real_price AS notaxRealPrice ,
        sdis.notax_real_amount AS notaxRealAmount ,
        sdis.tax_amount AS taxAmount ,
        sdis.amount ,
        sdis.whole_discount AS wholeDiscount
    from
        saas_distr_in_shelf sdis
    LEFT JOIN saas_distr_in_detail sdid ON sdid.id = sdis.dtl_id
    LEFT JOIN saas_distr_in sdi ON sdi.id = sdid.in_id
    where
      sdis.enterprise_id = #{enterpriseId}
    and sdis.verification_quantity &lt; sdis.quantity
    and sdi.distr_type=4
    and sdi.outbound_unit_id=#{supplierId,jdbcType=BIGINT}
    and sdis.lot_number = #{lotNumber}
    and sdid.goods_id = #{goodsId}

  </select>

</mapper>