<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.auth.register.dao.RegisterAuditMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.auth.register.entity.RegisterAudit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="mph_enterprise_id" jdbcType="INTEGER" property="mphEnterpriseId" />
    <result column="permit_content" jdbcType="INTEGER" property="permitContent" />
    <result column="permit_type" jdbcType="INTEGER" property="permitType" />
    <result column="permit_quantity" jdbcType="INTEGER" property="permitQuantity" />
    <result column="date_limit" jdbcType="TIMESTAMP" property="dateLimit" />
    <result column="sale_man" jdbcType="VARCHAR" property="saleMan" />
    <result column="actualize_man" jdbcType="VARCHAR" property="actualizeMan" />
    <result column="audit_opinion" jdbcType="VARCHAR" property="auditOpinion" />
    <result column="audit_result" jdbcType="INTEGER" property="auditResult" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, mph_enterprise_id, permit_content, permit_type, permit_quantity, 
    date_limit, sale_man, actualize_man, audit_opinion, audit_result
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_register_audit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_register_audit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.auth.register.entity.RegisterAudit">
    insert into saas_register_audit (id, enterprise_id, parent_id, 
      mph_enterprise_id, permit_content, permit_type, 
      permit_quantity, date_limit, sale_man, 
      actualize_man, audit_opinion, audit_result
      )
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{mphEnterpriseId,jdbcType=INTEGER}, #{permitContent,jdbcType=INTEGER}, #{permitType,jdbcType=INTEGER}, 
      #{permitQuantity,jdbcType=INTEGER}, #{dateLimit,jdbcType=TIMESTAMP}, #{saleMan,jdbcType=VARCHAR}, 
      #{actualizeMan,jdbcType=VARCHAR}, #{auditOpinion,jdbcType=VARCHAR}, #{auditResult,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.auth.register.entity.RegisterAudit">
    insert into saas_register_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="mphEnterpriseId != null">
        mph_enterprise_id,
      </if>
      <if test="permitContent != null">
        permit_content,
      </if>
      <if test="permitType != null">
        permit_type,
      </if>
      <if test="permitQuantity != null">
        permit_quantity,
      </if>
      <if test="dateLimit != null">
        date_limit,
      </if>
      <if test="saleMan != null">
        sale_man,
      </if>
      <if test="actualizeMan != null">
        actualize_man,
      </if>
      <if test="auditOpinion != null">
        audit_opinion,
      </if>
      <if test="auditResult != null">
        audit_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="mphEnterpriseId != null">
        #{mphEnterpriseId,jdbcType=INTEGER},
      </if>
      <if test="permitContent != null">
        #{permitContent,jdbcType=INTEGER},
      </if>
      <if test="permitType != null">
        #{permitType,jdbcType=INTEGER},
      </if>
      <if test="permitQuantity != null">
        #{permitQuantity,jdbcType=INTEGER},
      </if>
      <if test="dateLimit != null">
        #{dateLimit,jdbcType=TIMESTAMP},
      </if>
      <if test="saleMan != null">
        #{saleMan,jdbcType=VARCHAR},
      </if>
      <if test="actualizeMan != null">
        #{actualizeMan,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null">
        #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null">
        #{auditResult,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.auth.register.entity.RegisterAudit">
    update saas_register_audit
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="mphEnterpriseId != null">
        mph_enterprise_id = #{mphEnterpriseId,jdbcType=INTEGER},
      </if>
      <if test="permitContent != null">
        permit_content = #{permitContent,jdbcType=INTEGER},
      </if>
      <if test="permitType != null">
        permit_type = #{permitType,jdbcType=INTEGER},
      </if>
      <if test="permitQuantity != null">
        permit_quantity = #{permitQuantity,jdbcType=INTEGER},
      </if>
      <if test="dateLimit != null">
        date_limit = #{dateLimit,jdbcType=TIMESTAMP},
      </if>
      <if test="saleMan != null">
        sale_man = #{saleMan,jdbcType=VARCHAR},
      </if>
      <if test="actualizeMan != null">
        actualize_man = #{actualizeMan,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null">
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null">
        audit_result = #{auditResult,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.auth.register.entity.RegisterAudit">
    update saas_register_audit
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      mph_enterprise_id = #{mphEnterpriseId,jdbcType=INTEGER},
      permit_content = #{permitContent,jdbcType=INTEGER},
      permit_type = #{permitType,jdbcType=INTEGER},
      permit_quantity = #{permitQuantity,jdbcType=INTEGER},
      date_limit = #{dateLimit,jdbcType=TIMESTAMP},
      sale_man = #{saleMan,jdbcType=VARCHAR},
      actualize_man = #{actualizeMan,jdbcType=VARCHAR},
      audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      audit_result = #{auditResult,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <cache />
</mapper>