<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.basic.supplier.dao.SupplierQualificationConfigMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.basic.supplier.entity.SupplierQualificationConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="qualification_id" jdbcType="BIGINT" property="qualificationId" />
    <result column="qualification_code" jdbcType="VARCHAR" property="qualificationCode" />
    <result column="valid_until" jdbcType="TIMESTAMP" property="validUntil" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, supplier_id, enterprise_id, qualification_id, qualification_code, valid_until, start_date, file_id, remark, creater_id,
    creater_code, creater_name, create_time, modifier_id, modifier_code, modifier_name, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_supplier_qualification_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_supplier_qualification_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteBySupplierId">
      delete from saas_supplier_qualification_config
      where supplier_id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.basic.supplier.entity.SupplierQualificationConfig">
    insert into saas_supplier_qualification_config (id, supplier_id, enterprise_id, 
      qualification_id, qualification_code, valid_until, start_date, file_id,
      remark, creater_id, creater_code, 
      creater_name, create_time, modifier_id, 
      modifier_code, modifier_name, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{supplierId,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, 
      #{qualificationId,jdbcType=BIGINT}, #{qualificationCode,jdbcType=VARCHAR}, #{validUntil,jdbcType=TIMESTAMP}, #{startDate,jdbcType=TIMESTAMP}, #{fileId,jdbcType=BIGINT},
      #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, 
      #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, 
      #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.basic.supplier.entity.SupplierQualificationConfig">
    insert into saas_supplier_qualification_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="qualificationId != null">
        qualification_id,
      </if>
      <if test="qualificationCode != null">
        qualification_code,
      </if>
      <if test="validUntil != null">
        valid_until,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="qualificationId != null">
        #{qualificationId,jdbcType=BIGINT},
      </if>
      <if test="qualificationCode != null">
        #{qualificationCode,jdbcType=VARCHAR},
      </if>
      <if test="validUntil != null">
        #{validUntil,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.basic.supplier.entity.SupplierQualificationConfig">
    update saas_supplier_qualification_config
    <set>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="qualificationId != null">
        qualification_id = #{qualificationId,jdbcType=BIGINT},
      </if>
      <if test="qualificationCode != null">
        qualification_code = #{qualificationCode},
      </if>
      <if test="validUntil != null">
        valid_until = #{validUntil,jdbcType=TIMESTAMP},
      </if>
      /*这里的起始日期可以为空,前端会给传null,所以不加上为null的判断*/
        start_date = #{startDate,jdbcType=TIMESTAMP},
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.basic.supplier.entity.SupplierQualificationConfig">
    update saas_supplier_qualification_config
    set supplier_id = #{supplierId,jdbcType=BIGINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      qualification_id = #{qualificationId,jdbcType=BIGINT},
      qualification_code = #{qualificationCode,jdbcType=VARCHAR},
      valid_until = #{validUntil,jdbcType=TIMESTAMP},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      file_id = #{fileId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="saveQualificationSupplier">
  	insert into saas_supplier_qualification_config (supplier_id, enterprise_id, 
      qualification_id, valid_until, start_date, file_id,
      creater_id, creater_code, 
      creater_name, create_time, modifier_id, 
      modifier_code, modifier_name, update_time,qualification_code
      )
    values (#{sq.supplierId,jdbcType=BIGINT}, #{enterpriseId},
      #{sq.qualificationId,jdbcType=BIGINT}, #{sq.validUntil,jdbcType=TIMESTAMP}, #{sq.startDate,jdbcType=TIMESTAMP}, #{sq.fileId,jdbcType=BIGINT},
      #{user.userId}, #{user.userCode}, 
      #{user.userName}, NOW(), #{user.userId}, #{user.userCode}, 
      #{user.userName}, NOW(), #{sq.qualificationCode}
      )
  </insert>
  <select id="getDefaultSupplierQulification" resultType="com.rograndec.feijiayun.chain.business.basic.supplier.vo.SupplierQulificationVO">
  	select  e.enterprise_id as enterpriseId,
  	e.id as qualificationId,
    e.sys_type as sysType,
    e.type_must as typeMust,
    e.name as qulificationDes,
    e.control_type as controlType,
    e.code_must as codeMust,
    e.valid_until_must as validUntilMust,
    e.business_variety as businessVariety,
    e.file_must as fileMust from saas_enterprise_qualification e
    where (e.sys_type = '1' or e.enterprise_id = #{enterpriseId})
    and e.type_must = '1'
    and (e.suitable_unit = '0' or e.suitable_unit = '3')
    and e.status = '1'
  </select>


  <select id="getQualificationConfigReport" resultType="com.rograndec.feijiayun.chain.business.report.quality.org.vo.orgReportVO.QualificationConfigVO">
    SELECT
    con.qualification_id as qualificationId,con.qualification_code as qualificationCode,con.valid_until as validDate,con.file_id as fileId,qua.name as qualificationName
    FROM
    saas_supplier_qualification_config con
    LEFT JOIN saas_enterprise_qualification qua on con.qualification_id = qua.id AND con.enterprise_id = qua.enterprise_id
    where
    con.supplier_id = #{supplierId}

  </select>
  <select id="checkDeteleEnterpriseData" resultType="java.lang.Long">
   SELECT
    count(1)
    from saas_supplier_qualification_config sqc
    LEFT JOIN saas_enterprise_qualification eq ON eq.id = sqc.qualification_id
    where sqc.qualification_id = #{id} AND  sys_type = 0
  </select>
</mapper>