<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.finance.commission.dao.SaleCommissionRelationMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.finance.commission.entity.SaleCommissionRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="commission_id" jdbcType="BIGINT" property="commissionId" />
    <result column="sale_id" jdbcType="BIGINT" property="saleId" />
    <result column="sale_type" jdbcType="INTEGER" property="saleType" />
    <result column="sale_dtl_id" jdbcType="BIGINT" property="saleDtlId" />
    <result column="commission_dtl_id" jdbcType="BIGINT" property="commissionDtlId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, commission_id, sale_id, sale_type,sale_dtl_id,commission_dtl_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_sale_commission_relation
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByCommissionId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_sale_commission_relation
    where commission_id = #{commissionId,jdbcType=BIGINT}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_sale_commission_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.finance.commission.entity.SaleCommissionRelation" useGeneratedKeys="true" keyProperty="id">
    insert into saas_sale_commission_relation (id, enterprise_id, parent_id, 
      commission_id, sale_id, sale_type
      )
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{commissionId,jdbcType=BIGINT}, #{saleId,jdbcType=BIGINT}, #{saleType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.finance.commission.entity.SaleCommissionRelation" useGeneratedKeys="true" keyProperty="id">
    insert into saas_sale_commission_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="commissionId != null">
        commission_id,
      </if>
      <if test="saleId != null">
        sale_id,
      </if>
      <if test="saleType != null">
        sale_type,
      </if>
      <if test="saleDtlId != null">
        sale_dtl_id,
      </if>
      <if test="commissionDtlId != null">
        commission_dtl_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="commissionId != null">
        #{commissionId,jdbcType=BIGINT},
      </if>
      <if test="saleId != null">
        #{saleId,jdbcType=BIGINT},
      </if>
      <if test="saleType != null">
        #{saleType,jdbcType=INTEGER},
      </if>

      <if test="saleDtlId != null">
        #{saleDtlId,jdbcType=BIGINT},
      </if>
      <if test="commissionDtlId != null">
        #{commissionDtlId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.finance.commission.entity.SaleCommissionRelation">
    update saas_sale_commission_relation
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="commissionId != null">
        commission_id = #{commissionId,jdbcType=BIGINT},
      </if>
      <if test="saleId != null">
        sale_id = #{saleId,jdbcType=BIGINT},
      </if>
      <if test="saleType != null">
        sale_type = #{saleType,jdbcType=INTEGER},
      </if>
      <if test="saleDtlId != null">
        sale_dtl_id = #{saleDtlId,jdbcType=BIGINT},
      </if>
      <if test="commissionDtlId != null">
        commission_dtl_id = #{commissionDtlId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.finance.commission.entity.SaleCommissionRelation">
    update saas_sale_commission_relation
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      commission_id = #{commissionId,jdbcType=BIGINT},
      sale_id = #{saleId,jdbcType=BIGINT},
      sale_type = #{saleType,jdbcType=INTEGER},
      sale_dtl_id = #{saleDtlId,jdbcType=BIGINT},
      commission_dtl_id = #{commissionDtlId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>