<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.retail.receipt.dao.ReceiptDetailMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.retail.receipt.entity.ReceiptDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="receipt_id" jdbcType="BIGINT" property="receiptId" />
    <result column="pay_type_id" jdbcType="BIGINT" property="payTypeId" />
    <result column="pay_type_name" jdbcType="VARCHAR" property="payTypeName" />
    <result column="bank_id" jdbcType="BIGINT" property="bankId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="card_account" jdbcType="VARCHAR" property="cardAccount" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, receipt_id, pay_type_id, pay_type_name, bank_id, bank_name, 
    card_account, amount, balance, status, remark, creater_id, creater_code, creater_name, 
    create_time, modifier_id, modifier_code, modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_receipt_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByEnterpriseIdByPayTypeId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_receipt_detail
    where (parent_id = #{enterpriseId,jdbcType=BIGINT} or enterprise_id = #{enterpriseId,jdbcType=BIGINT})
    and pay_type_id = #{payTypeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_receipt_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.retail.receipt.entity.ReceiptDetail">
    insert into saas_receipt_detail (id, enterprise_id, parent_id, 
      receipt_id, pay_type_id, pay_type_name, 
      bank_id, bank_name, card_account, 
      amount, balance, status, 
      remark, creater_id, creater_code, 
      creater_name, create_time, modifier_id, 
      modifier_code, modifier_name, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{receiptId,jdbcType=BIGINT}, #{payTypeId,jdbcType=BIGINT}, #{payTypeName,jdbcType=VARCHAR}, 
      #{bankId,jdbcType=BIGINT}, #{bankName,jdbcType=VARCHAR}, #{cardAccount,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, 
      #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, 
      #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.retail.receipt.entity.ReceiptDetail">
    insert into saas_receipt_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="receiptId != null">
        receipt_id,
      </if>
      <if test="payTypeId != null">
        pay_type_id,
      </if>
      <if test="payTypeName != null">
        pay_type_name,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="cardAccount != null">
        card_account,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="receiptId != null">
        #{receiptId,jdbcType=BIGINT},
      </if>
      <if test="payTypeId != null">
        #{payTypeId,jdbcType=BIGINT},
      </if>
      <if test="payTypeName != null">
        #{payTypeName,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=BIGINT},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="cardAccount != null">
        #{cardAccount,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.retail.receipt.entity.ReceiptDetail">
    update saas_receipt_detail
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="receiptId != null">
        receipt_id = #{receiptId,jdbcType=BIGINT},
      </if>
      <if test="payTypeId != null">
        pay_type_id = #{payTypeId,jdbcType=BIGINT},
      </if>
      <if test="payTypeName != null">
        pay_type_name = #{payTypeName,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=BIGINT},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="cardAccount != null">
        card_account = #{cardAccount,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.retail.receipt.entity.ReceiptDetail">
    update saas_receipt_detail
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      receipt_id = #{receiptId,jdbcType=BIGINT},
      pay_type_id = #{payTypeId,jdbcType=BIGINT},
      pay_type_name = #{payTypeName,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=BIGINT},
      bank_name = #{bankName,jdbcType=VARCHAR},
      card_account = #{cardAccount,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      balance = #{balance,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
	
  <select id="selectPayTypeAmountByShiftId" resultType="java.util.Map">	
  	select pay_type_id, pay_type_name, code AS pay_type_code, sum(amount) as amount from (
		SELECT
			pay_type_id, pay_type_name, ppt.`code`,amount
		FROM
			saas_receipt_detail
			LEFT JOIN saas_pos_pay_type ppt ON ppt.id = pay_type_id
		WHERE
			receipt_id IN (
				SELECT
					r.id
				FROM
					saas_receipt r left join saas_sale s
						on r.base_order_id = s.id
				WHERE
					r.base_order_id IN (
						SELECT
							base_order_id
						FROM
							saas_payee_opening_shift_detail
						WHERE
							doc_id = #{id}) 
					and s.sale_type = '0'		
			)
			
	union all
		
		SELECT
			pay_type_id, pay_type_name, ppt.`code`,-1*amount as amount
		FROM
			saas_receipt_detail
			LEFT JOIN saas_pos_pay_type ppt ON ppt.id = pay_type_id
		WHERE
			receipt_id IN (
				SELECT
					r.id
				FROM
					saas_receipt r left join saas_sale s
						on r.base_order_id = s.id
				WHERE
					r.base_order_id IN (
						SELECT
							base_order_id
						FROM
							saas_payee_opening_shift_detail
						WHERE
							doc_id = #{id}) 
					and s.sale_type = '1'		
			)
		
	)tab1 GROUP BY pay_type_id	
  </select>
  
  <select id="selectPayTypeAmountBySaleId" resultType="java.util.Map">
    select 
    	pay_type_id, pay_type_name, sum(amount) as amount
    from saas_receipt_detail
    where receipt_id = (select id from saas_receipt where base_order_id = #{id})
    GROUP BY pay_type_id
  </select>

  <select id="selectPayTypeAmountByShiftDtlId" resultType="java.util.Map">
            SELECT
            pay_type_id,
            pay_type_name,
            code AS pay_type_code,
            amount
        FROM
            (
                SELECT
                    pay_type_id,
                    pay_type_name,
                    ppt.`code`,
                    amount
                FROM
                    saas_receipt_detail
            LEFT JOIN saas_pos_pay_type ppt ON ppt.id = pay_type_id
                WHERE
                    receipt_id IN (
                        SELECT
                            r.id
                        FROM
                            saas_receipt r
                        LEFT JOIN saas_sale s ON r.base_order_id = s.id
                        WHERE
                            s.id = #{id}
                        AND s.sale_type = '0'
                    )
                UNION ALL
                    SELECT
                        pay_type_id,
                        pay_type_name,
                        ppt.`code`,
                        - 1 * amount AS amount
                    FROM
                        saas_receipt_detail
                    LEFT JOIN saas_pos_pay_type ppt ON ppt.id = pay_type_id
                    WHERE
                        receipt_id IN (
                            SELECT
                                r.id
                            FROM
                                saas_receipt r
                            LEFT JOIN saas_sale s ON r.base_order_id = s.id
                            WHERE
                                s.id = #{id}
                            AND s.sale_type = '1'
                        )
            ) tab1
        GROUP BY
            pay_type_id
  </select>
    <select id="selectHasBank" resultType="java.lang.Integer">
      SELECT COUNT(id)
      FROM saas_receipt_detail
      WHERE bank_id = #{id}
    </select>
</mapper>