<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.storage.move.dao.ShelfMoveMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.storage.move.entity.ShelfMove">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="move_date" jdbcType="TIMESTAMP" property="moveDate" />
    <result column="move_man_id" jdbcType="BIGINT" property="moveManId" />
    <result column="move_man_code" jdbcType="VARCHAR" property="moveManCode" />
    <result column="move_man_name" jdbcType="VARCHAR" property="moveManName" />
    <result column="receiver_id" jdbcType="BIGINT" property="receiverId" />
    <result column="receiver_code" jdbcType="VARCHAR" property="receiverCode" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="move_reason" jdbcType="VARCHAR" property="moveReason" />
    <result column="quantity_total" jdbcType="DECIMAL" property="quantityTotal" />
    <result column="varieties_quantity" jdbcType="INTEGER" property="varietiesQuantity" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, order_type, code, move_date, move_man_id, move_man_code, 
    move_man_name, receiver_id, receiver_code, receiver_name, move_reason, quantity_total, 
    varieties_quantity, status, remark, creater_id, creater_code, creater_name, create_time, 
    modifier_id, modifier_code, modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_shelf_move
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectShelfMovePage" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from saas_shelf_move
      where enterprise_id = #{enterpriseId}
      <if test="startTime != null and endTime != null">
        and move_date between #{startTime} and #{endTime}
      </if>
      <if test="code != null">
        and INSTR(code,#{code})
      </if>
      <if test="moveManName != null">
        and INSTR(move_man_name,#{moveManName})
      </if>
      <if test="receiverName != null">
        and INSTR(receiver_name,#{receiverName})
      </if>
      <choose>
        <when test="order != null and sort != null">
          order by ${order} ${sort}
        </when>
        <otherwise>
          order by id desc
        </otherwise>
      </choose>
      <if test="pageSize != null">
        limit #{start},#{pageSize}
      </if>
    </select>
  <select id="selectGoodsByAdd"
          resultType="com.rograndec.feijiayun.chain.business.storage.move.vo.ShelfMoveDetailVO">
    /**
    新增时查出的商品列表--库存表中有库存
     */
     SELECT
     goods.id as goodsId,
     goods.code AS goodsCode,
	 goods.name as goodsName,
	 goods.barcode as barcode,
	 goods.generic_name AS goodsGenericName,
	 goods.dosage_id as dosageId,
	 goods.dosage_name as dosageName,
	 goods.specification AS goodsSpecification,
	 goods.unit_id as unitId,
	 goods.unit_name as unitName,
	 goods.manufacturer_id AS manufacturerId,
	 goods.manufacturer AS manufacturer,
	 goods.place as goodsPlace,
	 goods.approval_number as approvalNumber,

     lot.lot_num as lotNumber,
	 lot.id as lotId,
     lot.product_date as productDate,
     lot.valid_until as validDate,

     ws.id as srcShelfId,
     ws.name as srcShelfName,
     st.shelf_status_desc as srcShelfStatusDesc,

     st.usable_quantity as usableQuantity
	 FROM
	 saas_stock st,saas_goods goods,saas_lot_number lot,saas_warehouse_shelf ws
	 WHERE goods.id = st.goods_id
	 AND st.lot_id = lot.id
	 AND ws.id = st.shelf_id
     AND st.usable_quantity &gt; 0
     /**
      必须不属于盘点状态
      */
     AND st.inventory_status = '0'
     AND st.enterprise_id = #{enterpriseId}
    <if test="param != null and param != ''">
      and (
      INSTR(goods.name,#{param})
      or INSTR(goods.code,#{param})
      or INSTR(goods.pinyin_code,#{param})
      or INSTR(goods.approval_number,#{param})
      or INSTR(goods.barcode,#{param})
      or INSTR(goods.generic_name,#{param}))
    </if>
    limit 100
  </select>
  <select id="selectGoodsByDown"
          resultType="com.rograndec.feijiayun.chain.business.storage.move.vo.ShelfMoveDetailVO">
    /**
    下架时查出的商品列表
     */
    SELECT
    goods.id as goodsId,
    goods.code AS goodsCode,
    goods.name as goodsName,
    goods.barcode as barcode,
    goods.generic_name AS goodsGenericName,
    goods.dosage_id as dosageId,
    goods.dosage_name as dosageName,
    goods.specification AS goodsSpecification,
    goods.unit_id as unitId,
    goods.unit_id as unitName,
    goods.manufacturer_id AS manufacturerId,
    goods.manufacturer AS manufacturer,
    goods.place as goodsPlace,
    goods.approval_number as approvalNumber,

    lot.lot_num as lotNumber,
    lot.id as lotId,
    lot.product_date as productDate,
    lot.valid_until as validDate,

    ws.id as srcShelfId,
    ws.name as srcShelfName,
    st.shelf_status_desc as srcShelfStatusDesc,

    st.usable_quantity as usableQuantity
    FROM
    saas_stock st,saas_goods_manage gm,saas_goods goods,saas_lot_number lot,saas_warehouse_shelf ws

    WHERE goods.id = st.goods_id
    AND goods.id = gm.goods_id
    AND goods.enterprise_id = gm.enterprise_id

    AND st.lot_id = lot.id

    AND ws.id = st.shelf_id
    AND st.usable_quantity &gt; 0
    AND gm.status = '4'
    /**
    必须不属于盘点状态
    */
    AND st.inventory_status = '0'
    AND st.enterprise_id = #{enterpriseId}
    <if test="param != null and param != ''">
      and (
      INSTR(goods.name,#{param})
      or INSTR(goods.code,#{param})
      or INSTR(goods.pinyin_code,#{param})
      or INSTR(goods.approval_number,#{param})
      or INSTR(goods.barcode,#{param})
      or INSTR(goods.generic_name,#{param}))
    </if>
  </select>
  <select id="selectGoodsByLock"
          resultType="com.rograndec.feijiayun.chain.business.storage.move.vo.ShelfMoveDetailVO">
    /**
    锁定时查出的商品列表
     */
    SELECT
    goods.id as goodsId,
    goods.code AS goodsCode,
    goods.name as goodsName,
    goods.barcode as barcode,
    goods.generic_name AS goodsGenericName,
    goods.dosage_id as dosageId,
    goods.dosage_name as dosageName,
    goods.specification AS goodsSpecification,
    goods.unit_id as unitId,
    goods.unit_id as unitName,
    goods.manufacturer_id AS manufacturerId,
    goods.manufacturer AS manufacturer,
    goods.place as goodsPlace,
    goods.approval_number as approvalNumber,

    lot.lot_num as lotNumber,
    lot.id as lotId,
    lot.product_date as productDate,
    lot.valid_until as validDate,

    ws.id as srcShelfId,
    ws.name as srcShelfName,
    st.base_order_id as handleId,
    st.base_order_code as handleCode,
    st.lock_quantity as usableQuantity
    FROM
    saas_stock_lock_record st
    ,saas_goods goods,saas_lot_number lot,saas_warehouse_shelf ws
    WHERE goods.id = st.goods_id

    AND st.lot_id = lot.id

    AND ws.id = st.shelf_id
    AND st.enterprise_id = #{enterpriseId}
    AND st.lock_quantity > 0
    AND st.base_order_type = #{type}
    <if test="param != null and param != ''">
      and (
      INSTR(goods.name,#{param})
      or INSTR(goods.code,#{param})
      or INSTR(goods.pinyin_code,#{param})
      or INSTR(goods.approval_number,#{param})
      or INSTR(goods.barcode,#{param})
      or INSTR(goods.generic_name,#{param}))
    </if>
  </select>
  <select id="selectGoodsByOver"
          resultType="com.rograndec.feijiayun.chain.business.storage.move.vo.ShelfMoveDetailVO">
    /**
    过期时查出的商品列表
     */
    SELECT
    goods.id as goodsId,
    goods.code AS goodsCode,
    goods.name as goodsName,
    goods.barcode as barcode,
    goods.generic_name AS goodsGenericName,
    goods.dosage_id as dosageId,
    goods.dosage_name as dosageName,
    goods.specification AS goodsSpecification,
    goods.unit_id as unitId,
    goods.unit_id as unitName,
    goods.manufacturer_id AS manufacturerId,
    goods.manufacturer AS manufacturer,
    goods.place as goodsPlace,
    goods.approval_number as approvalNumber,

    lot.lot_num as lotNumber,
    lot.id as lotId,
    lot.product_date as productDate,
    lot.valid_until as validDate,

    ws.id as srcShelfId,
    ws.name as srcShelfName,
    st.shelf_status_desc as srcShelfStatusDesc,

    st.usable_quantity as usableQuantity
    FROM
    saas_stock st,saas_goods goods,saas_lot_number lot,saas_warehouse_shelf ws

    where goods.id = st.goods_id

    AND st.lot_id = lot.id

    AND ws.id = st.shelf_id
    AND st.usable_quantity > 0
    /**
    必须不属于盘点状态
    */
    AND st.inventory_status = '0'
    AND st.enterprise_id = #{enterpriseId}
    /**
    批号有效期小于今天
    */
    AND lot.valid_until &lt; #{zero}
    <if test="param != null and param != ''">
      and (
      INSTR(goods.name,#{param})
      or INSTR(goods.code,#{param})
      or INSTR(goods.pinyin_code,#{param})
      or INSTR(goods.approval_number,#{param})
      or INSTR(goods.barcode,#{param})
      or INSTR(goods.generic_name,#{param}))
    </if>
  </select>
  <select id="selectFatherMoveReport"
          resultType="com.rograndec.feijiayun.chain.business.report.quality.storage.vo.ShelfMoveVO">
    /**
     搜寻货位移动报表（总部）
     */
    SELECT
    d.id as id,
    u.code as enterpriseCode,
    u.name as enterpriseName,
    d.move_date as moveDate,
    d.move_code as code,
    m.move_man_name as moveManName,
    m.receiver_name as receiverName,
    d.goods_id as goodsId,
    d.goods_code as goodsCode,
    d.barcode as barcode,
    d.goods_name as goodsName,
    d.goods_generic_name as goodsGenericName,
    d.dosage_id as dosageId,
    d.dosage_name as dosageName,
    d.goods_specification as goodsSpecification,
    d.unit_id as unitId,
    d.unit_name as unitName,
    d.manufacturer_id as manufacturerId,
    d.manufacturer as manufacturer,
    d.goods_place as goodsPlace,
    d.approval_number as approvalNumber,
    d.lot_number as lotNum,
    d.product_date as productDate,
    d.valid_date as validDate,
    d.src_shelf_id as srcShelfId,
    d.src_shelf_name as srcShelfName,
    d.src_shelf_status_desc as srcShelfStatusDesc,
    d.target_shelf_id as targetShelfId,
    d.target_shelf_name as targetShelfName,
    d.target_shelf_status_desc as targetShelfStatusDesc,
    d.quantity as quantity,
    d.remark as remark,
    m.status as status,
    g.business_variety as businessVariety,
    g.category_id as categoryId,
    (
    SELECT
    cate.name
    FROM
    saas_goods_category cate
    WHERE
    cate.id = g.category_id
    ) AS categoryName,
    g.goods_attribute as goodsAttribute,
    g.prescription_drug as prescriptionDrug,
    g.otc_type as otcType,
    g.cosmetics as cosmetics,
    g.domestic_import as domesticImport,
    g.management_scope_id as managementScopeId,
    g.management_scope_name as managementScopeName,
    g.special_drug as specialDrug,
    g.spirit_drug_type as spiritDrugType,
    g.formulation_type as formulationType,
    g.in_charge_drug as inChargeDrug,
    g.limit_quantity as limitQuantity,
    g.storage_temp as storageTemp,
    g.storage_condition_name as storageConditionName,
    g.quality_period as qualityPeriod,
    g.quality_period_unit as qualityPeriodUnit
    FROM saas_shelf_move_detail d
    LEFT JOIN saas_shelf_move m
    ON d.move_id = m.id
    LEFT JOIN saas_enterprise u
    ON u.id = d.enterprise_id
    LEFT JOIN saas_goods g
    ON g.id = d.goods_id
    WHERE (u.id = #{enterpriseId} or u.parent_id = #{enterpriseId})
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      and (
      INSTR(d.goods_name,#{param})
      or INSTR(d.goods_code,#{param})
      or INSTR(d.approval_number,#{param})
      or INSTR(d.barcode,#{param})
      or INSTR(d.goods_generic_name,#{param})
      )
    </if>
    <if test="chainType != null">
      and u.chain_type = #{chainType}
    </if>
    <if test="enterpriseCode != null">
      and INSTR(u.code,#{enterpriseCode})
    </if>
    <if test="enterpriseName != null">
      and INSTR(u.name,#{enterpriseName})
    </if>
    /**
      起始时间----终止时间
    */
    <if test="startTime != null">
      and d.move_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and d.move_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(d.move_code,#{code})
    </if>
    <if test="moveManName != null">
      and INSTR(m.move_man_name,#{moveManName})
    </if>
    <if test="receiverName != null">
      and INSTR(m.receiver_name,#{receiverName})
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name,#{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark,#{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand,#{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by d.${order} ${sort}
      </when>
      <otherwise>
        order by d.id desc
      </otherwise>
    </choose>
    <if test="pageSize != null">
      limit #{start},#{pageSize}
    </if>
  </select>
  <select id="selectSonMoveReport"
          resultType="com.rograndec.feijiayun.chain.business.report.quality.storage.vo.ShelfMoveVO">
    /**
      搜寻货位移动报表（分部）
     */
    SELECT
    d.id as id,
    d.move_date as moveDate,
    d.move_code as code,
    m.move_man_name as moveManName,
    m.receiver_name as receiverName,
    d.goods_id as goodsId,
    d.goods_code as goodsCode,
    d.barcode as barcode,
    d.goods_name as goodsName,
    d.goods_generic_name as goodsGenericName,
    d.dosage_id as dosageId,
    d.dosage_name as dosageName,
    d.goods_specification as goodsSpecification,
    d.unit_id as unitId,
    d.unit_name as unitName,
    d.manufacturer_id as manufacturerId,
    d.manufacturer as manufacturer,
    d.goods_place as goodsPlace,
    d.approval_number as approvalNumber,
    d.lot_number as lotNum,
    d.product_date as productDate,
    d.valid_date as validDate,
    d.src_shelf_id as srcShelfId,
    d.src_shelf_name as srcShelfName,
    d.src_shelf_status_desc as srcShelfStatusDesc,
    d.target_shelf_id as targetShelfId,
    d.target_shelf_name as targetShelfName,
    d.target_shelf_status_desc as targetShelfStatusDesc,
    d.quantity as quantity,
    d.remark as remark,
    m.status as status,
    g.business_variety as businessVariety,
    g.category_id as categoryId,
    (
    SELECT
    cate.name
    FROM
    saas_goods_category cate
    WHERE
    cate.id = g.category_id
    ) AS categoryName,
    g.goods_attribute as goodsAttribute,
    g.prescription_drug as prescriptionDrug,
    g.otc_type as otcType,
    g.cosmetics as cosmetics,
    g.domestic_import as domesticImport,
    g.management_scope_id as managementScopeId,
    g.management_scope_name as managementScopeName,
    g.special_drug as specialDrug,
    g.spirit_drug_type as spiritDrugType,
    g.formulation_type as formulationType,
    g.in_charge_drug as inChargeDrug,
    g.limit_quantity as limitQuantity,
    g.storage_temp as storageTemp,
    g.storage_condition_name as storageConditionName,
    g.quality_period as qualityPeriod,
    g.quality_period_unit as qualityPeriodUnit
    FROM saas_shelf_move_detail d
    LEFT JOIN saas_shelf_move m
    ON d.move_id = m.id
    LEFT JOIN saas_goods g
    ON g.id = d.goods_id
    WHERE d.enterprise_id = #{enterpriseId}
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      and (
      INSTR(d.goods_name,#{param})
      or INSTR(d.goods_code,#{param})
      or INSTR(d.approval_number,#{param})
      or INSTR(d.barcode,#{param})
      or INSTR(d.goods_generic_name,#{param})
      )
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and d.move_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and d.move_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(d.move_code,#{code})
    </if>
    <if test="moveManName != null">
      and INSTR(m.move_man_name,#{moveManName})
    </if>
    <if test="receiverName != null">
      and INSTR(m.receiver_name,#{receiverName})
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name,#{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark,#{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand,#{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by d.${order} ${sort}
      </when>
      <otherwise>
        order by d.id desc
      </otherwise>
    </choose>
    <if test="pageSize != null">
      limit #{start},#{pageSize}
    </if>
  </select>
  <select id="selectFatherQuantity" resultType="java.math.BigDecimal">
    SELECT
    sum(d.quantity)
    FROM saas_shelf_move_detail d
    LEFT JOIN saas_shelf_move m
    ON d.move_id = m.id
    LEFT JOIN saas_enterprise u
    ON u.id = d.enterprise_id
    LEFT JOIN saas_goods g
    ON g.id = d.goods_id
    WHERE (u.id = #{enterpriseId} or u.parent_id = #{enterpriseId})
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      and (
      INSTR(d.goods_name,#{param})
      or INSTR(d.goods_code,#{param})
      or INSTR(d.approval_number,#{param})
      or INSTR(d.barcode,#{param})
      or INSTR(d.goods_generic_name,#{param})
      )
    </if>
    <if test="chainType != null">
      and u.chain_type = #{chainType}
    </if>
    <if test="enterpriseCode != null">
      and INSTR(u.code,#{enterpriseCode})
    </if>
    <if test="enterpriseName != null">
      and INSTR(u.name,#{enterpriseName})
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and d.move_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and d.move_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(d.move_code,#{code})
    </if>
    <if test="moveManName != null">
      and INSTR(m.move_man_name,#{moveManName})
    </if>
    <if test="receiverName != null">
      and INSTR(m.receiver_name,#{receiverName})
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name,#{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark,#{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand,#{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by d.${order} ${sort}
      </when>
      <otherwise>
        order by d.id desc
      </otherwise>
    </choose>
  </select>
  <select id="selectSonQuantity" resultType="java.math.BigDecimal">
    SELECT
    sum(d.quantity)
    FROM saas_shelf_move_detail d
    LEFT JOIN saas_shelf_move m
    ON d.move_id = m.id
    LEFT JOIN saas_goods g
    ON g.id = d.goods_id
    WHERE d.enterprise_id = #{enterpriseId}
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      and (
      INSTR(d.goods_name,#{param})
      or INSTR(d.goods_code,#{param})
      or INSTR(d.approval_number,#{param})
      or INSTR(d.barcode,#{param})
      or INSTR(d.goods_generic_name,#{param})
      )
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and d.move_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and d.move_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(d.move_code,#{code})
    </if>
    <if test="moveManName != null">
      and INSTR(m.move_man_name,#{moveManName})
    </if>
    <if test="receiverName != null">
      and INSTR(m.receiver_name,#{receiverName})
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name,#{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark,#{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand,#{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by d.${order} ${sort}
      </when>
      <otherwise>
        order by d.id desc
      </otherwise>
    </choose>
  </select>
    <select id="getTotalRecord" resultType="java.lang.Integer">
      select
        COUNT(*)
      from saas_shelf_move
      where enterprise_id = #{enterpriseId}
      <if test="startTime != null and endTime != null">
        and move_date between #{startTime} and #{endTime}
      </if>
      <if test="code != null">
        and INSTR(code,#{code})
      </if>
      <if test="moveManName != null">
        and INSTR(move_man_name,#{moveManName})
      </if>
      <if test="receiverName != null">
        and INSTR(receiver_name,#{receiverName})
      </if>
      <choose>
        <when test="order != null and sort != null">
          order by ${order} ${sort}
        </when>
        <otherwise>
          order by id desc
        </otherwise>
      </choose>
    </select>
  <select id="selectFatherMoveTotalRecord" resultType="java.lang.Integer">
    SELECT
    COUNT(*)
    FROM saas_shelf_move_detail d
    LEFT JOIN saas_shelf_move m
    ON d.move_id = m.id
    LEFT JOIN saas_enterprise u
    ON u.id = d.enterprise_id
    LEFT JOIN saas_goods g
    ON g.id = d.goods_id
    WHERE (u.id = #{enterpriseId} or u.parent_id = #{enterpriseId})
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      and (
      INSTR(d.goods_name,#{param})
      or INSTR(d.goods_code,#{param})
      or INSTR(d.approval_number,#{param})
      or INSTR(d.barcode,#{param})
      or INSTR(d.goods_generic_name,#{param})
      )
    </if>
    <if test="chainType != null">
      and u.chain_type = #{chainType}
    </if>
    <if test="enterpriseCode != null">
      and INSTR(u.code,#{enterpriseCode})
    </if>
    <if test="enterpriseName != null">
      and INSTR(u.name,#{enterpriseName})
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and d.move_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and d.move_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(d.move_code,#{code})
    </if>
    <if test="moveManName != null">
      and INSTR(m.move_man_name,#{moveManName})
    </if>
    <if test="receiverName != null">
      and INSTR(m.receiver_name,#{receiverName})
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name,#{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark,#{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand,#{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by d.${order} ${sort}
      </when>
      <otherwise>
        order by d.id desc
      </otherwise>
    </choose>
  </select>
  <select id="selectSonMoveTotalRecord" resultType="java.lang.Integer">
    SELECT
    COUNT(*)
    FROM saas_shelf_move_detail d
    LEFT JOIN saas_shelf_move m
    ON d.move_id = m.id
    LEFT JOIN saas_goods g
    ON g.id = d.goods_id
    WHERE d.enterprise_id = #{enterpriseId}
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      and (
      INSTR(d.goods_name,#{param})
      or INSTR(d.goods_code,#{param})
      or INSTR(d.approval_number,#{param})
      or INSTR(d.barcode,#{param})
      or INSTR(d.goods_generic_name,#{param})
      )
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and d.move_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and d.move_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(d.move_code,#{code})
    </if>
    <if test="moveManName != null">
      and INSTR(m.move_man_name,#{moveManName})
    </if>
    <if test="receiverName != null">
      and INSTR(m.receiver_name,#{receiverName})
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name,#{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark,#{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand,#{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by d.${order} ${sort}
      </when>
      <otherwise>
        order by d.id desc
      </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_shelf_move
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.storage.move.entity.ShelfMove">
    insert into saas_shelf_move (id, enterprise_id, parent_id, 
      order_type, code, move_date, 
      move_man_id, move_man_code, move_man_name, 
      receiver_id, receiver_code, receiver_name, 
      move_reason, quantity_total, varieties_quantity, 
      status, remark, creater_id, 
      creater_code, creater_name, create_time, 
      modifier_id, modifier_code, modifier_name, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{orderType,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{moveDate,jdbcType=TIMESTAMP}, 
      #{moveManId,jdbcType=BIGINT}, #{moveManCode,jdbcType=VARCHAR}, #{moveManName,jdbcType=VARCHAR}, 
      #{receiverId,jdbcType=BIGINT}, #{receiverCode,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, 
      #{moveReason,jdbcType=VARCHAR}, #{quantityTotal,jdbcType=DECIMAL}, #{varietiesQuantity,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, 
      #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.storage.move.entity.ShelfMove" useGeneratedKeys="true" keyProperty="id">
    insert into saas_shelf_move
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="moveDate != null">
        move_date,
      </if>
      <if test="moveManId != null">
        move_man_id,
      </if>
      <if test="moveManCode != null">
        move_man_code,
      </if>
      <if test="moveManName != null">
        move_man_name,
      </if>
      <if test="receiverId != null">
        receiver_id,
      </if>
      <if test="receiverCode != null">
        receiver_code,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
      <if test="moveReason != null">
        move_reason,
      </if>
      <if test="quantityTotal != null">
        quantity_total,
      </if>
      <if test="varietiesQuantity != null">
        varieties_quantity,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="moveDate != null">
        #{moveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="moveManId != null">
        #{moveManId,jdbcType=BIGINT},
      </if>
      <if test="moveManCode != null">
        #{moveManCode,jdbcType=VARCHAR},
      </if>
      <if test="moveManName != null">
        #{moveManName,jdbcType=VARCHAR},
      </if>
      <if test="receiverId != null">
        #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="receiverCode != null">
        #{receiverCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="moveReason != null">
        #{moveReason,jdbcType=VARCHAR},
      </if>
      <if test="quantityTotal != null">
        #{quantityTotal,jdbcType=DECIMAL},
      </if>
      <if test="varietiesQuantity != null">
        #{varietiesQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.storage.move.entity.ShelfMove">
    update saas_shelf_move
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="moveDate != null">
        move_date = #{moveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="moveManId != null">
        move_man_id = #{moveManId,jdbcType=BIGINT},
      </if>
      <if test="moveManCode != null">
        move_man_code = #{moveManCode,jdbcType=VARCHAR},
      </if>
      <if test="moveManName != null">
        move_man_name = #{moveManName,jdbcType=VARCHAR},
      </if>
      <if test="receiverId != null">
        receiver_id = #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="receiverCode != null">
        receiver_code = #{receiverCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="moveReason != null">
        move_reason = #{moveReason,jdbcType=VARCHAR},
      </if>
      <if test="quantityTotal != null">
        quantity_total = #{quantityTotal,jdbcType=DECIMAL},
      </if>
      <if test="varietiesQuantity != null">
        varieties_quantity = #{varietiesQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.storage.move.entity.ShelfMove">
    update saas_shelf_move
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      move_date = #{moveDate,jdbcType=TIMESTAMP},
      move_man_id = #{moveManId,jdbcType=BIGINT},
      move_man_code = #{moveManCode,jdbcType=VARCHAR},
      move_man_name = #{moveManName,jdbcType=VARCHAR},
      receiver_id = #{receiverId,jdbcType=BIGINT},
      receiver_code = #{receiverCode,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      move_reason = #{moveReason,jdbcType=VARCHAR},
      quantity_total = #{quantityTotal,jdbcType=DECIMAL},
      varieties_quantity = #{varietiesQuantity,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>