<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.retail.prescription.dao.PrescriptionSignatureDetailMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.retail.prescription.entity.PrescriptionSignatureDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="signature_id" jdbcType="BIGINT" property="signatureId" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="picture_id" jdbcType="BIGINT" property="pictureId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="finger_data" jdbcType="VARCHAR" property="fingerData" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="PrescriptionSignatureDetailVO" type="com.rograndec.feijiayun.chain.business.retail.prescription.vo.PrescriptionSignatureDetailVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="signature_id" jdbcType="BIGINT" property="signatureId" />
    <result column="picture_id" jdbcType="BIGINT" property="pictureId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="finger_data" jdbcType="VARCHAR" property="fingerData" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, signature_id, enterprise_id, parent_id, picture_id, url, finger_data, remark, 
    creater_id, creater_code, creater_name, create_time, modifier_id, modifier_code, 
    modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    id,signature_id,picture_id,url,finger_data,remark
    from saas_prescription_signature_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectBySignatureIdByEnterpriseId" resultMap="PrescriptionSignatureDetailVO">
    select
    <include refid="Base_Column_List" />
    from saas_prescription_signature_detail
    where 1=1
    <if test="enterpriseId != null">
     and  enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    </if>
    and signature_id = #{signatureId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_prescription_signature_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteBySignatureId" parameterType="java.lang.Long">
    delete from saas_prescription_signature_detail
    where signature_id = #{signatureId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.retail.prescription.entity.PrescriptionSignatureDetail"  keyProperty="id" useGeneratedKeys="true">
    insert into saas_prescription_signature_detail (id, signature_id, enterprise_id, 
      parent_id, picture_id, url, 
      finger_data, remark, creater_id, 
      creater_code, creater_name, create_time, 
      modifier_id, modifier_code, modifier_name, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{signatureId,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, 
      #{parentId,jdbcType=BIGINT}, #{pictureId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, 
      #{fingerData,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, 
      #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.retail.prescription.entity.PrescriptionSignatureDetail"  keyProperty="id" useGeneratedKeys="true">
    insert into saas_prescription_signature_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="signatureId != null">
        signature_id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="pictureId != null">
        picture_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="fingerData != null">
        finger_data,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="signatureId != null">
        #{signatureId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="pictureId != null">
        #{pictureId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="fingerData != null">
        #{fingerData,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.retail.prescription.entity.PrescriptionSignatureDetail">
    update saas_prescription_signature_detail
    <set>
      <if test="signatureId != null">
        signature_id = #{signatureId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="pictureId != null">
        picture_id = #{pictureId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="fingerData != null">
        finger_data = #{fingerData,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.retail.prescription.entity.PrescriptionSignatureDetail">
    update saas_prescription_signature_detail
    set signature_id = #{signatureId,jdbcType=BIGINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      picture_id = #{pictureId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      finger_data = #{fingerData,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>