<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.goods.sale.dao.SpecialPriceGoodsMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.goods.sale.entity.SpecialPriceGoods">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="stragegy_name" jdbcType="VARCHAR" property="stragegyName" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="dosage_id" jdbcType="BIGINT" property="dosageId" />
    <result column="dosage_name" jdbcType="VARCHAR" property="dosageName" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="manufacturer_id" jdbcType="BIGINT" property="manufacturerId" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="unit_id" jdbcType="BIGINT" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="goods_place" jdbcType="VARCHAR" property="goodsPlace" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, strategy_id, stragegy_name, goods_id,
    goods_code, goods_name, dosage_id, dosage_name, specification, manufacturer_id, manufacturer,
    unit_id, unit_name,goods_place,status, remark, creater_id, creater_code, creater_name, create_time, modifier_id,
    modifier_code, modifier_name, update_time
  </sql>
  <select id="selectGoodsExists" parameterType="java.util.HashMap" resultType="java.lang.Long">
  select
  count(*)
  from saas_special_price_goods
  where  enterprise_id = #{enterpriseId}
  AND goods_id in
  <foreach item="goodsId" index="index" collection="goodsIds"
           open="(" separator="," close=")">
    #{goodsId}
  </foreach>
  AND status = 1
  <if test="id != null">
    and id != #{id}
  </if>
  </select>
  <delete id="deleteExistsGoods" parameterType="java.util.HashMap">
  delete from saas_special_price_goods
  where  enterprise_id = #{enterpriseId}
  AND goods_id in
  <foreach item="goodsId" index="index" collection="goodsIds"
           open="(" separator="," close=")">
    #{goodsId}
  </foreach>
  AND status = 1
  <if test="id != null">
    and id != #{id}
  </if>
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_special_price_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByStrategyId" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_special_price_goods
    where strategy_id = #{strategyId,jdbcType=BIGINT}
    AND enterprise_id = #{enterpriseId,jdbcType=BIGINT}
  </select>
  <select id="selectByEnterpriseId" parameterType="java.util.HashMap" resultMap="BaseResultMap" flushCache="true">
    select
    <include refid="Base_Column_List" />
    from saas_special_price_goods
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    <if test="goodsInfo != null">
      and goods_id in (select id from saas_goods where (INSTR(code,#{goodsInfo})
      or INSTR(barcode,#{goodsInfo})
      or INSTR(name,#{goodsInfo})
      or INSTR(generic_name,#{goodsInfo})
      or INSTR(approval_number,#{goodsInfo})) and enterprise_id=#{enterpriseId,jdbcType=BIGINT})
    </if>
    <if test="strategyId != null">
      and strategy_id = #{strategyId}
    </if>
    <if test="orderName != null and orderType!=null">
      ORDER BY  ${orderName} ${orderType}
    </if>
    <if test="pageSize != null and start!=null">
      limit ${start},${pageSize}
    </if>
  </select>
  <select id="selectCountByEnterpriseId" parameterType="java.util.HashMap" resultType="java.lang.Integer" flushCache="true">
    select
    count(*)
    from saas_special_price_goods
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    <if test="goodsInfo != null">
      and goods_id in (select id from saas_goods where (INSTR(code,#{goodsInfo})
      or INSTR(barcode,#{goodsInfo})
      or INSTR(name,#{goodsInfo})
      or INSTR(generic_name,#{goodsInfo})
      or INSTR(approval_number,#{goodsInfo})) and enterprise_id=#{enterpriseId,jdbcType=BIGINT})
    </if>
    <if test="strategyId != null">
      and strategy_id = #{strategyId}
    </if>
  </select>
  <select id="selectByEnterpriseIdAndGoodsId" parameterType="java.util.HashMap" resultMap="BaseResultMap" flushCache="true">
    select
    <include refid="Base_Column_List" />
    from saas_special_price_goods
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT}
      and goods_id = #{goodsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_special_price_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByPrimaryStrategyIdByEnterpriseId" parameterType="java.util.HashMap">
    delete from saas_special_price_goods
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    and strategy_id = #{strategyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.goods.sale.entity.SpecialPriceGoods" useGeneratedKeys="true" keyProperty="id">
    insert into saas_special_price_goods (id, enterprise_id, parent_id,
    strategy_id, stragegy_name,
    goods_id, goods_code, goods_name,
    dosage_id, dosage_name, specification,
    manufacturer_id, manufacturer, unit_id,
    unit_name,goods_place, status, remark,
    creater_id, creater_code, creater_name,
    create_time, modifier_id, modifier_code,
    modifier_name, update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
    #{strategyId,jdbcType=BIGINT}, #{stragegyName,jdbcType=VARCHAR},
    #{goodsId,jdbcType=BIGINT}, #{goodsCode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR},
    #{dosageId,jdbcType=BIGINT}, #{dosageName,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR},
    #{manufacturerId,jdbcType=BIGINT}, #{manufacturer,jdbcType=VARCHAR}, #{unitId,jdbcType=BIGINT},
    #{unitName,jdbcType=VARCHAR},#{goodsPlace,jdbcType=VARCHAR},#{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
    #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR},
    now(), #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR},
    #{modifierName,jdbcType=VARCHAR}, now())
  </insert>
  <insert id="batchInsert" parameterType="com.rograndec.feijiayun.chain.business.goods.sale.entity.SpecialPriceGoods" useGeneratedKeys="true" keyProperty="id">
    insert into saas_special_price_goods ( enterprise_id, parent_id,
    strategy_id, stragegy_name,
    goods_id, goods_code, goods_name,
    dosage_id, dosage_name, specification,
    manufacturer_id, manufacturer, unit_id,
    unit_name,goods_place,status, remark,
    creater_id, creater_code, creater_name,
    create_time, modifier_id, modifier_code,
    modifier_name, update_time)
    <foreach collection="list" item="item" index="index" separator=",">
      values ( #{item.enterpriseId,jdbcType=BIGINT}, #{item.parentId,jdbcType=BIGINT},
      #{item.strategyId,jdbcType=BIGINT}, #{item.stragegyName,jdbcType=VARCHAR},
      #{item.goodsId,jdbcType=BIGINT}, #{item.goodsCode,jdbcType=VARCHAR}, #{item.goodsName,jdbcType=VARCHAR},
      #{item.dosageId,jdbcType=BIGINT}, #{item.dosageName,jdbcType=VARCHAR}, #{item.specification,jdbcType=VARCHAR},
      #{item.manufacturerId,jdbcType=BIGINT}, #{item.manufacturer,jdbcType=VARCHAR}, #{item.unitId,jdbcType=BIGINT},
      #{item.unitName,jdbcType=VARCHAR},#{item.goodsPlace,jdbcType=VARCHAR},#{item.status,jdbcType=INTEGER}, #{item.remark,jdbcType=VARCHAR},
      #{item.createrId,jdbcType=BIGINT}, #{item.createrCode,jdbcType=VARCHAR}, #{item.createrName,jdbcType=VARCHAR},
      now(), #{item.modifierId,jdbcType=BIGINT}, #{item.modifierCode,jdbcType=VARCHAR},
      #{item.modifierName,jdbcType=VARCHAR}, now())
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.goods.sale.entity.SpecialPriceGoods" useGeneratedKeys="true" keyProperty="id">
    insert into saas_special_price_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="strategyId != null">
        strategy_id,
      </if>
      <if test="stragegyName != null">
        stragegy_name,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="dosageId != null">
        dosage_id,
      </if>
      <if test="dosageName != null">
        dosage_name,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="manufacturerId != null">
        manufacturer_id,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="goodsPlace != null">
        goods_place,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      create_time,
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="strategyId != null">
        #{strategyId,jdbcType=BIGINT},
      </if>
      <if test="stragegyName != null">
        #{stragegyName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="dosageId != null">
        #{dosageId,jdbcType=BIGINT},
      </if>
      <if test="dosageName != null">
        #{dosageName,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        #{manufacturerId,jdbcType=BIGINT},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=BIGINT},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPlace != null">
        #{goodsPlace,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.goods.sale.entity.SpecialPriceGoods">
    update saas_special_price_goods
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="strategyId != null">
        strategy_id = #{strategyId,jdbcType=BIGINT},
      </if>
      <if test="stragegyName != null">
        stragegy_name = #{stragegyName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="dosageId != null">
        dosage_id = #{dosageId,jdbcType=BIGINT},
      </if>
      <if test="dosageName != null">
        dosage_name = #{dosageName,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        manufacturer_id = #{manufacturerId,jdbcType=BIGINT},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=BIGINT},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPlace != null">
        goods_place = #{goodsPlace,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      update_time = now(),
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.goods.sale.entity.SpecialPriceGoods">
    update saas_special_price_goods
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
    parent_id = #{parentId,jdbcType=BIGINT},
    strategy_id = #{strategyId,jdbcType=BIGINT},
    stragegy_name = #{stragegyName,jdbcType=VARCHAR},
    goods_id = #{goodsId,jdbcType=BIGINT},
    goods_code = #{goodsCode,jdbcType=VARCHAR},
    goods_name = #{goodsName,jdbcType=VARCHAR},
    dosage_id = #{dosageId,jdbcType=BIGINT},
    dosage_name = #{dosageName,jdbcType=VARCHAR},
    specification = #{specification,jdbcType=VARCHAR},
    manufacturer_id = #{manufacturerId,jdbcType=BIGINT},
    manufacturer = #{manufacturer,jdbcType=VARCHAR},
    unit_id = #{unitId,jdbcType=BIGINT},
    unit_name = #{unitName,jdbcType=VARCHAR},
    goods_place = #{goodsPlace,jdbcType=VARCHAR},
    status = #{status,jdbcType=INTEGER},
    remark = #{remark,jdbcType=VARCHAR},
    creater_id = #{createrId,jdbcType=BIGINT},
    creater_code = #{createrCode,jdbcType=VARCHAR},
    creater_name = #{createrName,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    modifier_id = #{modifierId,jdbcType=BIGINT},
    modifier_code = #{modifierCode,jdbcType=VARCHAR},
    modifier_name = #{modifierName,jdbcType=VARCHAR},
    update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>