<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.distr.parent.dao.DistrReturnReceiveMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.distr.parent.entity.DistrReturnReceive">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="receive_date" jdbcType="TIMESTAMP" property="receiveDate" />
    <result column="base_order_id" jdbcType="BIGINT" property="baseOrderId" />
    <result column="base_order_type" jdbcType="INTEGER" property="baseOrderType" />
    <result column="base_order_code" jdbcType="VARCHAR" property="baseOrderCode" />
    <result column="base_order_date" jdbcType="TIMESTAMP" property="baseOrderDate" />
    <result column="request_unit_id" jdbcType="BIGINT" property="requestUnitId" />
    <result column="request_unit_code" jdbcType="VARCHAR" property="requestUnitCode" />
    <result column="request_unit_name" jdbcType="VARCHAR" property="requestUnitName" />
    <result column="distr_type" jdbcType="INTEGER" property="distrType" />
    <result column="receiver_id" jdbcType="BIGINT" property="receiverId" />
    <result column="receiver_code" jdbcType="VARCHAR" property="receiverCode" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="second_receiver_id" jdbcType="BIGINT" property="secondReceiverId" />
    <result column="second_receiver_code" jdbcType="VARCHAR" property="secondReceiverCode" />
    <result column="second_receiver_name" jdbcType="VARCHAR" property="secondReceiverName" />
    <result column="quantity_total" jdbcType="DECIMAL" property="quantityTotal" />
    <result column="varieties_quantity" jdbcType="INTEGER" property="varietiesQuantity" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="DistrReturnReceiveVO" type="com.rograndec.feijiayun.chain.business.distr.parent.vo.DistrReturnReceiveVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="receive_date" jdbcType="TIMESTAMP" property="receiveDate" />
    <result column="base_order_id" jdbcType="BIGINT" property="baseOrderId" />
    <result column="base_order_type" jdbcType="INTEGER" property="baseOrderType" />
    <result column="base_order_code" jdbcType="VARCHAR" property="baseOrderCode" />
    <result column="base_order_date" jdbcType="TIMESTAMP" property="baseOrderDate" />
    <result column="request_unit_id" jdbcType="BIGINT" property="requestUnitId" />
    <result column="request_unit_code" jdbcType="VARCHAR" property="requestUnitCode" />
    <result column="request_unit_name" jdbcType="VARCHAR" property="requestUnitName" />
    <result column="distr_type" jdbcType="INTEGER" property="distrType" />
    <result column="receiver_id" jdbcType="BIGINT" property="receiverId" />
    <result column="receiver_code" jdbcType="VARCHAR" property="receiverCode" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="second_receiver_id" jdbcType="BIGINT" property="secondReceiverId" />
    <result column="second_receiver_code" jdbcType="VARCHAR" property="secondReceiverCode" />
    <result column="second_receiver_name" jdbcType="VARCHAR" property="secondReceiverName" />
    <result column="quantity_total" jdbcType="DECIMAL" property="quantityTotal" />
    <result column="varieties_quantity" jdbcType="INTEGER" property="varietiesQuantity" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, order_type, code, receive_date, base_order_id, base_order_type, 
    base_order_code, base_order_date, request_unit_id, request_unit_code, request_unit_name, 
    distr_type, receiver_id, receiver_code, receiver_name, second_receiver_id, second_receiver_code, 
    second_receiver_name, quantity_total, varieties_quantity, status, remark, creater_id, 
    creater_code, creater_name, create_time, modifier_id, modifier_code, modifier_name, 
    update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_distr_return_receive
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByEnterpriseIdByBaseOrderId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_distr_return_receive
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    and base_order_id = #{baseOrderId,jdbcType=BIGINT}
  </select>
  <select id="selectByEnterpriseId" resultMap="DistrReturnReceiveVO">
    select
    <include refid="Base_Column_List" />
    from saas_distr_return_receive
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    <if test="startDate != null and endDate != null">
      and receive_date between #{startDate} and #{endDate}
    </if>
    <if test="requestUnitCode != null">
      and request_unit_code = #{requestUnitCode}
    </if>
    <if test="requestUnitName != null">
      and request_unit_name = #{requestUnitName}
    </if>
    <if test="code != null">
      and code = #{code}
    </if>
    <if test="distrType != null">
      and distr_type = #{distrType}
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
    <if test="receiverName != null">
      and receiver_name = #{receiverName}
    </if>
    <if test="secondReceiverName != null">
      and second_receiver_name = #{secondReceiverName}
    </if>
    <choose>
      <when test="orderType != null and orderName != null">
        order by ${orderName} ${orderType}
      </when>
      <otherwise>
        order by receive_date DESC,code desc
      </otherwise>
    </choose>
    <if test="start != null and pageSize != null">
      limit ${start},${pageSize}
    </if>
  </select>
  <select id="selectCountByEnterpriseId" resultType="java.lang.Integer">
    select
    count(*)
    from saas_distr_return_receive
    where enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    <if test="startDate != null and endDate != null">
      and receive_date between #{startDate} and #{endDate}
    </if>
    <if test="requestUnitCode != null">
      and request_unit_code = #{requestUnitCode}
    </if>
    <if test="requestUnitName != null">
      and request_unit_name = #{requestUnitName}
    </if>
    <if test="code != null">
      and code = #{code}
    </if>
    <if test="distrType != null">
      and distr_type = #{distrType}
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
    <if test="receiverName != null">
      and receiver_name = #{receiverName}
    </if>
    <if test="secondReceiverName != null">
      and second_receiver_name = #{secondReceiverName}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_distr_return_receive
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.distr.parent.entity.DistrReturnReceive" useGeneratedKeys="true" keyProperty="id">
    insert into saas_distr_return_receive (enterprise_id, parent_id,
      order_type, code, receive_date, 
      base_order_id, base_order_type, base_order_code, 
      base_order_date, request_unit_id, request_unit_code, 
      request_unit_name, distr_type, receiver_id, 
      receiver_code, receiver_name, second_receiver_id, 
      second_receiver_code, second_receiver_name, 
      quantity_total, varieties_quantity, status, 
      remark, creater_id, creater_code, 
      creater_name, create_time, modifier_id, 
      modifier_code, modifier_name, update_time
      )
    values (#{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
      #{orderType,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{receiveDate,jdbcType=TIMESTAMP}, 
      #{baseOrderId,jdbcType=BIGINT}, #{baseOrderType,jdbcType=INTEGER}, #{baseOrderCode,jdbcType=VARCHAR}, 
      #{baseOrderDate,jdbcType=TIMESTAMP}, #{requestUnitId,jdbcType=BIGINT}, #{requestUnitCode,jdbcType=VARCHAR}, 
      #{requestUnitName,jdbcType=VARCHAR}, #{distrType,jdbcType=INTEGER}, #{receiverId,jdbcType=BIGINT}, 
      #{receiverCode,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{secondReceiverId,jdbcType=BIGINT}, 
      #{secondReceiverCode,jdbcType=VARCHAR}, #{secondReceiverName,jdbcType=VARCHAR}, 
      #{quantityTotal,jdbcType=DECIMAL}, #{varietiesQuantity,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, 
      #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, 
      #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.distr.parent.entity.DistrReturnReceive" useGeneratedKeys="true" keyProperty="id">
    insert into saas_distr_return_receive
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="receiveDate != null">
        receive_date,
      </if>
      <if test="baseOrderId != null">
        base_order_id,
      </if>
      <if test="baseOrderType != null">
        base_order_type,
      </if>
      <if test="baseOrderCode != null">
        base_order_code,
      </if>
      <if test="baseOrderDate != null">
        base_order_date,
      </if>
      <if test="requestUnitId != null">
        request_unit_id,
      </if>
      <if test="requestUnitCode != null">
        request_unit_code,
      </if>
      <if test="requestUnitName != null">
        request_unit_name,
      </if>
      <if test="distrType != null">
        distr_type,
      </if>
      <if test="receiverId != null">
        receiver_id,
      </if>
      <if test="receiverCode != null">
        receiver_code,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
      <if test="secondReceiverId != null">
        second_receiver_id,
      </if>
      <if test="secondReceiverCode != null">
        second_receiver_code,
      </if>
      <if test="secondReceiverName != null">
        second_receiver_name,
      </if>
      <if test="quantityTotal != null">
        quantity_total,
      </if>
      <if test="varietiesQuantity != null">
        varieties_quantity,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null">
        #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="baseOrderId != null">
        #{baseOrderId,jdbcType=BIGINT},
      </if>
      <if test="baseOrderType != null">
        #{baseOrderType,jdbcType=INTEGER},
      </if>
      <if test="baseOrderCode != null">
        #{baseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="baseOrderDate != null">
        #{baseOrderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requestUnitId != null">
        #{requestUnitId,jdbcType=BIGINT},
      </if>
      <if test="requestUnitCode != null">
        #{requestUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="requestUnitName != null">
        #{requestUnitName,jdbcType=VARCHAR},
      </if>
      <if test="distrType != null">
        #{distrType,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null">
        #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="receiverCode != null">
        #{receiverCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="secondReceiverId != null">
        #{secondReceiverId,jdbcType=BIGINT},
      </if>
      <if test="secondReceiverCode != null">
        #{secondReceiverCode,jdbcType=VARCHAR},
      </if>
      <if test="secondReceiverName != null">
        #{secondReceiverName,jdbcType=VARCHAR},
      </if>
      <if test="quantityTotal != null">
        #{quantityTotal,jdbcType=DECIMAL},
      </if>
      <if test="varietiesQuantity != null">
        #{varietiesQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.distr.parent.entity.DistrReturnReceive">
    update saas_distr_return_receive
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null">
        receive_date = #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="baseOrderId != null">
        base_order_id = #{baseOrderId,jdbcType=BIGINT},
      </if>
      <if test="baseOrderType != null">
        base_order_type = #{baseOrderType,jdbcType=INTEGER},
      </if>
      <if test="baseOrderCode != null">
        base_order_code = #{baseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="baseOrderDate != null">
        base_order_date = #{baseOrderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requestUnitId != null">
        request_unit_id = #{requestUnitId,jdbcType=BIGINT},
      </if>
      <if test="requestUnitCode != null">
        request_unit_code = #{requestUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="requestUnitName != null">
        request_unit_name = #{requestUnitName,jdbcType=VARCHAR},
      </if>
      <if test="distrType != null">
        distr_type = #{distrType,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null">
        receiver_id = #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="receiverCode != null">
        receiver_code = #{receiverCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="secondReceiverId != null">
        second_receiver_id = #{secondReceiverId,jdbcType=BIGINT},
      </if>
      <if test="secondReceiverCode != null">
        second_receiver_code = #{secondReceiverCode,jdbcType=VARCHAR},
      </if>
      <if test="secondReceiverName != null">
        second_receiver_name = #{secondReceiverName,jdbcType=VARCHAR},
      </if>
      <if test="quantityTotal != null">
        quantity_total = #{quantityTotal,jdbcType=DECIMAL},
      </if>
      <if test="varietiesQuantity != null">
        varieties_quantity = #{varietiesQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.distr.parent.entity.DistrReturnReceive">
    update saas_distr_return_receive
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      receive_date = #{receiveDate,jdbcType=TIMESTAMP},
      base_order_id = #{baseOrderId,jdbcType=BIGINT},
      base_order_type = #{baseOrderType,jdbcType=INTEGER},
      base_order_code = #{baseOrderCode,jdbcType=VARCHAR},
      base_order_date = #{baseOrderDate,jdbcType=TIMESTAMP},
      request_unit_id = #{requestUnitId,jdbcType=BIGINT},
      request_unit_code = #{requestUnitCode,jdbcType=VARCHAR},
      request_unit_name = #{requestUnitName,jdbcType=VARCHAR},
      distr_type = #{distrType,jdbcType=INTEGER},
      receiver_id = #{receiverId,jdbcType=BIGINT},
      receiver_code = #{receiverCode,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      second_receiver_id = #{secondReceiverId,jdbcType=BIGINT},
      second_receiver_code = #{secondReceiverCode,jdbcType=VARCHAR},
      second_receiver_name = #{secondReceiverName,jdbcType=VARCHAR},
      quantity_total = #{quantityTotal,jdbcType=DECIMAL},
      varieties_quantity = #{varietiesQuantity,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getDistrReturnReceiveReport" parameterType="com.rograndec.feijiayun.chain.business.report.quality.distr.vo.RequestDistrReturnReceiveVO" resultType="com.rograndec.feijiayun.chain.business.report.quality.distr.vo.DistrReturnReceiveReportVO">
	SELECT
	detail.`id`,rec.`receive_date` AS receiveDate,rec.`code`,rec.`request_unit_id` AS requestUnitId,
	rec.`request_unit_code` AS requestUnitCode,rec.`request_unit_name` AS requestUnitName,
	rec.`receiver_id` AS receiverId,rec.`receiver_name` AS receiverName,rec.`second_receiver_id` AS secondReceiverId,
	rec.`second_receiver_name` AS secondReceiverName,rec.`base_order_code` AS baseOrderCode,rec.distr_type as distrType,

	detail.`goods_id` AS goodsId,detail.`goods_code` AS goodsCode,detail.`barcode` AS barcode,detail.`goods_name` AS goodsName,
	detail.`goods_generic_name` AS goodsGenericName,detail.`dosage_id` AS dosageId,detail.`dosage_name` AS dosageName,
	detail.`unit_id` AS unitId,detail.`unit_name` AS unitName,detail.`goods_specification` AS goodsSpecification,
	detail.`manufacturer_id` AS manufacturerId,detail.`manufacturer` AS manufacturer,detail.`goods_place` AS goodsPlace,
	detail.`approval_number` AS approvalNumber,
	nodetail.`quantity`,
	detail.`arrival_quantity` AS arrivalQuantity,detail.`receive_quantity` AS receiveQuantity,detail.`refuse_quantity` AS refuseQuantity,
	detail.`refuse_reason_ids` AS refuseReasonIds,detail.`status`,goods.`business_variety` AS businessVariety,cate.id AS categoryId,
	cate.name AS categoryName,goods.`goods_attribute` AS goodsAttribute,goods.`prescription_drug` AS prescriptionDrug,

	goods.`otc_type` AS otcType,goods.`domestic_import` AS domesticImport, goods.`management_scope_id` AS managemenScopeId,
	goods.`management_scope_name` AS managementScopeName,goods.`special_drug` AS specialDrug,
	goods.`in_charge_drug` AS inChargeDrug, goods.`limit_quantity` AS limitQuantity,
	goods.`storage_temp` AS storageTemp,goods.`storage_condition_name` AS storageConditionName,
	goods.`quality_period` AS qualityPeriod,goods.`quality_period_unit` AS qualityPeriodUnit,
	goods.`spirit_drug_type` AS spiritDrugType,goods.`formulation_type` AS formulationType,goods.`cosmetics`

	FROM `saas_distr_return_receive_detail` detail
    INNER JOIN `saas_distr_return_receive` rec ON rec.`id`=detail.`receive_id`
    INNER JOIN `saas_goods` goods ON goods.`id`=detail.`goods_id`
    INNER JOIN `saas_goods_category` cate ON cate.id=goods.`category_id`
    INNER JOIN `saas_distr_return_notice_detail` nodetail ON nodetail.`id`=detail.`base_order_id`
	WHERE 1=1 
	AND detail.`enterprise_id`=#{enterpriseId}
	<include refid="GoodsNearEffectParams"/>
	 <if test="dateOrder==0 and codeOrder==0">
	 ORDER BY rec.`receive_date` DESC , rec.`code` DESC   
	 </if>
	  <if test="dateOrder==0 and codeOrder==1">
	 ORDER BY rec.`receive_date` DESC , rec.`code`   
	 </if>
	  <if test="dateOrder==1 and codeOrder==0">
	 ORDER BY rec.`receive_date`, rec.`code` DESC   
	 </if>
	  <if test="dateOrder==1 and codeOrder==1">
	 ORDER BY rec.`receive_date`, rec.`code` 
	 </if>
	 <if test="start!=null and pageSize!=null">
	 LIMIT #{start},#{pageSize}
	 </if>
  </select>
  <sql id="GoodsNearEffectParams">
  	<if test="param != null and param != ''">
         and (
          INSTR(detail.`goods_code`, #{param})
         or
          INSTR(detail.`barcode`, #{param})
         or
          INSTR(detail.`goods_name`, #{param})
         or
          INSTR(detail.`goods_generic_name`, #{param})
         or
          INSTR(detail.`approval_number`, #{param})
         )
    </if>
     <if test="businessVariety != null">
      AND goods.`business_variety` = #{businessVariety}
    </if>
    <if test="categoryId != null">
      AND goods.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      AND goods.domestic_import = #{domesticImport}
    </if>
     <if test="storageTemp != null">
      AND goods.storage_temp = #{storageTemp}
    </if>
     <if test="storageConditionName != null and storageConditionName!='' ">
      AND goods.`storage_condition_name` like concat('%', #{storageConditionName},'%')
    </if>
    <if test="registeredTrademark != null and registeredTrademark!='' ">
      AND goods.registered_trademark = #{registeredTrademark}
    </if>
    <if test="brand != null and brand!=''">
      AND goods.brand = #{brand}
    </if>
    <if test="goodsAttribute != null">
      AND goods.goods_attribute = #{goodsAttribute}
    </if>
     <if test="prescriptionDrug != null">
      AND goods.prescription_drug = #{prescriptionDrug}
    </if>
     <if test="otcType != null">
      AND goods.otc_type = #{otcType}
    </if>
     <if test="cosmetics != null">
      AND goods.cosmetics = #{cosmetics}
    </if>
     <if test="managementScopeId != null">
      AND goods.management_scope_id = #{managementScopeId}
    </if>
     <if test="specialDrug != null">
      AND goods.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      AND goods.in_charge_drug = #{inChargeDrug}
    </if>
    
    <if test="spiritDrugType != null">
	  AND goods.spirit_drug_type = #{spiritDrugType}
	</if>
    <if test="formulationType != null">
	  AND goods.formulation_type = #{formulationType}
	</if>
    
    <if test="startDate!=null and endDate!=null">
    AND ( rec.`receive_date` BETWEEN #{startDate} AND #{endDate} )
    </if>
    <if test="startDate!=null and endDate==null">
    AND rec.`receive_date` <![CDATA[>=]]> #{startDate}
    </if>
    <if test="startDate==null and endDate!=null">
    AND rec.`receive_date` <![CDATA[<=]]> #{endDate}
    </if>
    
    <if test="receiverName!=null and receiverName!='' ">
    AND rec.`receiver_name`=#{receiverName}
    </if>
    <if test="secondReceiverName!=null and secondReceiverName!='' ">
    AND rec.`second_receiver_name`=#{secondReceiverName}
    </if>
    
    <if test="status!=null">
     AND detail.`status`=#{status}
    </if>
    <if test="code!=null and code!='' ">
     AND rec.`code`=#{code}
    </if>
  </sql>
  
  <select id="getDistrReturnReceiveReportTotalNum" parameterType="com.rograndec.feijiayun.chain.business.report.quality.distr.vo.RequestDistrReturnReceiveVO" resultType="java.lang.Integer">
	  SELECT COUNT(detail.`id`)
	FROM `saas_distr_return_receive_detail` detail
    INNER JOIN `saas_distr_return_receive` rec ON rec.`id`=detail.`receive_id`
    INNER JOIN `saas_goods` goods ON goods.`id`=detail.`goods_id`
    INNER JOIN `saas_goods_category` cate ON cate.id=goods.`category_id`
    INNER JOIN `saas_distr_return_notice_detail` nodetail ON nodetail.`id`=detail.`base_order_id`
	WHERE 1=1 
	AND detail.`enterprise_id`=#{enterpriseId}
	<include refid="GoodsNearEffectParams"/>
  </select>
  
   <select id="getDistrReportVo" parameterType="com.rograndec.feijiayun.chain.business.report.quality.distr.vo.RequestDistrReturnReceiveVO" resultType="com.rograndec.feijiayun.chain.business.report.quality.distr.vo.DistrReportVo">
	 SELECT 
	  SUM(nodetail.`quantity`) AS quantity,
	  SUM(detail.`arrival_quantity`) AS arrivalQuantity,
	  SUM(detail.`receive_quantity`) AS receiveQuantity,
	  SUM(detail.`refuse_quantity`) AS refuseQuantity
	FROM
	  `saas_distr_return_receive_detail` detail
     INNER JOIN `saas_distr_return_receive` rec  ON rec.`id` = detail.`receive_id`
     INNER JOIN `saas_goods` goods  ON goods.`id` = detail.`goods_id`
     INNER JOIN `saas_goods_category` cate  ON cate.id = goods.`category_id`
     INNER JOIN `saas_distr_return_notice_detail` nodetail ON nodetail.`id` = detail.`base_order_id`
	WHERE 1 = 1 
	AND detail.`enterprise_id`=#{enterpriseId}
	<include refid="GoodsNearEffectParams"/>
  </select>
</mapper>