<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.basic.warehouse.dao.WarehouseCargoAreaMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.basic.warehouse.entity.WarehouseCargoArea">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="warehouse_area_id" jdbcType="BIGINT" property="warehouseAreaId" />
    <result column="sys_type" jdbcType="INTEGER" property="sysType" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="job_type" jdbcType="INTEGER" property="jobType" />
    <result column="job_area" jdbcType="INTEGER" property="jobArea" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="layer_quantity" jdbcType="INTEGER" property="layerQuantity" />
    <result column="shelf_quantity" jdbcType="INTEGER" property="shelfQuantity" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />

  </resultMap>

  <resultMap id="BaseResultMapVO" type="com.rograndec.feijiayun.chain.business.basic.warehouse.vo.ResponseWarehouseCargoAreaVO" extends="BaseResultMap">
    <!--自定义-->
    <result column="warehouseName" jdbcType="VARCHAR" property="warehouseName" />
    <result column="warehouseAreaName" jdbcType="VARCHAR" property="warehouseAreaName" />
  </resultMap>
  
  <resultMap id="BaseResultMapPosgzVO" type="com.rograndec.feijiayun.chain.business.basic.warehouse.vo.PosWarehouseCargoAreaVO" extends="BaseResultMap">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, warehouse_id, warehouse_area_id,sys_type, code, name, job_type,
    job_area, status, remark, layer_quantity,shelf_quantity, creater_id, creater_code, creater_name, create_time, modifier_id,
    modifier_code, modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_warehouse_cargo_area
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_warehouse_cargo_area
    where id in
    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_warehouse_cargo_area
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.basic.warehouse.entity.WarehouseCargoArea" useGeneratedKeys="true" keyProperty="id">
    insert into saas_warehouse_cargo_area (id, enterprise_id, parent_id, 
      warehouse_id, warehouse_area_id, sys_type,code,
      name, job_type, job_area, 
      status, remark,layer_quantity,shelf_quantity, creater_id,
      creater_code, creater_name, create_time, 
      modifier_id, modifier_code, modifier_name, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{warehouseId,jdbcType=BIGINT}, #{warehouseAreaId,jdbcType=BIGINT}, #{sysType,jdbcType=INTEGER},#{code,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{jobType,jdbcType=INTEGER}, #{jobArea,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{layerQuantity,jdbcType=INTEGER},#{shelfQuantity,jdbcType=INTEGER}, #{createrId,jdbcType=BIGINT},
      #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.basic.warehouse.entity.WarehouseCargoArea" useGeneratedKeys="true" keyProperty="id">
    insert into saas_warehouse_cargo_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="warehouseAreaId != null">
        warehouse_area_id,
      </if>
      <if test="sysType != null">
        sys_type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="jobType != null">
        job_type,
      </if>
      <if test="jobArea != null">
        job_area,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="layerQuantity != null">
        layer_quantity,
      </if>
      <if test="shelfQuantity != null">
        shelf_quantity,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="warehouseAreaId != null">
        #{warehouseAreaId,jdbcType=BIGINT},
      </if>
      <if test="sysType != null">
        #{sysType,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null">
        #{jobType,jdbcType=INTEGER},
      </if>
      <if test="jobArea != null">
        #{jobArea,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="layerQuantity != null">
        #{layerQuantity,jdbcType=INTEGER},
      </if>
      <if test="shelfQuantity != null">
        #{shelfQuantity,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.basic.warehouse.entity.WarehouseCargoArea">
    update saas_warehouse_cargo_area
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="warehouseAreaId != null">
        warehouse_area_id = #{warehouseAreaId,jdbcType=BIGINT},
      </if>
      <if test="sysType">
        sys_type = #{sysType,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null">
        job_type = #{jobType,jdbcType=INTEGER},
      </if>
      <if test="jobArea != null">
        job_area = #{jobArea,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="layerQuantity != null">
        layer_quantity = #{layerQuantity,jdbcType=INTEGER},
      </if>
      <if test="shelfQuantity != null">
        shelf_quantity = #{shelfQuantity,jdbcType=INTEGER},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.basic.warehouse.entity.WarehouseCargoArea">
    update saas_warehouse_cargo_area
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      warehouse_id = #{warehouseId,jdbcType=BIGINT},
      warehouse_area_id = #{warehouseAreaId,jdbcType=BIGINT},
      sys_type = #{sysType,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      job_type = #{jobType,jdbcType=INTEGER},
      job_area = #{jobArea,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      layer_quantity = #{layerQuantity,jdbcType=INTEGER},
      shelf_quantity = #{shelfQuantity,jdbcType=INTEGER},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getWarehouseCargoAreByEnterpId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM  saas_warehouse_cargo_area WHERE enterprise_id = #{enterpriseId}
  </select>

  <!--getWarehouseCargoAreaByParam 根据企业id和企业父id 库区id, 状态查询所有货区-->
  <select id="getWarehouseCargoAreaByParam" resultMap="BaseResultMapVO">

    SELECT cargo.id, cargo.enterprise_id, cargo.parent_id, cargo.warehouse_id, cargo.warehouse_area_id,cargo.sys_type,cargo.code,
    cargo.name, cargo.job_type,
    cargo.job_area, cargo.status, cargo.remark, cargo.layer_quantity,cargo.shelf_quantity,(SELECT name from
    saas_warehouse hu WHERE hu.id = cargo.warehouse_id ) as warehouseName,
    (SELECT name FROM saas_warehouse_area area where area.id = cargo.warehouse_area_id) as warehouseAreaName
    FROM saas_warehouse_cargo_area cargo
    WHERE cargo.enterprise_id = #{enterpriseId}
    <if test="commonVO.status != null">
      AND cargo.status = #{commonVO.status}
    </if>
    <if test="warehouseAreaId != null">
      AND cargo.warehouse_area_id = #{warehouseAreaId}
    </if>
    <if test="commonVO.codeOrder == 0">
      ORDER  BY cargo.id desc ,cargo.code desc
    </if>
    <if test=" commonVO.codeOrder == 1">
      ORDER  BY cargo.code
    </if>

  </select>

  <!--根据货位id查询货区-->
  <select id="getCargoByShelfId" parameterType="java.lang.Long" resultType="com.rograndec.feijiayun.chain.business.basic.warehouse.vo.CargoQualityStateVO" >
   SELECT
	cargo.job_area as jobArea,cargo.job_type as jobType
    FROM
        saas_warehouse_cargo_area cargo
    WHERE
	cargo.id = (
		SELECT
			shelf.cargo_area_id
		FROM
			saas_warehouse_shelf shelf
		WHERE
			shelf.id = #{shelfId})
			and
			cargo.status = 1
  </select>
  
  <!--根据企业Id查询货区-->
  <select id="findByEnterpriseIdPosgz" parameterType="java.lang.Long" resultMap="BaseResultMapPosgzVO" >
   SELECT
	cargo.id,cargo.code,cargo.name,cargo.remark,cargo.status
    FROM
        saas_warehouse_cargo_area cargo
    WHERE
	cargo.enterprise_id = #{enterpriseId} and status=1
  </select>
  
  <select id="selectCargoAreaByAargoAreaIds" resultMap="BaseResultMapPosgzVO" >
   SELECT
	cargo.id,cargo.code,cargo.name,cargo.remark,cargo.status
    FROM
        saas_warehouse_cargo_area cargo
    WHERE
	cargo.id IN 
	   <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
               #{item}       
       </foreach>   
  </select>


  <select id="getWarehouseCargoAreaByCodeName" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM
    saas_warehouse_cargo_area
    WHERE
    enterprise_id = #{enterpriseId}
    <if test="code != null">
      and code = #{code}
    </if>
    <if test="name != null">
      and
      name = #{name}
    </if>

  </select>

  <!-- 根据名称或者编码查询货区 -->
    <select id="selectCargoAreaByNameOrCode" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_warehouse_cargo_area
    where enterprise_id = #{enterpriseId}
    <if test="code != null and code!=''">
        and code = #{code}
    </if>
    <if test="name != null and name!=''">
        and name = #{name}
    </if>
  </select>
  
</mapper>