<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.finance.receivablepayment.payment.dao.FinancePaymentMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.finance.receivablepayment.payment.entity.FinancePayment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="payment_date" jdbcType="TIMESTAMP" property="paymentDate" />
    <result column="payment_man_id" jdbcType="BIGINT" property="paymentManId" />
    <result column="payment_man_code" jdbcType="VARCHAR" property="paymentManCode" />
    <result column="payment_man_name" jdbcType="VARCHAR" property="paymentManName" />
    <result column="company_type" jdbcType="INTEGER" property="companyType" />
    <result column="finance_account_type" jdbcType="INTEGER" property="financeAccountType" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="amount_total" jdbcType="DECIMAL" property="amountTotal" />
    <result column="clear_amount_total" jdbcType="DECIMAL" property="clearAmountTotal" />
    <result column="unclear_amount_total" jdbcType="DECIMAL" property="unclearAmountTotal" />
    <result column="payment_amount_total" jdbcType="DECIMAL" property="paymentAmountTotal" />
    <result column="discount_amount_total" jdbcType="DECIMAL" property="discountAmountTotal" />
    <result column="real_amount_total" jdbcType="DECIMAL" property="realAmountTotal" />
    <result column="transfer_date" jdbcType="TIMESTAMP" property="transferDate" />
    <result column="bank_id" jdbcType="BIGINT" property="bankId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bank_amount_total" jdbcType="DECIMAL" property="bankAmountTotal" />
    <result column="cash_amount_total" jdbcType="DECIMAL" property="cashAmountTotal" />
    <result column="unclear_balance_total" jdbcType="DECIMAL" property="unclearBalanceTotal" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, code, order_type, payment_date, payment_man_id, payment_man_code, 
    payment_man_name, company_type, finance_account_type, company_id, company_code, company_name, amount_total,
    clear_amount_total, unclear_amount_total, payment_amount_total, discount_amount_total, 
    real_amount_total, transfer_date, bank_id, bank_name, bank_account, bank_amount_total, 
    cash_amount_total, unclear_balance_total, status, remark, creater_id, creater_code, 
    creater_name, create_time, modifier_id, modifier_code, modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_finance_payment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getPayPage"
          resultType="com.rograndec.feijiayun.chain.business.finance.receivablepayment.payment.vo.PaymentPageVO">
    SELECT
    id AS id,
    payment_date AS paymentDate,
    code AS code,
    company_type AS companyType,
    company_code AS companyCode,
    company_name AS companyName,
    payment_man_name AS paymentManName,
    payment_amount_total AS paymentAmountTotal,
    discount_amount_total AS discountAmountTotal,
    real_amount_total AS realAmountTotal,
    remark AS remark,
    status AS status
    FROM saas_finance_payment
    WHERE enterprise_id = #{enterpriseId}
    <if test="startDate != null and endDate != null">
      AND payment_date BETWEEN #{startDate} AND #{endDate}
    </if>
    <if test="companyType != null">
      AND company_type = #{companyType}
    </if>
    <if test="companyCode != null and companyCode != ''">
      AND company_code = #{companyCode}
    </if>
    <if test="companyName != null and companyName != ''">
      AND INSTR(company_name,#{companyName})
    </if>
    <if test="code != null and code != ''">
      AND code = #{code}
    </if>
    <if test="paymentManName != null and paymentManName != ''">
      AND payment_man_name = #{paymentManName}
    </if>
    <if test="status != null">
      AND status = #{status}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by ${order} ${sort}
      </when>
      <otherwise>
        order by payment_date desc,code desc
      </otherwise>
    </choose>
    <if test="start != null and pageSize != null">
      limit #{start},#{pageSize}
    </if>
  </select>
  <select id="selectTotal"
          resultType="com.rograndec.feijiayun.chain.business.finance.receivablepayment.payment.vo.PaymentPageTotal">
    SELECT sum(payment_amount_total) as paymentAmountSummary,
    sum(discount_amount_total) as discountAmountSummary,
    sum(real_amount_total) as realAmountSummary
    FROM saas_finance_payment
    WHERE enterprise_id = #{enterpriseId}
    <if test="startDate != null and endDate != null">
      AND payment_date BETWEEN #{startDate} AND #{endDate}
    </if>
    <if test="companyType != null">
      AND company_type = #{companyType}
    </if>
    <if test="companyCode != null and companyCode != ''">
      AND company_code = #{companyCode}
    </if>
    <if test="companyName != null and companyName != ''">
      AND INSTR(company_name,#{companyName})
    </if>
    <if test="code != null and code != ''">
      AND code = #{code}
    </if>
    <if test="paymentManName != null and paymentManName != ''">
      AND payment_man_name = #{paymentManName}
    </if>
    <choose>
      <when test="status != null">
        AND status = #{status}
      </when>
      <otherwise>
        AND status != '2'
      </otherwise>
    </choose>
    <choose>
      <when test="order != null and sort != null">
        order by ${order} ${sort}
      </when>
      <otherwise>
        order by payment_date desc,code desc
      </otherwise>
    </choose>
  </select>
  <select id="getTotalRecord" resultType="java.lang.Integer">

    SELECT COUNT(*)
    FROM saas_finance_payment
    WHERE enterprise_id = #{enterpriseId}
    <if test="startDate != null and endDate != null">
      AND payment_date BETWEEN #{startDate} AND #{endDate}
    </if>
    <if test="companyType != null">
      AND company_type = #{companyType}
    </if>
    <if test="companyCode != null and companyCode != ''">
      AND company_code = #{companyCode}
    </if>
    <if test="companyName != null and companyName != ''">
      AND INSTR(company_name,#{companyName})
    </if>
    <if test="code != null and code != ''">
      AND code = #{code}
    </if>
    <if test="paymentManName != null and paymentManName != ''">
      AND payment_man_name = #{paymentManName}
    </if>
    <if test="status != null">
      AND status = #{status}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by ${order} ${sort}
      </when>
      <otherwise>
        order by payment_date desc,code desc
      </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_finance_payment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.finance.receivablepayment.payment.entity.FinancePayment" useGeneratedKeys="true" keyProperty="id">
    insert into saas_finance_payment (id, enterprise_id, parent_id, 
      code, order_type, payment_date, 
      payment_man_id, payment_man_code, payment_man_name, 
      company_type, finance_account_type, company_id, company_code,
      company_name, amount_total, clear_amount_total, 
      unclear_amount_total, payment_amount_total, 
      discount_amount_total, real_amount_total, transfer_date, 
      bank_id, bank_name, bank_account, 
      bank_amount_total, cash_amount_total, unclear_balance_total, 
      status, remark, creater_id, 
      creater_code, creater_name, create_time, 
      modifier_id, modifier_code, modifier_name, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{code,jdbcType=VARCHAR}, #{orderType,jdbcType=INTEGER}, #{paymentDate,jdbcType=TIMESTAMP}, 
      #{paymentManId,jdbcType=BIGINT}, #{paymentManCode,jdbcType=VARCHAR}, #{paymentManName,jdbcType=VARCHAR}, 
      #{companyType,jdbcType=INTEGER}, #{financeAccountType,jdbcType=INTEGER}, #{companyId,jdbcType=BIGINT}, #{companyCode,jdbcType=VARCHAR},
      #{companyName,jdbcType=VARCHAR}, #{amountTotal,jdbcType=DECIMAL}, #{clearAmountTotal,jdbcType=DECIMAL}, 
      #{unclearAmountTotal,jdbcType=DECIMAL}, #{paymentAmountTotal,jdbcType=DECIMAL}, 
      #{discountAmountTotal,jdbcType=DECIMAL}, #{realAmountTotal,jdbcType=DECIMAL}, #{transferDate,jdbcType=TIMESTAMP}, 
      #{bankId,jdbcType=BIGINT}, #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, 
      #{bankAmountTotal,jdbcType=DECIMAL}, #{cashAmountTotal,jdbcType=DECIMAL}, #{unclearBalanceTotal,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, 
      #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.finance.receivablepayment.payment.entity.FinancePayment" useGeneratedKeys="true" keyProperty="id">
    insert into saas_finance_payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="paymentDate != null">
        payment_date,
      </if>
      <if test="paymentManId != null">
        payment_man_id,
      </if>
      <if test="paymentManCode != null">
        payment_man_code,
      </if>
      <if test="paymentManName != null">
        payment_man_name,
      </if>
      <if test="companyType != null">
        company_type,
      </if>
      <if test="financeAccountType != null">
        finance_account_type,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="amountTotal != null">
        amount_total,
      </if>
      <if test="clearAmountTotal != null">
        clear_amount_total,
      </if>
      <if test="unclearAmountTotal != null">
        unclear_amount_total,
      </if>
      <if test="paymentAmountTotal != null">
        payment_amount_total,
      </if>
      <if test="discountAmountTotal != null">
        discount_amount_total,
      </if>
      <if test="realAmountTotal != null">
        real_amount_total,
      </if>
      <if test="transferDate != null">
        transfer_date,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
      <if test="bankAmountTotal != null">
        bank_amount_total,
      </if>
      <if test="cashAmountTotal != null">
        cash_amount_total,
      </if>
      <if test="unclearBalanceTotal != null">
        unclear_balance_total,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="paymentDate != null">
        #{paymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentManId != null">
        #{paymentManId,jdbcType=BIGINT},
      </if>
      <if test="paymentManCode != null">
        #{paymentManCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentManName != null">
        #{paymentManName,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null">
        #{companyType,jdbcType=INTEGER},
      </if>
      <if test="financeAccountType != null">
        #{financeAccountType,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="amountTotal != null">
        #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="clearAmountTotal != null">
        #{clearAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="unclearAmountTotal != null">
        #{unclearAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="paymentAmountTotal != null">
        #{paymentAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="discountAmountTotal != null">
        #{discountAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="realAmountTotal != null">
        #{realAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="transferDate != null">
        #{transferDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=BIGINT},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankAmountTotal != null">
        #{bankAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="cashAmountTotal != null">
        #{cashAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="unclearBalanceTotal != null">
        #{unclearBalanceTotal,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.finance.receivablepayment.payment.entity.FinancePayment">
    update saas_finance_payment
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="paymentDate != null">
        payment_date = #{paymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentManId != null">
        payment_man_id = #{paymentManId,jdbcType=BIGINT},
      </if>
      <if test="paymentManCode != null">
        payment_man_code = #{paymentManCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentManName != null">
        payment_man_name = #{paymentManName,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null">
        company_type = #{companyType,jdbcType=INTEGER},
      </if>
      <if test="financeAccountType != null">
        finance_account_type = #{financeAccountType,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="amountTotal != null">
        amount_total = #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="clearAmountTotal != null">
        clear_amount_total = #{clearAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="unclearAmountTotal != null">
        unclear_amount_total = #{unclearAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="paymentAmountTotal != null">
        payment_amount_total = #{paymentAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="discountAmountTotal != null">
        discount_amount_total = #{discountAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="realAmountTotal != null">
        real_amount_total = #{realAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="transferDate != null">
        transfer_date = #{transferDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=BIGINT},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankAmountTotal != null">
        bank_amount_total = #{bankAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="cashAmountTotal != null">
        cash_amount_total = #{cashAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="unclearBalanceTotal != null">
        unclear_balance_total = #{unclearBalanceTotal,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.finance.receivablepayment.payment.entity.FinancePayment">
    update saas_finance_payment
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=INTEGER},
      payment_date = #{paymentDate,jdbcType=TIMESTAMP},
      payment_man_id = #{paymentManId,jdbcType=BIGINT},
      payment_man_code = #{paymentManCode,jdbcType=VARCHAR},
      payment_man_name = #{paymentManName,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=INTEGER},
      finance_account_type = #{financeAccountType,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=BIGINT},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      amount_total = #{amountTotal,jdbcType=DECIMAL},
      clear_amount_total = #{clearAmountTotal,jdbcType=DECIMAL},
      unclear_amount_total = #{unclearAmountTotal,jdbcType=DECIMAL},
      payment_amount_total = #{paymentAmountTotal,jdbcType=DECIMAL},
      discount_amount_total = #{discountAmountTotal,jdbcType=DECIMAL},
      real_amount_total = #{realAmountTotal,jdbcType=DECIMAL},
      transfer_date = #{transferDate,jdbcType=TIMESTAMP},
      bank_id = #{bankId,jdbcType=BIGINT},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      bank_amount_total = #{bankAmountTotal,jdbcType=DECIMAL},
      cash_amount_total = #{cashAmountTotal,jdbcType=DECIMAL},
      unclear_balance_total = #{unclearBalanceTotal,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>