<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.goods.price.dao.PriceAdjustMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.goods.price.entity.PriceAdjust">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="adjust_date" jdbcType="TIMESTAMP" property="adjustDate" />
    <result column="adjust_man_id" jdbcType="BIGINT" property="adjustManId" />
    <result column="adjust_man_code" jdbcType="VARCHAR" property="adjustManCode" />
    <result column="adjust_man_name" jdbcType="VARCHAR" property="adjustManName" />
    <result column="price_order_id" jdbcType="BIGINT" property="priceOrderId" />
    <result column="adjust_reason" jdbcType="VARCHAR" property="adjustReason" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, order_code, adjust_date, adjust_man_id, adjust_man_code, 
    adjust_man_name, price_order_id, adjust_reason, status, remark, creater_id, creater_code, 
    creater_name, create_time, modifier_id, modifier_code, modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_price_adjust
    where id = #{id,jdbcType=BIGINT}
  </select>


  <select id="selectByParam" parameterType="java.util.Map" resultType="com.rograndec.feijiayun.chain.business.goods.price.vo.PriceAdjustReturnVO">
    select
      spa.id as id,
      spa.enterprise_id as enterpriseId,
      spa.parent_id as parentId,
      spa.order_code as orderCode,
      spa.adjust_date as adjustDate,
      spa.adjust_man_id as adjustManId,
      spa.adjust_man_code as adjustManCode,
      spa.adjust_man_name as adjustManName,
      spa.price_order_id as priceOrderId,
      spa.adjust_reason as adjustReason,
      spa.status as status,
      safa.flow_id as flowId,
      safa.id as actionflowId,
      spo.name as priceOrderName

    from saas_price_adjust_detail sad
      , saas_approval_flow_action safa
      ,saas_price_adjust spa
      ,saas_price_order spo
    where safa.data_id =spa.id AND spa.id = sad.adjust_id AND spo.id=spa.price_order_id
    AND safa.content = '0202'
    AND safa.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    <if test="startTime != null &amp;&amp; endTime != null">
      AND  safa.start_time >= #{startTime,jdbcType=TIMESTAMP}
      AND  safa.start_time &lt; #{endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="orderCode != null">
      AND  spa.order_code = #{orderCode,jdbcType=VARCHAR}
    </if>
    <if test="adjustManId != null">
      AND  spa.adjust_man_id = #{adjustManId,jdbcType=BIGINT}
    </if>
    <if test="priceOrderId != null">
      AND  spa.price_order_id = #{priceOrderId,jdbcType=BIGINT}
    </if>
    <if test="statusRecom != null &amp;&amp; statusRecom &lt; 3 ">
      AND  safa.status_recom = #{statusRecom,jdbcType=INTEGER}
    </if>
    <if test="statusRecom != null &amp;&amp; statusRecom == 3">
      AND  sad.status = 0 AND spa.status = 0
    </if>

    order by spa.id desc
  </select>

  <select id="selectByParamNotApprovalFLow" parameterType="java.util.Map" resultType="com.rograndec.feijiayun.chain.business.goods.price.vo.PriceAdjustReturnVO">
    select
    spa.id as id,
    spa.enterprise_id as enterpriseId,
    spa.parent_id as parentId,
    spa.order_code as orderCode,
    spa.adjust_date as adjustDate,
    spa.adjust_man_id as adjustManId,
    spa.adjust_man_code as adjustManCode,
    spa.adjust_man_name as adjustManName,
    spa.price_order_id as priceOrderId,
    spa.adjust_reason as adjustReason,
    spa.status as status,
    spo.name as priceOrderName

    from saas_price_adjust_detail sad
    ,saas_price_adjust spa
    ,saas_price_order spo
    where spa.id = sad.adjust_id AND spo.id=spa.price_order_id
    AND spa.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    <if test="startTime != null &amp;&amp; endTime != null">
      AND  spa.adjust_date >= #{startTime,jdbcType=TIMESTAMP}
      AND  spa.adjust_date &lt; #{endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="orderCode != null">
      AND  spa.order_code = #{orderCode,jdbcType=VARCHAR}
    </if>
    <if test="adjustManId != null">
      AND  spa.adjust_man_id = #{adjustManId,jdbcType=BIGINT}
    </if>
    <if test="priceOrderId != null">
      AND  spa.price_order_id = #{priceOrderId,jdbcType=BIGINT}
    </if>
    <if test="statusRecom != null">
      AND  spa.status = #{statusRecom,jdbcType=INTEGER}
    </if>
    order by spa.id desc
  </select>


  <select id="selectByApproval" parameterType="java.util.Map" resultType="com.rograndec.feijiayun.chain.business.goods.price.vo.PriceAdjustReturnVO">
    select
    spa.id as id,
    spa.enterprise_id as enterpriseId,
    spa.parent_id as parentId,
    spa.order_code as orderCode,
    spa.adjust_date as adjustDate,
    spa.adjust_man_id as adjustManId,
    spa.adjust_man_code as adjustManCode,
    spa.adjust_man_name as adjustManName,
    spa.price_order_id as priceOrderId,
    spa.adjust_reason as adjustReason,
    spa.status as status,
    safa.flow_id as flowId,
    safa.id as actionflowId,
    spo.name as priceOrderName

    from saas_price_adjust_detail sad
    , saas_approval_flow_action safa
    ,saas_price_adjust spa
    ,saas_price_order spo
    where safa.data_id =spa.id AND spa.id = sad.adjust_id AND spo.id=spa.price_order_id
    AND safa.content = '0202'
    AND safa.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
    AND safa.status_recom != 2 AND safa.status_recom != 1
    AND sad.goods_id IN
    <foreach item="item" index="index" collection="goosIds"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_price_adjust
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.goods.price.entity.PriceAdjust">
    insert into saas_price_adjust (id, enterprise_id, parent_id, 
      order_code, adjust_date, adjust_man_id, 
      adjust_man_code, adjust_man_name, price_order_id, 
      adjust_reason, status, remark, 
      creater_id, creater_code, creater_name, 
      create_time, modifier_id, modifier_code, 
      modifier_name, update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{orderCode,jdbcType=VARCHAR}, #{adjustDate,jdbcType=TIMESTAMP}, #{adjustManId,jdbcType=BIGINT}, 
      #{adjustManCode,jdbcType=VARCHAR}, #{adjustManName,jdbcType=VARCHAR}, #{priceOrderId,jdbcType=BIGINT}, 
      #{adjustReason,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, 
      #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.goods.price.entity.PriceAdjust"
          useGeneratedKeys="true"
          keyProperty="id">
    insert into saas_price_adjust
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="adjustDate != null">
        adjust_date,
      </if>
      <if test="adjustManId != null">
        adjust_man_id,
      </if>
      <if test="adjustManCode != null">
        adjust_man_code,
      </if>
      <if test="adjustManName != null">
        adjust_man_name,
      </if>
      <if test="priceOrderId != null">
        price_order_id,
      </if>
      <if test="adjustReason != null">
        adjust_reason,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="adjustDate != null">
        #{adjustDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adjustManId != null">
        #{adjustManId,jdbcType=BIGINT},
      </if>
      <if test="adjustManCode != null">
        #{adjustManCode,jdbcType=VARCHAR},
      </if>
      <if test="adjustManName != null">
        #{adjustManName,jdbcType=VARCHAR},
      </if>
      <if test="priceOrderId != null">
        #{priceOrderId,jdbcType=BIGINT},
      </if>
      <if test="adjustReason != null">
        #{adjustReason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.goods.price.entity.PriceAdjust">
    update saas_price_adjust
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="adjustDate != null">
        adjust_date = #{adjustDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adjustManId != null">
        adjust_man_id = #{adjustManId,jdbcType=BIGINT},
      </if>
      <if test="adjustManCode != null">
        adjust_man_code = #{adjustManCode,jdbcType=VARCHAR},
      </if>
      <if test="adjustManName != null">
        adjust_man_name = #{adjustManName,jdbcType=VARCHAR},
      </if>
      <if test="priceOrderId != null">
        price_order_id = #{priceOrderId,jdbcType=BIGINT},
      </if>
      <if test="adjustReason != null">
        adjust_reason = #{adjustReason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.goods.price.entity.PriceAdjust">
    update saas_price_adjust
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      order_code = #{orderCode,jdbcType=VARCHAR},
      adjust_date = #{adjustDate,jdbcType=TIMESTAMP},
      adjust_man_id = #{adjustManId,jdbcType=BIGINT},
      adjust_man_code = #{adjustManCode,jdbcType=VARCHAR},
      adjust_man_name = #{adjustManName,jdbcType=VARCHAR},
      price_order_id = #{priceOrderId,jdbcType=BIGINT},
      adjust_reason = #{adjustReason,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>