<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.storage.inventory.dao.InventoryDetailMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.storage.inventory.entity.InventoryDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="inv_id" jdbcType="BIGINT" property="invId" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="inv_code" jdbcType="VARCHAR" property="invCode" />
    <result column="inv_date" jdbcType="TIMESTAMP" property="invDate" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_generic_name" jdbcType="VARCHAR" property="goodsGenericName" />
    <result column="dosage_id" jdbcType="BIGINT" property="dosageId" />
    <result column="dosage_name" jdbcType="VARCHAR" property="dosageName" />
    <result column="unit_id" jdbcType="BIGINT" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="goods_specification" jdbcType="VARCHAR" property="goodsSpecification" />
    <result column="manufacturer_id" jdbcType="BIGINT" property="manufacturerId" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="goods_place" jdbcType="VARCHAR" property="goodsPlace" />
    <result column="approval_number" jdbcType="VARCHAR" property="approvalNumber" />
    <result column="quantity" jdbcType="DECIMAL" property="quantity" />
    <result column="inv_quantity" jdbcType="DECIMAL" property="invQuantity" />
    <result column="diff_quantity" jdbcType="DECIMAL" property="diffQuantity" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
    <result column="diff_amount" jdbcType="DECIMAL" property="diffAmount" />
    <result column="tax_rate_id" jdbcType="BIGINT" property="taxRateId" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="notax_price" jdbcType="DECIMAL" property="notaxPrice" />
    <result column="notax_amount" jdbcType="DECIMAL" property="notaxAmount" />
    <result column="real_notax_amount" jdbcType="DECIMAL" property="realNotaxAmount" />
    <result column="diff_notax_amount" jdbcType="DECIMAL" property="diffNotaxAmount" />
    <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
    <result column="real_tax_amount" jdbcType="DECIMAL" property="realTaxAmount" />
    <result column="diff_tax_amount" jdbcType="DECIMAL" property="diffTaxAmount" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
    <result column="retail_amount" jdbcType="DECIMAL" property="retailAmount" />
    <result column="real_retail_amount" jdbcType="DECIMAL" property="realRetailAmount" />
    <result column="diff_retail_amount" jdbcType="DECIMAL" property="diffRetailAmount" />
    <result column="line_num" jdbcType="INTEGER" property="lineNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="BaseResultMap_Detail" type="com.rograndec.feijiayun.chain.business.storage.inventory.vo.InventoryDetailForOrderDetailVO">
    <id column="id" jdbcType="BIGINT" property="id" />

    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_generic_name" jdbcType="VARCHAR" property="goodsGenericName" />
    <result column="dosage_id" jdbcType="BIGINT" property="dosageId" />
    <result column="dosage_name" jdbcType="VARCHAR" property="dosageName" />
    <result column="unit_id" jdbcType="BIGINT" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="goods_specification" jdbcType="VARCHAR" property="goodsSpecification" />
    <result column="manufacturer_id" jdbcType="BIGINT" property="manufacturerId" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="goods_place" jdbcType="VARCHAR" property="goodsPlace" />
    <result column="quantity" jdbcType="DECIMAL" property="quantity" />
    <result column="inv_quantity" jdbcType="DECIMAL" property="invQuantity" />
    <result column="diff_quantity" jdbcType="DECIMAL" property="diffQuantity" />
    <result column="line_num" jdbcType="INTEGER" property="lineNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />

    <result column="inventoryShelfId" jdbcType="BIGINT" property="inventoryShelfId" />
    <result column="lot_id" jdbcType="BIGINT" property="lotId" />
    <result column="lot_number" jdbcType="VARCHAR" property="lotNumber" />
    <result column="product_date" jdbcType="TIMESTAMP" property="productDate" />
    <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
    <result column="shelf_id" jdbcType="BIGINT" property="shelfId" />
    <result column="shelf_name" jdbcType="VARCHAR" property="shelfName" />
    <result column="shelf_status_desc" jdbcType="VARCHAR" property="shelfStatusDesc" />
    <result column="quantity" jdbcType="DECIMAL" property="quantity" />
  </resultMap>

  <resultMap id="BaseResultMap_Detail_Post" type="com.rograndec.feijiayun.chain.business.storage.inventory.vo.post.InventoryDetailForPostVO">
    <id column="id" jdbcType="BIGINT" property="id" />

    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_generic_name" jdbcType="VARCHAR" property="goodsGenericName" />
    <result column="dosage_id" jdbcType="BIGINT" property="dosageId" />
    <result column="dosage_name" jdbcType="VARCHAR" property="dosageName" />
    <result column="unit_id" jdbcType="BIGINT" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="goods_specification" jdbcType="VARCHAR" property="goodsSpecification" />
    <result column="manufacturer_id" jdbcType="BIGINT" property="manufacturerId" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="goods_place" jdbcType="VARCHAR" property="goodsPlace" />
    <result column="quantity" jdbcType="DECIMAL" property="quantity" />
    <result column="inv_quantity" jdbcType="DECIMAL" property="invQuantity" />
    <result column="diff_quantity" jdbcType="DECIMAL" property="diffQuantity" />


    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
    <result column="diff_amount" jdbcType="DECIMAL" property="diffAmount" />

    <result column="notax_price" jdbcType="DECIMAL" property="notaxPrice" />
    <result column="notax_amount" jdbcType="DECIMAL" property="notaxAmount" />
    <result column="real_notax_amount" jdbcType="DECIMAL" property="realNotaxAmount" />
    <result column="diff_notax_amount" jdbcType="DECIMAL" property="diffNotaxAmount" />
    <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
    <result column="real_tax_amount" jdbcType="DECIMAL" property="realTaxAmount" />
    <result column="diff_tax_amount" jdbcType="DECIMAL" property="diffTaxAmount" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
    <result column="retail_amount" jdbcType="DECIMAL" property="retailAmount" />
    <result column="real_retail_amount" jdbcType="DECIMAL" property="realRetailAmount" />
    <result column="diff_retail_amount" jdbcType="DECIMAL" property="diffRetailAmount" />
    <result column="line_num" jdbcType="INTEGER" property="lineNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />

    <result column="inventoryShelfId" jdbcType="BIGINT" property="inventoryShelfId" />
    <result column="lot_id" jdbcType="BIGINT" property="lotId" />
    <result column="lot_number" jdbcType="VARCHAR" property="lotNumber" />
    <result column="product_date" jdbcType="TIMESTAMP" property="productDate" />
    <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
    <result column="shelf_id" jdbcType="BIGINT" property="shelfId" />
    <result column="shelf_name" jdbcType="VARCHAR" property="shelfName" />
    <result column="shelf_status_desc" jdbcType="VARCHAR" property="shelfStatusDesc" />
    <result column="quantity" jdbcType="DECIMAL" property="quantity" />
    <result column="tax_rate_id" jdbcType="BIGINT" property="taxRateId" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
  </resultMap>


  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, inv_id, order_type, inv_code, inv_date, goods_id, goods_code,
    barcode, goods_name, goods_generic_name, dosage_id, dosage_name, unit_id, unit_name,
    goods_specification, manufacturer_id, manufacturer, goods_place, approval_number,
    quantity, inv_quantity, diff_quantity, unit_price, amount, real_amount, diff_amount,
    tax_rate_id, tax_rate, notax_price, notax_amount, real_notax_amount, diff_notax_amount,
    tax_amount, real_tax_amount, diff_tax_amount, retail_price, retail_amount, real_retail_amount,
    diff_retail_amount, line_num, status, remark, creater_id, creater_code, creater_name,
    create_time, modifier_id, modifier_code, modifier_name, update_time
  </sql>

  <sql id="Base_Column_List_Detail">
  detail.id,detail.goods_id, detail.goods_code,
  detail.barcode, detail.goods_name, detail.goods_generic_name, detail.dosage_id, detail.dosage_name, detail.unit_id, detail.unit_name,
  detail.goods_specification, detail.manufacturer_id, detail.manufacturer, detail.goods_place,detail.quantity,detail.line_num,detail.inv_quantity
  </sql>
  <sql id="Base_Column_List_Detail2">
    detail.id, detail.goods_id, detail.goods_code,
    detail.barcode, detail.goods_name, detail.goods_generic_name, detail.dosage_id, detail.dosage_name, detail.unit_id, detail.unit_name,
    detail.goods_specification, detail.manufacturer_id, detail.manufacturer, detail.goods_place,detail.line_num,
    shelf.id as inventoryShelfId,
    shelf.quantity, shelf.inv_quantity, shelf.diff_quantity, shelf.line_num, shelf.status, shelf.remark, shelf.lot_id, shelf.lot_number, shelf.product_date,
    shelf.valid_date, shelf.shelf_id, shelf.shelf_name, shelf.shelf_status_desc
  </sql>

  <sql id="Base_Column_List_Detail_Post">
    detail.id, detail.goods_id, detail.goods_code,
    detail.barcode, detail.goods_name, detail.goods_generic_name, detail.dosage_id, detail.dosage_name, detail.unit_id, detail.unit_name,
    detail.goods_specification, detail.manufacturer_id, detail.manufacturer, detail.goods_place,

    shelf.amount, shelf.real_amount, shelf.diff_amount,
    shelf.notax_amount, shelf.real_notax_amount, shelf.diff_notax_amount,
    shelf.tax_amount, shelf.real_tax_amount, shelf.diff_tax_amount, shelf.retail_price, shelf.retail_amount, shelf.real_retail_amount,
    shelf.diff_retail_amount,

    shelf.id as inventoryShelfId,
    shelf.quantity, shelf.inv_quantity, shelf.diff_quantity, shelf.line_num, shelf.status, shelf.remark, shelf.lot_id, shelf.lot_number, shelf.product_date,
    shelf.valid_date, shelf.shelf_id, shelf.shelf_name, shelf.shelf_status_desc,detail.tax_rate_id, detail.tax_rate,detail.unit_price,detail.notax_price
  </sql>
  <sql id="Goods_Condition_Report">
    <if test="param != null and param != ''">
      and (
      g.name like concat('%', #{param},'%')
      or
      g.code like concat('%', #{param},'%')
      or
      g.barcode like concat('%', #{param},'%')
      or
      g.pinyin_code like concat('%', #{param},'%')
      or
      g.generic_name like concat('%', #{param},'%')
      or
      g.approval_number like concat('%', #{param},'%')
      )
    </if>


  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_inventory_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_inventory_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByInvIdAndGoodsId">
    delete from saas_inventory_detail
    where inv_id = #{invId,jdbcType=BIGINT} and goods_id = #{goodsId}
  </delete>

  <delete id="deleteByInvId">
    delete from saas_inventory_detail
    where inv_id = #{invId,jdbcType=BIGINT}
  </delete>

  <delete id="updateStatusByInvId">
    UPDATE saas_inventory_detail set status = #{status}
    where inv_id = #{invId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.storage.inventory.entity.InventoryDetail">
    insert into saas_inventory_detail (id, enterprise_id, parent_id, 
      inv_id, order_type, inv_code, 
      inv_date, goods_id, goods_code, 
      barcode, goods_name, goods_generic_name, 
      dosage_id, dosage_name, unit_id, 
      unit_name, goods_specification, manufacturer_id, 
      manufacturer, goods_place, approval_number, 
      quantity, inv_quantity, diff_quantity, 
      unit_price, amount, real_amount, 
      diff_amount, tax_rate_id, tax_rate, 
      notax_price, notax_amount, real_notax_amount, 
      diff_notax_amount, tax_amount, real_tax_amount, 
      diff_tax_amount, retail_price, retail_amount, 
      real_retail_amount, diff_retail_amount, line_num, 
      status, remark, creater_id, 
      creater_code, creater_name, create_time, 
      modifier_id, modifier_code, modifier_name, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{invId,jdbcType=BIGINT}, #{orderType,jdbcType=INTEGER}, #{invCode,jdbcType=VARCHAR}, 
      #{invDate,jdbcType=TIMESTAMP}, #{goodsId,jdbcType=BIGINT}, #{goodsCode,jdbcType=VARCHAR}, 
      #{barcode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsGenericName,jdbcType=VARCHAR}, 
      #{dosageId,jdbcType=BIGINT}, #{dosageName,jdbcType=VARCHAR}, #{unitId,jdbcType=BIGINT}, 
      #{unitName,jdbcType=VARCHAR}, #{goodsSpecification,jdbcType=VARCHAR}, #{manufacturerId,jdbcType=BIGINT}, 
      #{manufacturer,jdbcType=VARCHAR}, #{goodsPlace,jdbcType=VARCHAR}, #{approvalNumber,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=DECIMAL}, #{invQuantity,jdbcType=DECIMAL}, #{diffQuantity,jdbcType=DECIMAL}, 
      #{unitPrice,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, #{realAmount,jdbcType=DECIMAL}, 
      #{diffAmount,jdbcType=DECIMAL}, #{taxRateId,jdbcType=BIGINT}, #{taxRate,jdbcType=DECIMAL}, 
      #{notaxPrice,jdbcType=DECIMAL}, #{notaxAmount,jdbcType=DECIMAL}, #{realNotaxAmount,jdbcType=DECIMAL}, 
      #{diffNotaxAmount,jdbcType=DECIMAL}, #{taxAmount,jdbcType=DECIMAL}, #{realTaxAmount,jdbcType=DECIMAL}, 
      #{diffTaxAmount,jdbcType=DECIMAL}, #{retailPrice,jdbcType=DECIMAL}, #{retailAmount,jdbcType=DECIMAL}, 
      #{realRetailAmount,jdbcType=DECIMAL}, #{diffRetailAmount,jdbcType=DECIMAL}, #{lineNum,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, 
      #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.storage.inventory.entity.InventoryDetail" useGeneratedKeys="true" keyProperty="id">
    insert into saas_inventory_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="invId != null">
        inv_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="invCode != null">
        inv_code,
      </if>
      <if test="invDate != null">
        inv_date,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="barcode != null">
        barcode,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsGenericName != null">
        goods_generic_name,
      </if>
      <if test="dosageId != null">
        dosage_id,
      </if>
      <if test="dosageName != null">
        dosage_name,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="goodsSpecification != null">
        goods_specification,
      </if>
      <if test="manufacturerId != null">
        manufacturer_id,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="goodsPlace != null">
        goods_place,
      </if>
      <if test="approvalNumber != null">
        approval_number,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="invQuantity != null">
        inv_quantity,
      </if>
      <if test="diffQuantity != null">
        diff_quantity,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="realAmount != null">
        real_amount,
      </if>
      <if test="diffAmount != null">
        diff_amount,
      </if>
      <if test="taxRateId != null">
        tax_rate_id,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="notaxPrice != null">
        notax_price,
      </if>
      <if test="notaxAmount != null">
        notax_amount,
      </if>
      <if test="realNotaxAmount != null">
        real_notax_amount,
      </if>
      <if test="diffNotaxAmount != null">
        diff_notax_amount,
      </if>
      <if test="taxAmount != null">
        tax_amount,
      </if>
      <if test="realTaxAmount != null">
        real_tax_amount,
      </if>
      <if test="diffTaxAmount != null">
        diff_tax_amount,
      </if>
      <if test="retailPrice != null">
        retail_price,
      </if>
      <if test="retailAmount != null">
        retail_amount,
      </if>
      <if test="realRetailAmount != null">
        real_retail_amount,
      </if>
      <if test="diffRetailAmount != null">
        diff_retail_amount,
      </if>
      <if test="lineNum != null">
        line_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="invId != null">
        #{invId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="invCode != null">
        #{invCode,jdbcType=VARCHAR},
      </if>
      <if test="invDate != null">
        #{invDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsGenericName != null">
        #{goodsGenericName,jdbcType=VARCHAR},
      </if>
      <if test="dosageId != null">
        #{dosageId,jdbcType=BIGINT},
      </if>
      <if test="dosageName != null">
        #{dosageName,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=BIGINT},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecification != null">
        #{goodsSpecification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        #{manufacturerId,jdbcType=BIGINT},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="goodsPlace != null">
        #{goodsPlace,jdbcType=VARCHAR},
      </if>
      <if test="approvalNumber != null">
        #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="invQuantity != null">
        #{invQuantity,jdbcType=DECIMAL},
      </if>
      <if test="diffQuantity != null">
        #{diffQuantity,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="diffAmount != null">
        #{diffAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxRateId != null">
        #{taxRateId,jdbcType=BIGINT},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxPrice != null">
        #{notaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="notaxAmount != null">
        #{notaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="realNotaxAmount != null">
        #{realNotaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="diffNotaxAmount != null">
        #{diffNotaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="realTaxAmount != null">
        #{realTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="diffTaxAmount != null">
        #{diffTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null">
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="retailAmount != null">
        #{retailAmount,jdbcType=DECIMAL},
      </if>
      <if test="realRetailAmount != null">
        #{realRetailAmount,jdbcType=DECIMAL},
      </if>
      <if test="diffRetailAmount != null">
        #{diffRetailAmount,jdbcType=DECIMAL},
      </if>
      <if test="lineNum != null">
        #{lineNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.storage.inventory.entity.InventoryDetail" keyProperty="id" useGeneratedKeys="true">
    update saas_inventory_detail
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="invId != null">
        inv_id = #{invId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="invCode != null">
        inv_code = #{invCode,jdbcType=VARCHAR},
      </if>
      <if test="invDate != null">
        inv_date = #{invDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsGenericName != null">
        goods_generic_name = #{goodsGenericName,jdbcType=VARCHAR},
      </if>
      <if test="dosageId != null">
        dosage_id = #{dosageId,jdbcType=BIGINT},
      </if>
      <if test="dosageName != null">
        dosage_name = #{dosageName,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=BIGINT},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecification != null">
        goods_specification = #{goodsSpecification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        manufacturer_id = #{manufacturerId,jdbcType=BIGINT},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="goodsPlace != null">
        goods_place = #{goodsPlace,jdbcType=VARCHAR},
      </if>
      <if test="approvalNumber != null">
        approval_number = #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="invQuantity != null">
        inv_quantity = #{invQuantity,jdbcType=DECIMAL},
      </if>
      <if test="diffQuantity != null">
        diff_quantity = #{diffQuantity,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        real_amount = #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="diffAmount != null">
        diff_amount = #{diffAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxRateId != null">
        tax_rate_id = #{taxRateId,jdbcType=BIGINT},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="notaxPrice != null">
        notax_price = #{notaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="notaxAmount != null">
        notax_amount = #{notaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="realNotaxAmount != null">
        real_notax_amount = #{realNotaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="diffNotaxAmount != null">
        diff_notax_amount = #{diffNotaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null">
        tax_amount = #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="realTaxAmount != null">
        real_tax_amount = #{realTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="diffTaxAmount != null">
        diff_tax_amount = #{diffTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null">
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="retailAmount != null">
        retail_amount = #{retailAmount,jdbcType=DECIMAL},
      </if>
      <if test="realRetailAmount != null">
        real_retail_amount = #{realRetailAmount,jdbcType=DECIMAL},
      </if>
      <if test="diffRetailAmount != null">
        diff_retail_amount = #{diffRetailAmount,jdbcType=DECIMAL},
      </if>
      <if test="lineNum != null">
        line_num = #{lineNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.storage.inventory.entity.InventoryDetail">
    update saas_inventory_detail
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      inv_id = #{invId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=INTEGER},
      inv_code = #{invCode,jdbcType=VARCHAR},
      inv_date = #{invDate,jdbcType=TIMESTAMP},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_generic_name = #{goodsGenericName,jdbcType=VARCHAR},
      dosage_id = #{dosageId,jdbcType=BIGINT},
      dosage_name = #{dosageName,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=BIGINT},
      unit_name = #{unitName,jdbcType=VARCHAR},
      goods_specification = #{goodsSpecification,jdbcType=VARCHAR},
      manufacturer_id = #{manufacturerId,jdbcType=BIGINT},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      goods_place = #{goodsPlace,jdbcType=VARCHAR},
      approval_number = #{approvalNumber,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=DECIMAL},
      inv_quantity = #{invQuantity,jdbcType=DECIMAL},
      diff_quantity = #{diffQuantity,jdbcType=DECIMAL},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      real_amount = #{realAmount,jdbcType=DECIMAL},
      diff_amount = #{diffAmount,jdbcType=DECIMAL},
      tax_rate_id = #{taxRateId,jdbcType=BIGINT},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      notax_price = #{notaxPrice,jdbcType=DECIMAL},
      notax_amount = #{notaxAmount,jdbcType=DECIMAL},
      real_notax_amount = #{realNotaxAmount,jdbcType=DECIMAL},
      diff_notax_amount = #{diffNotaxAmount,jdbcType=DECIMAL},
      tax_amount = #{taxAmount,jdbcType=DECIMAL},
      real_tax_amount = #{realTaxAmount,jdbcType=DECIMAL},
      diff_tax_amount = #{diffTaxAmount,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      retail_amount = #{retailAmount,jdbcType=DECIMAL},
      real_retail_amount = #{realRetailAmount,jdbcType=DECIMAL},
      diff_retail_amount = #{diffRetailAmount,jdbcType=DECIMAL},
      line_num = #{lineNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getDetailByInvId" resultMap="BaseResultMap_Detail">
    SELECT
     <include refid="Base_Column_List_Detail"/>
     FROM
    saas_inventory_detail detail
    WHERE  detail.inv_id = #{invId} and
    detail.enterprise_id = #{enterpriseId}
  </select>

  <select id="getDetailByInvIdAndInvTypeShelf" resultMap="BaseResultMap_Detail">
    SELECT
    <include refid="Base_Column_List_Detail2"/>
    FROM
    saas_inventory_detail detail INNER JOIN saas_inventory_shelf shelf
    ON detail.enterprise_id = shelf.enterprise_id AND detail.id = shelf.dtl_id

    WHERE  detail.inv_id = #{invId} and
    detail.enterprise_id = #{enterpriseId}
    <if test="isDiff != null">
      and  shelf.diff_quantity  !=0
    </if>
  </select>

  <select id="getDetailByInvIdAndInvTypeShelfForPost" resultMap="BaseResultMap_Detail_Post">
    SELECT
    <include refid="Base_Column_List_Detail_Post"/>
    FROM
    saas_inventory_detail detail INNER JOIN saas_inventory_shelf shelf
    ON detail.enterprise_id = shelf.enterprise_id AND detail.id = shelf.dtl_id

    WHERE  detail.inv_id = #{invId} and
    detail.enterprise_id = #{enterpriseId}

  </select>

  <select id="getGoodsIdByInventoryId" resultType="java.lang.Long">
    SELECT goods_id from saas_inventory_detail detail
    WHERE  detail.inv_id = #{id}
  </select>

  <select id="getInventoryDetailByParam" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    from saas_inventory_detail detail
    WHERE
    <if test="invId != null">
      detail.inv_id = #{invId}
    </if>
    <if test="goodsId != null">
      and
      detail.goods_id = #{goodsId}
    </if>
    <if test="goodsCode != null">
      and
      detail.goods_code = #{goodsCode}
    </if>
    and detail.enterprise_id = #{enterpriseId}
  </select>
  <update id="updateDetailByInvId" >
    UPDATE saas_inventory_detail set status = #{status} where inv_id = #{invId} and enterprise_id = #{enterpriseId}
  </update>
  <update id="updateByInvIdAndGoodsId">
    UPDATE saas_inventory_detail set inv_quantity = quantity,diff_quantity = inv_quantity - quantity
    where inv_id = #{invId,jdbcType=BIGINT}
    <if test="goodsId != null">
      and goods_id = #{goodsId}
    </if>
  </update>



  <select id="getGoodsInfoInInventory" resultType="com.rograndec.feijiayun.chain.business.storage.inventory.vo.register.InventoryGoodsInfoVO">
    SELECT
    g.id AS goodsId,
    g.code AS goodsCode,
    g.name as goodsName,
    g.barcode as barcode,
    g.generic_name AS goodsGenericName,
    g.specification AS goodsSpecification,
    g.manufacturer_id AS manufacturerId,
    g.manufacturer AS manufacturer,
    g.place as goodsPlace,
    g.unit_id as unitId,
    g.unit_id as unitName,
    g.approval_number as approvalNumber,
    g.dosage_id as dosageId,
    g.dosage_name as dosageName,
    detail.id,
    detail.quantity

    FROM
    saas_inventory_detail detail INNER JOIN saas_goods g on detail.goods_id = g.id
    WHERE detail.enterprise_id = #{enterpriseId}
    and detail.inv_id = #{invId}
    and detail.status = 0
    <include refid="Goods_Condition_Report"/>
  </select>

  <select id="getGoodsInfoInInventory2Shelf" resultType="com.rograndec.feijiayun.chain.business.storage.inventory.vo.register.InventoryGoodsInfoVO">
    SELECT
    g.id AS goodsId,
    g.code AS goodsCode,
    g.name as goodsName,
    g.barcode as barcode,
    g.generic_name AS goodsGenericName,
    g.specification AS goodsSpecification,
    g.manufacturer_id AS manufacturerId,
    g.manufacturer AS manufacturer,
    g.place as goodsPlace,
    g.unit_id as unitId,
    g.unit_id as unitName,
    g.approval_number as approvalNumber,
    g.dosage_id as dosageId,
    g.dosage_name as dosageName,
    shelf.id as inventoryShelfId,
    shelf.dtl_id as id,
    shelf.quantity,
    shelf.lot_id as lotId,
    shelf.lot_number as lotNumber,
    shelf.shelf_id as shelfId,
    shelf.shelf_name as shelfName,
    shelf.product_date as productDate,
    shelf.valid_date as validDate
    FROM
    saas_inventory_shelf shelf INNER JOIN saas_goods g on shelf.goods_id = g.id
    WHERE shelf.enterprise_id = #{enterpriseId}
    and shelf.inv_id = #{invId}
    and shelf.status = 0
    <include refid="Goods_Condition_Report"/>
  </select>




</mapper>