<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.report.retail.dao.SaleAnalysisReportPayeeMapper">
	<select id="selectBranchPayeeSaleListByDailyTime" resultType="com.rograndec.feijiayun.chain.business.report.retail.vo.SaleAnalyPayeeResultBranchVO">
	    select 
			enterprise_id as enterpriseId,
			code as storeCode,
			name as storeName,
			payee_id as payeeId,
			payee_name as payeeName,
			sum(sale_quantity)as saleQuantity,
			sum(real_amount_total)as realAmount,
			sum(return_sale_quantity)as returnQuantity,
			sum(return_real_amount_total)as returnRealAmount,
			IFNULL(sum(real_amount_total),0) + IFNULL(sum(return_real_amount_total),0) as realAmountTotal,
			IFNULL(sum(notax_real_amount_total),0) + IFNULL(sum(return_notax_real_amount_total),0) as notaxRealAmountTotal,
			IFNULL(sum(tax_amount_total),0)	+ IFNULL(sum(return_tax_amount_total),0) as taxAmountTotal
		from
		(SELECT
			s.enterprise_id,
			e.code,
			e.name,
			s.payee_id,
			s.payee_name,
			(CASE when s.sale_type = 0 then 1 end) as sale_quantity ,
			(CASE when s.sale_type = 0 then s.real_amount_total end) as real_amount_total ,
			(CASE when s.sale_type = 0 then s.notax_real_amount_total end) as notax_real_amount_total ,
			(CASE when s.sale_type = 0 then s.tax_amount_total end) as tax_amount_total ,
			(CASE when s.sale_type = 1 then 1 end) as return_sale_quantity ,
			(CASE when s.sale_type = 1 then -1*s.real_amount_total end) as return_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.notax_real_amount_total end) as return_notax_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.tax_amount_total end) as return_tax_amount_total
		FROM
			saas_sale s LEFT JOIN saas_enterprise e
		on s.enterprise_id = e.id
		where 
			s.daily_settlement_flag = '1'
		<if test="enterpriseId != null">
			and s.enterprise_id = #{enterpriseId}
		</if>
		<if test="parentId != null">
			and (s.enterprise_id = #{parentId} or s.parent_id = #{parentId})
		</if>
		<if test="vo.chainType != null">  
	    	and e.chain_type = #{vo.chainType}
	    </if>
	    <if test="vo.storeCode != null and vo.storeCode !=''">  
	    	and (
		    	INSTR(e.code, #{vo.storeCode})
		    	or INSTR(e.pinyin, #{vo.storeCode})
	    	)
	    </if>
	    <if test="vo.storeName != null and vo.storeName !=''">  
	    	and e.name like '%${vo.storeName}%'
	    </if>
		<if test="vo.startDate != null">  
	    	and s.daily_time >= #{vo.startDate}
	    </if>
	    <if test="vo.endDate != null">
	    	AND date_format(s.daily_time, '%Y-%m-%d') &lt;= #{vo.endDate}
	    </if>
	    <if test="vo.payeeName != null and vo.payeeName !=''">
	    	and s.payee_name like '%${vo.payeeName}%'
	    </if>
		)tab1
		GROUP BY enterprise_id, payee_id
    <if test="order != null and order != ''">
        order by ${order} ${sort}
    </if>	
    <if test="start != null">
	    limit #{start}, #{pageSize}	
    </if>	
  </select>
  
  <select id="queryCountBranchPayeeSaleListByDailyTime" resultType ="java.lang.Long">
	 select count(1) from(   
	    select s.enterprise_id, s.id
			from saas_sale s
					left join saas_enterprise e
				on s.enterprise_id = e.id
			where
				 s.daily_settlement_flag = '1'
			<if test="enterpriseId != null">
				and s.enterprise_id = #{enterpriseId}
			</if>
			<if test="parentId != null">
				and (s.enterprise_id = #{parentId} or s.parent_id = #{parentId})
			</if>
			<if test="vo.chainType != null">  
		    	and e.chain_type = #{vo.chainType}
		    </if>
		    <if test="vo.storeCode != null and vo.storeCode!=''">  
		    	and (
			    	INSTR(e.code, #{vo.storeCode})
			    	or INSTR(e.pinyin, #{vo.storeCode})
		    	)
		    </if>
		    <if test="vo.storeName != null and vo.storeName!=''">  
		    	and e.name like '%${vo.storeName}%'
		    </if>
			<if test="vo.startDate != null">  
		    	and s.daily_time >= #{vo.startDate}
		    </if>
		    <if test="vo.endDate != null">
		    	AND date_format(s.daily_time, '%Y-%m-%d') &lt;= #{vo.endDate}
		    </if>	
		    <if test="vo.payeeName != null and vo.payeeName !=''">
		    	and s.payee_name like '%${vo.payeeName}%'
		    </if>
				GROUP BY s.enterprise_id, s.payee_id
	    )tab1	
  </select>
  
  <select id="querySaleAnalysisReportPayeeDailyTime" resultType="com.rograndec.feijiayun.chain.business.report.retail.vo.SaleAnalyPayeeResultBranchTotalVO">
	 	select 
			sum(sale_quantity)as saleQuantity,
			sum(real_amount_total)as realAmount,
			sum(return_sale_quantity)as returnQuantity,
			sum(return_real_amount_total)as returnRealAmount,
			IFNULL(sum(real_amount_total),0) + IFNULL(sum(return_real_amount_total),0) as realAmountTotal,
			IFNULL(sum(notax_real_amount_total),0) + IFNULL(sum(return_notax_real_amount_total),0) as notaxRealAmountTotal,
			IFNULL(sum(tax_amount_total),0)	+ IFNULL(sum(return_tax_amount_total),0) as taxAmountTotal
		from
		(SELECT
			s.enterprise_id,
			e.code,
			e.name,
			s.payee_id,
			s.payee_name,
			(CASE when s.sale_type = 0 then 1 end) as sale_quantity ,
			(CASE when s.sale_type = 0 then s.real_amount_total end) as real_amount_total ,
			(CASE when s.sale_type = 0 then s.notax_real_amount_total end) as notax_real_amount_total ,
			(CASE when s.sale_type = 0 then s.tax_amount_total end) as tax_amount_total ,
			(CASE when s.sale_type = 1 then 1 end) as return_sale_quantity ,
			(CASE when s.sale_type = 1 then -1*s.real_amount_total end) as return_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.notax_real_amount_total end) as return_notax_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.tax_amount_total end) as return_tax_amount_total
		FROM
			saas_sale s LEFT JOIN saas_enterprise e
		on s.enterprise_id = e.id
		where 
			s.daily_settlement_flag = '1'
		<if test="enterpriseId != null">
			and s.enterprise_id = #{enterpriseId}
		</if>
		<if test="parentId != null">
			and (s.enterprise_id = #{parentId} or s.parent_id = #{parentId})
		</if>
		<if test="vo.chainType != null">  
	    	and e.chain_type = #{vo.chainType}
	    </if>
	    <if test="vo.storeCode != null and vo.storeCode !=''">  
	    	and (
			    	INSTR(e.code, #{vo.storeCode})
			    	or INSTR(e.pinyin, #{vo.storeCode})
		    	)
	    </if>
	    <if test="vo.storeName != null and vo.storeName !=''">  
	    	and e.name like '%${vo.storeName}%'
	    </if>
		<if test="vo.startDate != null">  
	    	and s.daily_time >= #{vo.startDate}
	    </if>
	    <if test="vo.endDate != null">
	    	AND date_format(s.daily_time, '%Y-%m-%d') &lt;= #{vo.endDate}
	    </if>
	    <if test="vo.payeeName != null and vo.payeeName !=''">
	    	and s.payee_name like '%${vo.payeeName}%'
	    </if>
		)tab1		
  </select>
  
  
  
  <select id="selectBranchPayeeSaleListBySaleTime" resultType="com.rograndec.feijiayun.chain.business.report.retail.vo.SaleAnalyPayeeResultBranchVO">
	    select 
			enterprise_id as enterpriseId,
			code as storeCode,
			name as storeName,
			payee_id as payeeId,
			payee_name as payeeName,
			sum(sale_quantity)as saleQuantity,
			sum(real_amount_total)as realAmount,
			sum(return_sale_quantity)as returnQuantity,
			sum(return_real_amount_total)as returnRealAmount,
			IFNULL(sum(real_amount_total),0) + IFNULL(sum(return_real_amount_total),0) as realAmountTotal,
			IFNULL(sum(notax_real_amount_total),0) + IFNULL(sum(return_notax_real_amount_total),0) as notaxRealAmountTotal,
			IFNULL(sum(tax_amount_total),0)	+ IFNULL(sum(return_tax_amount_total),0) as taxAmountTotal
		from
		(SELECT
			s.enterprise_id,
			e.code,
			e.name,
			s.payee_id,
			s.payee_name,
			(CASE when s.sale_type = 0 then 1 end) as sale_quantity ,
			(CASE when s.sale_type = 0 then s.real_amount_total end) as real_amount_total ,
			(CASE when s.sale_type = 0 then s.notax_real_amount_total end) as notax_real_amount_total ,
			(CASE when s.sale_type = 0 then s.tax_amount_total end) as tax_amount_total ,
			(CASE when s.sale_type = 1 then 1 end) as return_sale_quantity ,
			(CASE when s.sale_type = 1 then -1*s.real_amount_total end) as return_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.notax_real_amount_total end) as return_notax_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.tax_amount_total end) as return_tax_amount_total
		FROM
			saas_sale s LEFT JOIN saas_enterprise e
		on s.enterprise_id = e.id
		where 1=1
		<if test="enterpriseId != null">
			and s.enterprise_id = #{enterpriseId}
		</if>
		<if test="parentId != null">
			and (s.enterprise_id = #{parentId} or s.parent_id = #{parentId})
		</if>
		<if test="vo.chainType != null">  
	    	and e.chain_type = #{vo.chainType}
	    </if>
	    <if test="vo.storeCode != null and vo.storeCode !=''">  
	    	and (
			    	INSTR(e.code, #{vo.storeCode})
			    	or INSTR(e.pinyin, #{vo.storeCode})
		    	)
	    </if>
	    <if test="vo.storeName != null and vo.storeName !=''">  
	    	and e.name like '%${vo.storeName}%'
	    </if>
		<if test="vo.startDate != null">  
	    	and s.sale_date >= #{vo.startDate}
	    </if>
	    <if test="vo.endDate != null">
	    	AND date_format(s.sale_date, '%Y-%m-%d') &lt;= #{vo.endDate}
	    </if>
	    <if test="vo.payeeName != null and vo.payeeName !=''">
	    	and s.payee_name like '%${vo.payeeName}%'
	    </if>
		)tab1
		GROUP BY enterprise_id, payee_id
    <if test="order != null and order != ''">
        order by ${order} ${sort}
    </if>	
    <if test="start != null">
	    limit #{start}, #{pageSize}	
    </if>	
  </select>
  
  <select id="queryCountBranchPayeeSaleListBySaleTime" resultType ="java.lang.Long">
	 select count(1) from(   
	    select s.enterprise_id, s.id
			from saas_sale s
					left join saas_enterprise e
				on s.enterprise_id = e.id
			where 1=1
			<if test="enterpriseId != null">
				and s.enterprise_id = #{enterpriseId}
			</if>
			<if test="parentId != null">
				and (s.enterprise_id = #{parentId} or s.parent_id = #{parentId})
			</if>
			<if test="vo.chainType != null">  
		    	and e.chain_type = #{vo.chainType}
		    </if>
		    <if test="vo.storeCode != null and vo.storeCode!=''">  
		    	and (
			    	INSTR(e.code, #{vo.storeCode})
			    	or INSTR(e.pinyin, #{vo.storeCode})
		    	)
		    </if>
		    <if test="vo.storeName != null and vo.storeName!=''">  
		    	and e.name like '%${vo.storeName}%'
		    </if>
			<if test="vo.startDate != null">  
		    	and s.sale_date >= #{vo.startDate}
		    </if>
		    <if test="vo.endDate != null">
		    	AND date_format(s.sale_date, '%Y-%m-%d') &lt;= #{vo.endDate}
		    </if>	
		    <if test="vo.payeeName != null and vo.payeeName !=''">
		    	and s.payee_name like '%${vo.payeeName}%'
		    </if>
				GROUP BY s.enterprise_id, s.payee_id
	    )tab1	
  </select>
  
  <select id="querySaleAnalysisReportPayeeSaleTime" resultType="com.rograndec.feijiayun.chain.business.report.retail.vo.SaleAnalyPayeeResultBranchTotalVO">
	 	select 
			sum(sale_quantity)as saleQuantity,
			sum(real_amount_total)as realAmount,
			sum(return_sale_quantity)as returnQuantity,
			sum(return_real_amount_total)as returnRealAmount,
			IFNULL(sum(real_amount_total),0) + IFNULL(sum(return_real_amount_total),0) as realAmountTotal,
			IFNULL(sum(notax_real_amount_total),0) + IFNULL(sum(return_notax_real_amount_total),0) as notaxRealAmountTotal,
			IFNULL(sum(tax_amount_total),0)	+ IFNULL(sum(return_tax_amount_total),0) as taxAmountTotal
		from
		(SELECT
			s.enterprise_id,
			e.code,
			e.name,
			s.payee_id,
			s.payee_name,
			(CASE when s.sale_type = 0 then 1 end) as sale_quantity ,
			(CASE when s.sale_type = 0 then s.real_amount_total end) as real_amount_total ,
			(CASE when s.sale_type = 0 then s.notax_real_amount_total end) as notax_real_amount_total ,
			(CASE when s.sale_type = 0 then s.tax_amount_total end) as tax_amount_total ,
			(CASE when s.sale_type = 1 then 1 end) as return_sale_quantity ,
			(CASE when s.sale_type = 1 then -1*s.real_amount_total end) as return_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.notax_real_amount_total end) as return_notax_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.tax_amount_total end) as return_tax_amount_total
		FROM
			saas_sale s LEFT JOIN saas_enterprise e
		on s.enterprise_id = e.id
		where 
			s.daily_settlement_flag = '1'
		<if test="enterpriseId != null">
			and s.enterprise_id = #{enterpriseId}
		</if>
		<if test="parentId != null">
			and (s.enterprise_id = #{parentId} or s.parent_id = #{parentId})
		</if>
		<if test="vo.chainType != null">  
	    	and e.chain_type = #{vo.chainType}
	    </if>
	    <if test="vo.storeCode != null and vo.storeCode !=''">  
	    	and (
			    	INSTR(e.code, #{vo.storeCode})
			    	or INSTR(e.pinyin, #{vo.storeCode})
		    	)
	    </if>
	    <if test="vo.storeName != null and vo.storeName !=''">  
	    	and e.name like '%${vo.storeName}%'
	    </if>
		<if test="vo.startDate != null">  
	    	and s.sale_date >= #{vo.startDate}
	    </if>
	    <if test="vo.endDate != null">
	    	AND date_format(s.sale_date, '%Y-%m-%d') &lt;= #{vo.endDate}
	    </if>
	    <if test="vo.payeeName != null and vo.payeeName !=''">
	    	and s.payee_name like '%${vo.payeeName}%'
	    </if>
		)tab1		
  </select>
  
  
  <select id="selectDoubleClickPayeeSaleListBySaleDate" resultType="com.rograndec.feijiayun.chain.business.report.retail.vo.SaleAnalyPayeeBranchDoubleClickResultVO">
	    select 
			enterprise_id as enterpriseId,
			code as storeCode,
			name as storeName,
			date_format(sale_date, '%Y-%m-%d') as saleDate,
			stand_code as standCode,
			team_name as teamName,
			payee_id as payeeId,
			payee_name as payeeName,
			sum(sale_quantity)as saleQuantity,
			sum(real_amount_total)as realAmount,
			sum(return_sale_quantity)as returnQuantity,
			sum(return_real_amount_total)as returnRealAmount,
			IFNULL(sum(real_amount_total),0) + IFNULL(sum(return_real_amount_total),0) as realAmountTotal,
			IFNULL(sum(notax_real_amount_total),0) + IFNULL(sum(return_notax_real_amount_total),0) as notaxRealAmountTotal,
			IFNULL(sum(tax_amount_total),0)	+ IFNULL(sum(return_tax_amount_total),0) as taxAmountTotal
		from
		(
			SELECT
				s.enterprise_id,
				e.code,
				e.name,
				s.sale_date,
				s.stand_code,
				t.team_name,
				s.payee_id,
				s.payee_name,
				(CASE when s.sale_type = 0 then 1 end) as sale_quantity ,
				(CASE when s.sale_type = 0 then s.real_amount_total end) as real_amount_total ,
				(CASE when s.sale_type = 0 then s.notax_real_amount_total end) as notax_real_amount_total ,
				(CASE when s.sale_type = 0 then s.tax_amount_total end) as tax_amount_total ,
				(CASE when s.sale_type = 1 then 1 end) as return_sale_quantity ,
				(CASE when s.sale_type = 1 then -1*s.real_amount_total end) as return_real_amount_total ,
				(CASE when s.sale_type = 1 then -1*s.notax_real_amount_total end) as return_notax_real_amount_total ,
				(CASE when s.sale_type = 1 then -1*s.tax_amount_total end) as return_tax_amount_total
			FROM
				saas_sale s LEFT JOIN saas_enterprise e
			on s.enterprise_id = e.id
				left join saas_pos_payee t
    		on s.payee_id = t.payee_id
			where s.enterprise_id = #{enterpriseId}
				and s.payee_id = #{payeeId}
			<if test="vo.startDate != null">  
		    	and s.sale_date >= #{vo.startDate}
		    </if>
		    <if test="vo.endDate != null">
		    	AND date_format(s.sale_date, '%Y-%m-%d') &lt;= #{vo.endDate}
		    </if>
			)tab1
		group by date_format(sale_date, '%Y-%m-%d')
    <if test="order != null and order != ''">
        order by ${order} ${sort}
    </if>	
    <if test="start != null">
	    limit #{start}, #{pageSize}	
    </if>	
  </select>
  
  <select id="queryCountDoubleClickPayeeSaleListBySaleDate" resultType ="java.lang.Long">
	 select count(1) from(   
	    select s.enterprise_id, s.id
			FROM
				saas_sale s LEFT JOIN saas_enterprise e
			on s.enterprise_id = e.id
				left join saas_pos_payee t
    		on s.payee_id = t.payee_id
			where s.enterprise_id = #{enterpriseId}
				and s.payee_id = #{payeeId}
			<if test="vo.startDate != null">  
		    	and s.sale_date >= #{vo.startDate}
		    </if>
		    <if test="vo.endDate != null">
		    	AND date_format(s.sale_date, '%Y-%m-%d') &lt;= #{vo.endDate}
		    </if>
				group by date_format(s.sale_date, '%Y-%m-%d')
	    )tab1	
  </select>
  
  <select id="queryDoubleClickPayeeSaleListBySaleDate" resultType="com.rograndec.feijiayun.chain.business.report.retail.vo.SaleAnalyPayeeBranchDoubleClickResultTotalVO">
	 	select 
			sum(sale_quantity)as saleQuantity,
			sum(real_amount_total)as realAmount,
			sum(return_sale_quantity)as returnQuantity,
			sum(return_real_amount_total)as returnRealAmount,
			IFNULL(sum(real_amount_total),0) + IFNULL(sum(return_real_amount_total),0) as realAmountTotal,
			IFNULL(sum(notax_real_amount_total),0) + IFNULL(sum(return_notax_real_amount_total),0) as notaxRealAmountTotal,
			IFNULL(sum(tax_amount_total),0)	+ IFNULL(sum(return_tax_amount_total),0) as taxAmountTotal
		from
		(
			SELECT
				s.enterprise_id,
				e.code,
				e.name,
				s.sale_date,
				s.stand_code,
				t.team_name,
				s.payee_id,
				s.payee_name,
				(CASE when s.sale_type = 0 then 1 end) as sale_quantity ,
				(CASE when s.sale_type = 0 then s.real_amount_total end) as real_amount_total ,
				(CASE when s.sale_type = 0 then s.notax_real_amount_total end) as notax_real_amount_total ,
				(CASE when s.sale_type = 0 then s.tax_amount_total end) as tax_amount_total ,
				(CASE when s.sale_type = 1 then 1 end) as return_sale_quantity ,
				(CASE when s.sale_type = 1 then -1*s.real_amount_total end) as return_real_amount_total ,
				(CASE when s.sale_type = 1 then -1*s.notax_real_amount_total end) as return_notax_real_amount_total ,
				(CASE when s.sale_type = 1 then -1*s.tax_amount_total end) as return_tax_amount_total
			FROM
				saas_sale s LEFT JOIN saas_enterprise e
			on s.enterprise_id = e.id
				left join saas_pos_payee t
    		on s.payee_id = t.payee_id
			where s.enterprise_id = #{enterpriseId}
				and s.payee_id = #{payeeId}
			<if test="vo.startDate != null">  
		    	and s.sale_date >= #{vo.startDate}
		    </if>
		    <if test="vo.endDate != null">
		    	AND date_format(s.sale_date, '%Y-%m-%d') &lt;= #{vo.endDate}
		    </if>
			)tab1
  </select>
  
  <select id="selectDoubleClickPayeeSaleListByDailyTime" resultType="com.rograndec.feijiayun.chain.business.report.retail.vo.SaleAnalyPayeeBranchDoubleClickResultVO">
	    SELECT
	    	s.id,
			s.enterprise_id as enterpriseId, 
			e.code as storeCode, 
			e.name as storeName, 
			tab1.settle_date as saleDate, 
			p.team_name as teamName, 
			s.payee_id as payeeId, 
			s.payee_name as payeeName, 
			s.opening_time as openingTime, 
			s.shift_time as shiftTime
		FROM
			saas_payee_opening_shift s JOIN
		(
			SELECT
				base_order_id, settle_date
			FROM
				saas_sale_daily_settle
			WHERE
				enterprise_id = #{enterpriseId}
				
			<if test="vo.startDate != null">  
		    	and settle_date >= #{vo.startDate}
		    </if>
		    <if test="vo.endDate != null">
		    	AND date_format(settle_date, '%Y-%m-%d') &lt;= #{vo.endDate}
		    </if>	
		) tab1 on s.id = tab1.base_order_id
		LEFT JOIN saas_pos_payee p 
			on s.payee_id = p.payee_id
		LEFT JOIN saas_enterprise e
			on s.enterprise_id = e.id
		WHERE
			s.enterprise_id = #{enterpriseId}
		AND s.payee_id = #{payeeId}
    <if test="order != null and order != ''">
        order by ${order} ${sort}
    </if>	
    <if test="start != null">
	    limit #{start}, #{pageSize}	
    </if>	
  </select>
  
  <select id="queryDoubleClickResultVODataByShiftId" resultType="com.rograndec.feijiayun.chain.business.report.retail.vo.SaleAnalyPayeeBranchDoubleClickResultVO">
	 select 
	 	stand_code as standCode,
		sum(sale_quantity)as saleQuantity,
		sum(real_amount_total)as realAmount,
		sum(return_sale_quantity)as returnQuantity,
		sum(return_real_amount_total)as returnRealAmount,
		IFNULL(sum(real_amount_total),0) + IFNULL(sum(return_real_amount_total),0) as realAmountTotal,
		IFNULL(sum(notax_real_amount_total),0) + IFNULL(sum(return_notax_real_amount_total),0) as notaxRealAmountTotal,
		IFNULL(sum(tax_amount_total),0)	+ IFNULL(sum(return_tax_amount_total),0) as taxAmountTotal
	from(
		select 
			s.stand_code,
			(CASE when s.sale_type = 0 then 1 end) as sale_quantity ,
			(CASE when s.sale_type = 0 then s.real_amount_total end) as real_amount_total ,
			(CASE when s.sale_type = 0 then s.notax_real_amount_total end) as notax_real_amount_total ,
			(CASE when s.sale_type = 0 then s.tax_amount_total end) as tax_amount_total ,
			(CASE when s.sale_type = 1 then 1 end) as return_sale_quantity ,
			(CASE when s.sale_type = 1 then -1*s.real_amount_total end) as return_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.notax_real_amount_total end) as return_notax_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.tax_amount_total end) as return_tax_amount_total
			from saas_sale s where id in(
			SELECT
				base_order_id
			FROM
				saas_payee_opening_shift_detail
			WHERE
				doc_id = #{id})
	)tab1	
  </select>
  
  <select id="queryCountDoubleClickPayeeSaleListByDailyTime" resultType ="java.lang.Long">
	 select count(1) from(   
	 	select s.id
	   	 	FROM
		saas_payee_opening_shift s JOIN
		(
			SELECT
				base_order_id, settle_date
			FROM
				saas_sale_daily_settle
			WHERE
				enterprise_id = #{enterpriseId}
				
			<if test="vo.startDate != null">  
		    	and settle_date >= #{vo.startDate}
		    </if>
		    <if test="vo.endDate != null">
		    	AND date_format(settle_date, '%Y-%m-%d') &lt;= #{vo.endDate}
		    </if>	
		) tab1 on s.id = tab1.base_order_id
			WHERE
		s.enterprise_id = #{enterpriseId}
		AND s.payee_id = #{payeeId}
	 )tab2	
  </select>
  
  <select id="queryDoubleClickPayeeSaleListByDailyTime" resultType="com.rograndec.feijiayun.chain.business.report.retail.vo.SaleAnalyPayeeBranchDoubleClickResultTotalVO">
	 select 
		sum(sale_quantity)as saleQuantity,
		sum(real_amount_total)as realAmount,
		sum(return_sale_quantity)as returnQuantity,
		sum(return_real_amount_total)as returnRealAmount,
		IFNULL(sum(real_amount_total),0) + IFNULL(sum(return_real_amount_total),0) as realAmountTotal,
		IFNULL(sum(notax_real_amount_total),0) + IFNULL(sum(return_notax_real_amount_total),0) as notaxRealAmountTotal,
		IFNULL(sum(tax_amount_total),0)	+ IFNULL(sum(return_tax_amount_total),0) as taxAmountTotal
	from(
		select 
			s.stand_code,
			(CASE when s.sale_type = 0 then 1 end) as sale_quantity ,
			(CASE when s.sale_type = 0 then s.real_amount_total end) as real_amount_total ,
			(CASE when s.sale_type = 0 then s.notax_real_amount_total end) as notax_real_amount_total ,
			(CASE when s.sale_type = 0 then s.tax_amount_total end) as tax_amount_total ,
			(CASE when s.sale_type = 1 then 1 end) as return_sale_quantity ,
			(CASE when s.sale_type = 1 then -1*s.real_amount_total end) as return_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.notax_real_amount_total end) as return_notax_real_amount_total ,
			(CASE when s.sale_type = 1 then -1*s.tax_amount_total end) as return_tax_amount_total
			from saas_sale s where id in(
			SELECT
				base_order_id
			FROM
				saas_payee_opening_shift_detail
			WHERE
				doc_id in (
					SELECT
						s.id
					FROM
						saas_payee_opening_shift s
					JOIN (
						SELECT
							base_order_id,
							settle_date
						FROM
							saas_sale_daily_settle
						WHERE
							enterprise_id = #{enterpriseId}
						<if test="vo.startDate != null">  
					    	and settle_date >= #{vo.startDate}
					    </if>
					    <if test="vo.endDate != null">
					    	AND date_format(settle_date, '%Y-%m-%d') &lt;= #{vo.endDate}
					    </if>	
					) tab1 ON s.id = tab1.base_order_id
					WHERE
						s.enterprise_id = #{enterpriseId}
					AND s.payee_id = #{payeeId}
				)
			)
	)tab1	
  </select>
  
</mapper>