<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.system.opening.dao.OpeningTaxMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.system.opening.entity.OpeningTax">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="tax_date" jdbcType="TIMESTAMP" property="taxDate" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_code" jdbcType="VARCHAR" property="operatorCode" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="amount_total" jdbcType="DECIMAL" property="amountTotal" />
    <result column="clear_amount_total" jdbcType="DECIMAL" property="clearAmountTotal" />
    <result column="unclear_amount_total" jdbcType="DECIMAL" property="unclearAmountTotal" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <resultMap type="com.rograndec.feijiayun.chain.business.system.opening.vo.OpeningTaxVO" id="ResponseTaxVOMap">  
        <id column="id" property="id"/>  
        <result column="code" property="code"/>  
        <result column="tax_date" property="taxDate"/>
        <result column="operator_id" property="operatorId"/>  
        <result column="operator_code" property="operatorCode"/>  
        <result column="operator_name" property="operatorName"/> 
        <result column="amount_total" property="amountTotal"/> 
        <result column="remark" property="remark"/> 
        <collection property="detailList" ofType="com.rograndec.feijiayun.chain.business.system.opening.vo.OpeningTaxDetailVO">  
            <id column="bId" property="id"/>  
            <result column="tax_id" property="taxId"/>  
            <result column="tax_type" property="taxType"/>
            <result column="tax_rate_id" property="taxRateId"/>
            <result column="tax_rate" property="taxRateSelf"/>
            <result column="amount" property="amountSelf"/>
        </collection>  
   </resultMap>  
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, code, order_type, tax_date, operator_id, operator_code, 
    operator_name, amount_total, clear_amount_total, unclear_amount_total, status, remark, 
    creater_id, creater_code, creater_name, create_time, modifier_id, modifier_code, 
    modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_opening_tax
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_opening_tax
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.system.opening.entity.OpeningTax" useGeneratedKeys="true" keyProperty="id">
    insert into saas_opening_tax (id, enterprise_id, parent_id, 
      code, order_type, tax_date, 
      operator_id, operator_code, operator_name, 
      amount_total, clear_amount_total, unclear_amount_total, 
      status, remark, creater_id, 
      creater_code, creater_name, create_time, 
      modifier_id, modifier_code, modifier_name, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{code,jdbcType=VARCHAR}, #{orderType,jdbcType=INTEGER}, #{taxDate,jdbcType=TIMESTAMP}, 
      #{operatorId,jdbcType=BIGINT}, #{operatorCode,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, 
      #{amountTotal,jdbcType=DECIMAL}, #{clearAmountTotal,jdbcType=DECIMAL}, #{unclearAmountTotal,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, 
      #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.system.opening.entity.OpeningTax" useGeneratedKeys="true" keyProperty="id">
    insert into saas_opening_tax
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="taxDate != null">
        tax_date,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorCode != null">
        operator_code,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="amountTotal != null">
        amount_total,
      </if>
      <if test="clearAmountTotal != null">
        clear_amount_total,
      </if>
      <if test="unclearAmountTotal != null">
        unclear_amount_total,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="taxDate != null">
        #{taxDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorCode != null">
        #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="amountTotal != null">
        #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="clearAmountTotal != null">
        #{clearAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="unclearAmountTotal != null">
        #{unclearAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.system.opening.entity.OpeningTax">
    update saas_opening_tax
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="taxDate != null">
        tax_date = #{taxDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorCode != null">
        operator_code = #{operatorCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="amountTotal != null">
        amount_total = #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="clearAmountTotal != null">
        clear_amount_total = #{clearAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="unclearAmountTotal != null">
        unclear_amount_total = #{unclearAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.system.opening.entity.OpeningTax">
    update saas_opening_tax
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=INTEGER},
      tax_date = #{taxDate,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_code = #{operatorCode,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      amount_total = #{amountTotal,jdbcType=DECIMAL},
      clear_amount_total = #{clearAmountTotal,jdbcType=DECIMAL},
      unclear_amount_total = #{unclearAmountTotal,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getOpeningTaxList"  resultMap="ResponseTaxVOMap">
    SELECT a.`id`,a.`code`,a.`tax_date`,a.`operator_id`,
	a.`operator_code`,a.`operator_name`,a.`amount_total`,a.`remark`,
	b.`id` as bId,b.`tax_id`,b.`tax_type`,b.`tax_rate_id`,b.`tax_rate`,b.`amount`
	FROM `saas_opening_tax` a
	LEFT JOIN `saas_opening_tax_detail` b ON b.`tax_id` = a.`id`
	WHERE a.`enterprise_id` = #{enterpriseId}
  </select>
  
  <select id="queryGoodsTaxRates"  resultType="com.rograndec.feijiayun.chain.business.system.opening.vo.OpeningTaxDetailVO">
    SELECT `id` AS taxRateId,`tax_rate` AS taxRateSelf
	FROM `saas_goods_tax_rate` WHERE (`enterprise_id` = #{enterpriseId} OR `enterprise_id` = 0) AND `status` = 1  AND tax_rate != 0
  </select>
  
</mapper>