<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.storage.goodshandle.dao.StopSaleMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.storage.goodshandle.entity.StopSale">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="stop_date" jdbcType="TIMESTAMP" property="stopDate" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="base_order_id" jdbcType="BIGINT" property="baseOrderId" />
    <result column="base_order_type" jdbcType="INTEGER" property="baseOrderType" />
    <result column="base_order_code" jdbcType="VARCHAR" property="baseOrderCode" />
    <result column="base_order_date" jdbcType="TIMESTAMP" property="baseOrderDate" />
    <result column="stop_man_id" jdbcType="BIGINT" property="stopManId" />
    <result column="stop_man_code" jdbcType="VARCHAR" property="stopManCode" />
    <result column="stop_man_name" jdbcType="VARCHAR" property="stopManName" />
    <result column="stop_from" jdbcType="INTEGER" property="stopFrom" />
    <result column="quantity_total" jdbcType="DECIMAL" property="quantityTotal" />
    <result column="varieties_quantity" jdbcType="INTEGER" property="varietiesQuantity" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>



  <resultMap id="StopSaleReturnVOResultMap" type="com.rograndec.feijiayun.chain.business.storage.goodshandle.vo.StopSaleReturnVO">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stop_date" jdbcType="TIMESTAMP" property="stopDate" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="base_order_code" jdbcType="VARCHAR" property="baseOrderCode" />
    <result column="stop_man_id" jdbcType="BIGINT" property="stopManId" />
    <result column="stop_man_name" jdbcType="VARCHAR" property="stopManName" />
    <result column="stop_from" jdbcType="INTEGER" property="stopFrom" />

    <collection property="stopSaleDetailReturnVOList" ofType="com.rograndec.feijiayun.chain.business.storage.goodshandle.vo.StopSaleDetailReturnVO">

      <id column="dtl_id" jdbcType="BIGINT" property="id" />
      <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
      <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
      <result column="barcode" jdbcType="VARCHAR" property="barcode" />
      <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
      <result column="goods_generic_name" jdbcType="VARCHAR" property="goodsGenericName" />
      <result column="dosage_id" jdbcType="BIGINT" property="dosageId" />
      <result column="dosage_name" jdbcType="VARCHAR" property="dosageName" />
      <result column="unit_id" jdbcType="BIGINT" property="unitId" />
      <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
      <result column="goods_specification" jdbcType="VARCHAR" property="goodsSpecification" />
      <result column="manufacturer_id" jdbcType="BIGINT" property="manufacturerId" />
      <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
      <result column="goods_place" jdbcType="VARCHAR" property="goodsPlace" />
      <result column="quantity" jdbcType="DECIMAL" property="quantity" />
      <result column="stop_reason" jdbcType="VARCHAR" property="stopReason" />
      <result column="line_num" jdbcType="INTEGER" property="lineNum" />
      <collection property="stopSaleShelfReturnVOList" ofType="com.rograndec.feijiayun.chain.business.storage.goodshandle.vo.StopSaleShelfReturnVO">

        <id column="shelf_id" jdbcType="BIGINT" property="id" />
        <result column="dtl_id" jdbcType="BIGINT" property="dtlId" />
        <result column="stop_id" jdbcType="BIGINT" property="stopId" />
        <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
        <result column="lot_id" jdbcType="BIGINT" property="lotId" />
        <result column="lot_number" jdbcType="VARCHAR" property="lotNumber" />
        <result column="product_date" jdbcType="TIMESTAMP" property="productDate" />
        <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
        <result column="shelf_id" jdbcType="BIGINT" property="shelfId" />
        <result column="shelf_name" jdbcType="VARCHAR" property="shelfName" />
        <result column="shelf_status_desc" jdbcType="VARCHAR" property="shelfStatusDesc" />
        <result column="quantity" jdbcType="DECIMAL" property="quantity" />
        <result column="line_num" jdbcType="INTEGER" property="lineNum" />

      </collection>

    </collection>

  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, parent_id, order_type, stop_date, code, base_order_id, base_order_type, 
    base_order_code, base_order_date, stop_man_id, stop_man_code, stop_man_name, stop_from, 
    quantity_total, varieties_quantity, status, remark, creater_id, creater_code, creater_name, 
    create_time, modifier_id, modifier_code, modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_stop_sale
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_stop_sale
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.storage.goodshandle.entity.StopSale" keyProperty="id" useGeneratedKeys="true">
    insert into saas_stop_sale (id, enterprise_id, parent_id, 
      order_type, stop_date, code, 
      base_order_id, base_order_type, base_order_code, 
      base_order_date, stop_man_id, stop_man_code, 
      stop_man_name, stop_from, quantity_total, 
      varieties_quantity, status, remark, 
      creater_id, creater_code, creater_name, 
      create_time, modifier_id, modifier_code, 
      modifier_name, update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{orderType,jdbcType=INTEGER}, #{stopDate,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR}, 
      #{baseOrderId,jdbcType=BIGINT}, #{baseOrderType,jdbcType=INTEGER}, #{baseOrderCode,jdbcType=VARCHAR}, 
      #{baseOrderDate,jdbcType=TIMESTAMP}, #{stopManId,jdbcType=BIGINT}, #{stopManCode,jdbcType=VARCHAR}, 
      #{stopManName,jdbcType=VARCHAR}, #{stopFrom,jdbcType=INTEGER}, #{quantityTotal,jdbcType=DECIMAL}, 
      #{varietiesQuantity,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, 
      #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.storage.goodshandle.entity.StopSale" keyProperty="id" useGeneratedKeys="true">
    insert into saas_stop_sale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="stopDate != null">
        stop_date,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="baseOrderId != null">
        base_order_id,
      </if>
      <if test="baseOrderType != null">
        base_order_type,
      </if>
      <if test="baseOrderCode != null">
        base_order_code,
      </if>
      <if test="baseOrderDate != null">
        base_order_date,
      </if>
      <if test="stopManId != null">
        stop_man_id,
      </if>
      <if test="stopManCode != null">
        stop_man_code,
      </if>
      <if test="stopManName != null">
        stop_man_name,
      </if>
      <if test="stopFrom != null">
        stop_from,
      </if>
      <if test="quantityTotal != null">
        quantity_total,
      </if>
      <if test="varietiesQuantity != null">
        varieties_quantity,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="stopDate != null">
        #{stopDate,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="baseOrderId != null">
        #{baseOrderId,jdbcType=BIGINT},
      </if>
      <if test="baseOrderType != null">
        #{baseOrderType,jdbcType=INTEGER},
      </if>
      <if test="baseOrderCode != null">
        #{baseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="baseOrderDate != null">
        #{baseOrderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopManId != null">
        #{stopManId,jdbcType=BIGINT},
      </if>
      <if test="stopManCode != null">
        #{stopManCode,jdbcType=VARCHAR},
      </if>
      <if test="stopManName != null">
        #{stopManName,jdbcType=VARCHAR},
      </if>
      <if test="stopFrom != null">
        #{stopFrom,jdbcType=INTEGER},
      </if>
      <if test="quantityTotal != null">
        #{quantityTotal,jdbcType=DECIMAL},
      </if>
      <if test="varietiesQuantity != null">
        #{varietiesQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.storage.goodshandle.entity.StopSale">
    update saas_stop_sale
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="stopDate != null">
        stop_date = #{stopDate,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="baseOrderId != null">
        base_order_id = #{baseOrderId,jdbcType=BIGINT},
      </if>
      <if test="baseOrderType != null">
        base_order_type = #{baseOrderType,jdbcType=INTEGER},
      </if>
      <if test="baseOrderCode != null">
        base_order_code = #{baseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="baseOrderDate != null">
        base_order_date = #{baseOrderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopManId != null">
        stop_man_id = #{stopManId,jdbcType=BIGINT},
      </if>
      <if test="stopManCode != null">
        stop_man_code = #{stopManCode,jdbcType=VARCHAR},
      </if>
      <if test="stopManName != null">
        stop_man_name = #{stopManName,jdbcType=VARCHAR},
      </if>
      <if test="stopFrom != null">
        stop_from = #{stopFrom,jdbcType=INTEGER},
      </if>
      <if test="quantityTotal != null">
        quantity_total = #{quantityTotal,jdbcType=DECIMAL},
      </if>
      <if test="varietiesQuantity != null">
        varieties_quantity = #{varietiesQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.storage.goodshandle.entity.StopSale">
    update saas_stop_sale
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=INTEGER},
      stop_date = #{stopDate,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR},
      base_order_id = #{baseOrderId,jdbcType=BIGINT},
      base_order_type = #{baseOrderType,jdbcType=INTEGER},
      base_order_code = #{baseOrderCode,jdbcType=VARCHAR},
      base_order_date = #{baseOrderDate,jdbcType=TIMESTAMP},
      stop_man_id = #{stopManId,jdbcType=BIGINT},
      stop_man_code = #{stopManCode,jdbcType=VARCHAR},
      stop_man_name = #{stopManName,jdbcType=VARCHAR},
      stop_from = #{stopFrom,jdbcType=INTEGER},
      quantity_total = #{quantityTotal,jdbcType=DECIMAL},
      varieties_quantity = #{varietiesQuantity,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <select id="selectStopSalePage"  resultType="com.rograndec.feijiayun.chain.business.storage.goodshandle.vo.StopSalePageVO">

    SELECT
    id,
    stop_date AS stopDate,
    code,
    stop_man_id AS stopManId,
    stop_man_name  AS stopManName,
    stop_from AS stopFrom,
    base_order_code AS baseOrderCode
    FROM
    saas_stop_sale
    <include refid="whereSql"></include>

    order by ${order}  ${sort}
    limit #{pageStart},#{pageSize}

  </select>

  <select id="selectStopSalePageCount" resultType="java.lang.Integer">

    SELECT
    count(*)
    FROM
    saas_stop_sale
    <include refid="whereSql"></include>

  </select>

  <sql id="whereSql">
    <where>
      enterprise_id = #{enterpriseId,jdbcType=BIGINT}
      <if test="manName != null  and manName != '' ">
        and stop_man_name LIKE concat('%', #{manName},'%')
      </if>

      <if test="orderFrom != null ">
        and stop_from= #{orderFrom,jdbcType=VARCHAR}
      </if>
      <if test="code != null and code != ''">
        and code = #{code,jdbcType=VARCHAR}
      </if>
      <if test ="start != null " >
        and stop_date &gt;=  #{start,jdbcType=TIMESTAMP}
      </if>
      <if test ="end != null " >
        and stop_date &lt;=  #{end,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>



  <select id="selectDetailById" parameterType="java.lang.Long" resultMap="StopSaleReturnVOResultMap">

    SELECT
    s.id ,
    s.stop_date ,
    s. CODE ,
    s.base_order_code ,
    s.stop_man_id ,
    s.stop_man_name ,
    s.stop_from ,
    dtl.id AS dtl_id ,
    dtl.goods_id ,
    dtl.goods_code ,
    dtl.barcode ,
    dtl.goods_name ,
    dtl.goods_generic_name ,
    dtl.dosage_id ,
    dtl.dosage_name ,
    dtl.unit_id ,
    dtl.unit_name ,
    dtl.goods_specification ,
    dtl.manufacturer_id ,
    dtl.manufacturer ,
    dtl.goods_place ,
    dtl.quantity ,
    dtl.stop_reason ,
    dtl.line_num ,
    shelf.id AS shelf_id ,
    shelf.dtl_id ,
    shelf.stop_id ,
    shelf.goods_id ,
    shelf.lot_id ,
    shelf.lot_number ,
    shelf.product_date ,
    shelf.valid_date ,
    shelf.shelf_id ,
    shelf.shelf_name ,
    shelf.shelf_status_desc ,
    shelf.quantity
    FROM
    saas_stop_sale s
    JOIN saas_stop_sale_detail dtl ON dtl.stop_id = s.id JOIN saas_stop_sale_shelf shelf ON shelf.dtl_id = dtl.id

    WHERE s.id = #{id}

  </select>

</mapper>