<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.retail.pos.dao.PosPayeeAuthMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.retail.pos.entity.PosPayeeAuth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pay_key_id" jdbcType="BIGINT" property="payKeyId" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="payee_id" jdbcType="BIGINT" property="payeeId" />
    <result column="payee_code" jdbcType="VARCHAR" property="payeeCode" />
    <result column="payee_name" jdbcType="VARCHAR" property="payeeName" />
    <result column="billing_payment" jdbcType="INTEGER" property="billingPayment" />
    <result column="payee_shift" jdbcType="INTEGER" property="payeeShift" />
    <result column="report_query" jdbcType="INTEGER" property="reportQuery" />
    <result column="advance_booking" jdbcType="INTEGER" property="advanceBooking" />
    <result column="add_member" jdbcType="INTEGER" property="addMember" />
    <result column="collection_practice" jdbcType="INTEGER" property="collectionPractice" />
    <result column="operation_log" jdbcType="INTEGER" property="operationLog" />
    <result column="system_set" jdbcType="INTEGER" property="systemSet" />
    <result column="ch_medicine_mode" jdbcType="INTEGER" property="chMedicineMode" />
    <result column="patch_mode" jdbcType="INTEGER" property="patchMode" />
    <result column="sale_return" jdbcType="INTEGER" property="saleReturn" />
    <result column="query_payable_amount" jdbcType="INTEGER" property="queryPayableAmount" />
    <result column="modify_price_amount" jdbcType="INTEGER" property="modifyPriceAmount" />
    <result column="modify_line_discount" jdbcType="INTEGER" property="modifyLineDiscount" />
    <result column="whole_discount" jdbcType="INTEGER" property="wholeDiscount" />
    <result column="maling" jdbcType="INTEGER" property="maling" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <resultMap id="BaseResultMapVO" type="com.rograndec.feijiayun.chain.business.retail.pos.vo.PosPayeeAuthVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pay_key_id" jdbcType="BIGINT" property="payKeyId" />
    <result column="payee_id" jdbcType="BIGINT" property="payeeId" />
    <result column="payee_code" jdbcType="VARCHAR" property="payeeCode" />
    <result column="payee_name" jdbcType="VARCHAR" property="payeeName" />
    <result column="billing_payment" jdbcType="INTEGER" property="billingPayment" />
    <result column="payee_shift" jdbcType="INTEGER" property="payeeShift" />
    <result column="report_query" jdbcType="INTEGER" property="reportQuery" />
    <result column="advance_booking" jdbcType="INTEGER" property="advanceBooking" />
    <result column="add_member" jdbcType="INTEGER" property="addMember" />
    <result column="collection_practice" jdbcType="INTEGER" property="collectionPractice" />
    <result column="operation_log" jdbcType="INTEGER" property="operationLog" />
    <result column="system_set" jdbcType="INTEGER" property="systemSet" />
    <result column="ch_medicine_mode" jdbcType="INTEGER" property="chMedicineMode" />
    <result column="patch_mode" jdbcType="INTEGER" property="patchMode" />
    <result column="sale_return" jdbcType="INTEGER" property="saleReturn" />
    <result column="query_payable_amount" jdbcType="INTEGER" property="queryPayableAmount" />
    <result column="modify_price_amount" jdbcType="INTEGER" property="modifyPriceAmount" />
    <result column="modify_line_discount" jdbcType="INTEGER" property="modifyLineDiscount" />
    <result column="whole_discount" jdbcType="INTEGER" property="wholeDiscount" />
    <result column="maling" jdbcType="INTEGER" property="maling" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, pay_key_id, enterprise_id, parent_id, payee_id, payee_code, payee_name, billing_payment, 
    payee_shift, report_query, advance_booking, add_member, collection_practice, operation_log, 
    system_set, ch_medicine_mode, patch_mode, sale_return, query_payable_amount, modify_price_amount, 
    modify_line_discount, whole_discount, maling, status, remark, creater_id, creater_code, 
    creater_name, create_time, modifier_id, modifier_code, modifier_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_pos_payee_auth
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_pos_payee_auth
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.retail.pos.entity.PosPayeeAuth">
    insert into saas_pos_payee_auth (id, pay_key_id, enterprise_id, 
      parent_id, payee_id, payee_code, 
      payee_name, billing_payment, payee_shift, 
      report_query, advance_booking, add_member, 
      collection_practice, operation_log, system_set, 
      ch_medicine_mode, patch_mode, sale_return, 
      query_payable_amount, modify_price_amount, 
      modify_line_discount, whole_discount, maling, 
      status, remark, creater_id, 
      creater_code, creater_name, create_time, 
      modifier_id, modifier_code, modifier_name, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{payKeyId,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, 
      #{parentId,jdbcType=BIGINT}, #{payeeId,jdbcType=BIGINT}, #{payeeCode,jdbcType=VARCHAR}, 
      #{payeeName,jdbcType=VARCHAR}, #{billingPayment,jdbcType=INTEGER}, #{payeeShift,jdbcType=INTEGER}, 
      #{reportQuery,jdbcType=INTEGER}, #{advanceBooking,jdbcType=INTEGER}, #{addMember,jdbcType=INTEGER}, 
      #{collectionPractice,jdbcType=INTEGER}, #{operationLog,jdbcType=INTEGER}, #{systemSet,jdbcType=INTEGER}, 
      #{chMedicineMode,jdbcType=INTEGER}, #{patchMode,jdbcType=INTEGER}, #{saleReturn,jdbcType=INTEGER}, 
      #{queryPayableAmount,jdbcType=INTEGER}, #{modifyPriceAmount,jdbcType=INTEGER}, 
      #{modifyLineDiscount,jdbcType=INTEGER}, #{wholeDiscount,jdbcType=INTEGER}, #{maling,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, 
      #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.retail.pos.entity.PosPayeeAuth" useGeneratedKeys="true" keyProperty="id">
    insert into saas_pos_payee_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="payKeyId != null">
        pay_key_id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="payeeId != null">
        payee_id,
      </if>
      <if test="payeeCode != null">
        payee_code,
      </if>
      <if test="payeeName != null">
        payee_name,
      </if>
      <if test="billingPayment != null">
        billing_payment,
      </if>
      <if test="payeeShift != null">
        payee_shift,
      </if>
      <if test="reportQuery != null">
        report_query,
      </if>
      <if test="advanceBooking != null">
        advance_booking,
      </if>
      <if test="addMember != null">
        add_member,
      </if>
      <if test="collectionPractice != null">
        collection_practice,
      </if>
      <if test="operationLog != null">
        operation_log,
      </if>
      <if test="systemSet != null">
        system_set,
      </if>
      <if test="chMedicineMode != null">
        ch_medicine_mode,
      </if>
      <if test="patchMode != null">
        patch_mode,
      </if>
      <if test="saleReturn != null">
        sale_return,
      </if>
      <if test="queryPayableAmount != null">
        query_payable_amount,
      </if>
      <if test="modifyPriceAmount != null">
        modify_price_amount,
      </if>
      <if test="modifyLineDiscount != null">
        modify_line_discount,
      </if>
      <if test="wholeDiscount != null">
        whole_discount,
      </if>
      <if test="maling != null">
        maling,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="payKeyId != null">
        #{payKeyId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="payeeId != null">
        #{payeeId,jdbcType=BIGINT},
      </if>
      <if test="payeeCode != null">
        #{payeeCode,jdbcType=VARCHAR},
      </if>
      <if test="payeeName != null">
        #{payeeName,jdbcType=VARCHAR},
      </if>
      <if test="billingPayment != null">
        #{billingPayment,jdbcType=INTEGER},
      </if>
      <if test="payeeShift != null">
        #{payeeShift,jdbcType=INTEGER},
      </if>
      <if test="reportQuery != null">
        #{reportQuery,jdbcType=INTEGER},
      </if>
      <if test="advanceBooking != null">
        #{advanceBooking,jdbcType=INTEGER},
      </if>
      <if test="addMember != null">
        #{addMember,jdbcType=INTEGER},
      </if>
      <if test="collectionPractice != null">
        #{collectionPractice,jdbcType=INTEGER},
      </if>
      <if test="operationLog != null">
        #{operationLog,jdbcType=INTEGER},
      </if>
      <if test="systemSet != null">
        #{systemSet,jdbcType=INTEGER},
      </if>
      <if test="chMedicineMode != null">
        #{chMedicineMode,jdbcType=INTEGER},
      </if>
      <if test="patchMode != null">
        #{patchMode,jdbcType=INTEGER},
      </if>
      <if test="saleReturn != null">
        #{saleReturn,jdbcType=INTEGER},
      </if>
      <if test="queryPayableAmount != null">
        #{queryPayableAmount,jdbcType=INTEGER},
      </if>
      <if test="modifyPriceAmount != null">
        #{modifyPriceAmount,jdbcType=INTEGER},
      </if>
      <if test="modifyLineDiscount != null">
        #{modifyLineDiscount,jdbcType=INTEGER},
      </if>
      <if test="wholeDiscount != null">
        #{wholeDiscount,jdbcType=INTEGER},
      </if>
      <if test="maling != null">
        #{maling,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.retail.pos.entity.PosPayeeAuth">
    update saas_pos_payee_auth
    <set>
      <if test="payKeyId != null">
        pay_key_id = #{payKeyId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="payeeId != null">
        payee_id = #{payeeId,jdbcType=BIGINT},
      </if>
      <if test="payeeCode != null">
        payee_code = #{payeeCode,jdbcType=VARCHAR},
      </if>
      <if test="payeeName != null">
        payee_name = #{payeeName,jdbcType=VARCHAR},
      </if>
      <if test="billingPayment != null">
        billing_payment = #{billingPayment,jdbcType=INTEGER},
      </if>
      <if test="payeeShift != null">
        payee_shift = #{payeeShift,jdbcType=INTEGER},
      </if>
      <if test="reportQuery != null">
        report_query = #{reportQuery,jdbcType=INTEGER},
      </if>
      <if test="advanceBooking != null">
        advance_booking = #{advanceBooking,jdbcType=INTEGER},
      </if>
      <if test="addMember != null">
        add_member = #{addMember,jdbcType=INTEGER},
      </if>
      <if test="collectionPractice != null">
        collection_practice = #{collectionPractice,jdbcType=INTEGER},
      </if>
      <if test="operationLog != null">
        operation_log = #{operationLog,jdbcType=INTEGER},
      </if>
      <if test="systemSet != null">
        system_set = #{systemSet,jdbcType=INTEGER},
      </if>
      <if test="chMedicineMode != null">
        ch_medicine_mode = #{chMedicineMode,jdbcType=INTEGER},
      </if>
      <if test="patchMode != null">
        patch_mode = #{patchMode,jdbcType=INTEGER},
      </if>
      <if test="saleReturn != null">
        sale_return = #{saleReturn,jdbcType=INTEGER},
      </if>
      <if test="queryPayableAmount != null">
        query_payable_amount = #{queryPayableAmount,jdbcType=INTEGER},
      </if>
      <if test="modifyPriceAmount != null">
        modify_price_amount = #{modifyPriceAmount,jdbcType=INTEGER},
      </if>
      <if test="modifyLineDiscount != null">
        modify_line_discount = #{modifyLineDiscount,jdbcType=INTEGER},
      </if>
      <if test="wholeDiscount != null">
        whole_discount = #{wholeDiscount,jdbcType=INTEGER},
      </if>
      <if test="maling != null">
        maling = #{maling,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.retail.pos.entity.PosPayeeAuth">
    update saas_pos_payee_auth
    set pay_key_id = #{payKeyId,jdbcType=BIGINT},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      payee_id = #{payeeId,jdbcType=BIGINT},
      payee_code = #{payeeCode,jdbcType=VARCHAR},
      payee_name = #{payeeName,jdbcType=VARCHAR},
      billing_payment = #{billingPayment,jdbcType=INTEGER},
      payee_shift = #{payeeShift,jdbcType=INTEGER},
      report_query = #{reportQuery,jdbcType=INTEGER},
      advance_booking = #{advanceBooking,jdbcType=INTEGER},
      add_member = #{addMember,jdbcType=INTEGER},
      collection_practice = #{collectionPractice,jdbcType=INTEGER},
      operation_log = #{operationLog,jdbcType=INTEGER},
      system_set = #{systemSet,jdbcType=INTEGER},
      ch_medicine_mode = #{chMedicineMode,jdbcType=INTEGER},
      patch_mode = #{patchMode,jdbcType=INTEGER},
      sale_return = #{saleReturn,jdbcType=INTEGER},
      query_payable_amount = #{queryPayableAmount,jdbcType=INTEGER},
      modify_price_amount = #{modifyPriceAmount,jdbcType=INTEGER},
      modify_line_discount = #{modifyLineDiscount,jdbcType=INTEGER},
      whole_discount = #{wholeDiscount,jdbcType=INTEGER},
      maling = #{maling,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
	
  <!-- 按企业获取款员数据 -->
  <select id="findByEnterpriseId" parameterType="java.lang.Long" resultMap="BaseResultMapVO">
    SELECT 
	  b.id,
	  a.enterprise_id,
	  a.payee_id,
	  a.payee_code,
	  a.payee_name,
	  a.id AS pay_key_id,
	  b.billing_payment,
	  b.payee_shift,
	  b.report_query,
	  b.advance_booking,
	  b.add_member,
	  b.collection_practice,
	  b.operation_log,
	  b.system_set,
	  b.ch_medicine_mode,
	  b.patch_mode,
	  b.sale_return,
	  b.query_payable_amount,
	  b.modify_price_amount,
	  b.modify_line_discount,
	  b.whole_discount,
	  b.maling,
	  b.status
	FROM
	  `saas_pos_payee` a 
	  LEFT JOIN saas_pos_payee_auth b 
	  ON a.id = b.pay_key_id
      where a.enterprise_id = #{enterpriseId} and a.status=1 
      order by a.id desc
  </select>	
  
  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from saas_pos_payee_auth
    where payee_id = #{id,jdbcType=BIGINT}
  </delete>
  
</mapper>