<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.storage.chgoods.dao.GoodsClearShelfMapper">
    <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClearShelf">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="dtl_id" jdbcType="BIGINT" property="dtlId"/>
        <result column="clear_id" jdbcType="BIGINT" property="clearId"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="lot_id" jdbcType="BIGINT" property="lotId"/>
        <result column="lot_number" jdbcType="VARCHAR" property="lotNumber"/>
        <result column="product_date" jdbcType="TIMESTAMP" property="productDate"/>
        <result column="valid_date" jdbcType="TIMESTAMP" property="validDate"/>
        <result column="shelf_id" jdbcType="BIGINT" property="shelfId"/>
        <result column="shelf_name" jdbcType="VARCHAR" property="shelfName"/>
        <result column="shelf_status_desc" jdbcType="VARCHAR" property="shelfStatusDesc"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="line_num" jdbcType="INTEGER" property="lineNum"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creater_id" jdbcType="BIGINT" property="createrId"/>
        <result column="creater_code" jdbcType="VARCHAR" property="createrCode"/>
        <result column="creater_name" jdbcType="VARCHAR" property="createrName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifier_id" jdbcType="BIGINT" property="modifierId"/>
        <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode"/>
        <result column="modifier_name" jdbcType="VARCHAR" property="modifierName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_code" jdbcType="VARCHAR" property="goodsCode"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="tax_rate_id" jdbcType="BIGINT" property="taxRateId"/>
        <result column="tax_rate" jdbcType="DECIMAL" property="taxRate"/>
        <result column="notax_price" jdbcType="DECIMAL" property="notaxPrice"/>
        <result column="notax_amount" jdbcType="DECIMAL" property="notaxAmount"/>
        <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, enterprise_id, parent_id, dtl_id, clear_id, goods_id, lot_id, lot_number, product_date, 
    valid_date, shelf_id, shelf_name, shelf_status_desc, quantity, line_num, status, 
    remark, creater_id, creater_code, creater_name, create_time, modifier_id, modifier_code, 
    modifier_name, update_time, goods_name, goods_code, unit_price, amount, tax_rate_id, tax_rate, notax_price, notax_amount, tax_amount
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_goods_clear_shelf
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_goods_clear_shelf
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClearShelf" useGeneratedKeys="true" keyProperty="id">
    insert into saas_goods_clear_shelf (id, enterprise_id, parent_id, 
      dtl_id, clear_id, goods_id, 
      lot_id, lot_number, product_date, 
      valid_date, shelf_id, shelf_name, 
      shelf_status_desc, quantity, line_num, 
      status, remark, creater_id, 
      creater_code, creater_name, create_time, 
      modifier_id, modifier_code, modifier_name, 
      update_time, goods_name, goods_code, unit_price, amount, tax_rate_id, tax_rate, notax_price, notax_amount, tax_amount)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{dtlId,jdbcType=BIGINT}, #{clearId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{lotId,jdbcType=BIGINT}, #{lotNumber,jdbcType=VARCHAR}, #{productDate,jdbcType=TIMESTAMP}, 
      #{validDate,jdbcType=TIMESTAMP}, #{shelfId,jdbcType=BIGINT}, #{shelfName,jdbcType=VARCHAR}, 
      #{shelfStatusDesc,jdbcType=VARCHAR}, #{quantity,jdbcType=DECIMAL}, #{lineNum,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, 
      #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{goodsName,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR},
      #{unitPrice,jdbcType=DECIMAL},#{amount,jdbcType=DECIMAL},#{taxRateId,jdbcType=BIGINT},#{taxRate,jdbcType=DECIMAL}
      #{notaxPrice,jdbcType=DECIMAL},#{notaxAmount,jdbcType=DECIMAL},#{taxAmount,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective"
            parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClearShelf" useGeneratedKeys="true" keyProperty="id">
        insert into saas_goods_clear_shelf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="enterpriseId != null">
                enterprise_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="dtlId != null">
                dtl_id,
            </if>
            <if test="clearId != null">
                clear_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="lotId != null">
                lot_id,
            </if>
            <if test="lotNumber != null">
                lot_number,
            </if>
            <if test="productDate != null">
                product_date,
            </if>
            <if test="validDate != null">
                valid_date,
            </if>
            <if test="shelfId != null">
                shelf_id,
            </if>
            <if test="shelfName != null">
                shelf_name,
            </if>
            <if test="shelfStatusDesc != null">
                shelf_status_desc,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="lineNum != null">
                line_num,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createrId != null">
                creater_id,
            </if>
            <if test="createrCode != null">
                creater_code,
            </if>
            <if test="createrName != null">
                creater_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifierId != null">
                modifier_id,
            </if>
            <if test="modifierCode != null">
                modifier_code,
            </if>
            <if test="modifierName != null">
                modifier_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsCode != null">
                goods_code,
            </if>
            <if test="unitPrice != null">
                unit_price,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="taxRateId != null">
                tax_rate_id,
            </if>
            <if test="taxRate != null">
                tax_rate,
            </if>
            <if test="notaxPrice != null">
                notax_price,
            </if>
            <if test="notaxAmount != null">
                notax_amount,
            </if>
            <if test="taxAmount != null">
                tax_amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="enterpriseId != null">
                #{enterpriseId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="dtlId != null">
                #{dtlId,jdbcType=BIGINT},
            </if>
            <if test="clearId != null">
                #{clearId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="lotId != null">
                #{lotId,jdbcType=BIGINT},
            </if>
            <if test="lotNumber != null">
                #{lotNumber,jdbcType=VARCHAR},
            </if>
            <if test="productDate != null">
                #{productDate,jdbcType=TIMESTAMP},
            </if>
            <if test="validDate != null">
                #{validDate,jdbcType=TIMESTAMP},
            </if>
            <if test="shelfId != null">
                #{shelfId,jdbcType=BIGINT},
            </if>
            <if test="shelfName != null">
                #{shelfName,jdbcType=VARCHAR},
            </if>
            <if test="shelfStatusDesc != null">
                #{shelfStatusDesc,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=DECIMAL},
            </if>
            <if test="lineNum != null">
                #{lineNum,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createrId != null">
                #{createrId,jdbcType=BIGINT},
            </if>
            <if test="createrCode != null">
                #{createrCode,jdbcType=VARCHAR},
            </if>
            <if test="createrName != null">
                #{createrName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifierId != null">
                #{modifierId,jdbcType=BIGINT},
            </if>
            <if test="modifierCode != null">
                #{modifierCode,jdbcType=VARCHAR},
            </if>
            <if test="modifierName != null">
                #{modifierName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsCode != null">
                #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice != null">
                #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="taxRateId != null">
                #{taxRateId,jdbcType=BIGINT},
            </if>
            <if test="taxRate != null">
                #{taxRate,jdbcType=DECIMAL},
            </if>
            <if test="notaxPrice != null">
                #{notaxPrice,jdbcType=DECIMAL},
            </if>
            <if test="notaxAmount != null">
                #{notaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="taxAmount != null">
                #{taxAmount,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClearShelf">
        update saas_goods_clear_shelf
        <set>
            <if test="enterpriseId != null">
                enterprise_id = #{enterpriseId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="dtlId != null">
                dtl_id = #{dtlId,jdbcType=BIGINT},
            </if>
            <if test="clearId != null">
                clear_id = #{clearId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="lotId != null">
                lot_id = #{lotId,jdbcType=BIGINT},
            </if>
            <if test="lotNumber != null">
                lot_number = #{lotNumber,jdbcType=VARCHAR},
            </if>
            <if test="productDate != null">
                product_date = #{productDate,jdbcType=TIMESTAMP},
            </if>
            <if test="validDate != null">
                valid_date = #{validDate,jdbcType=TIMESTAMP},
            </if>
            <if test="shelfId != null">
                shelf_id = #{shelfId,jdbcType=BIGINT},
            </if>
            <if test="shelfName != null">
                shelf_name = #{shelfName,jdbcType=VARCHAR},
            </if>
            <if test="shelfStatusDesc != null">
                shelf_status_desc = #{shelfStatusDesc,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=DECIMAL},
            </if>
            <if test="lineNum != null">
                line_num = #{lineNum,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createrId != null">
                creater_id = #{createrId,jdbcType=BIGINT},
            </if>
            <if test="createrCode != null">
                creater_code = #{createrCode,jdbcType=VARCHAR},
            </if>
            <if test="createrName != null">
                creater_name = #{createrName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifierId != null">
                modifier_id = #{modifierId,jdbcType=BIGINT},
            </if>
            <if test="modifierCode != null">
                modifier_code = #{modifierCode,jdbcType=VARCHAR},
            </if>
            <if test="modifierName != null">
                modifier_name = #{modifierName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsCode != null">
                goods_code = #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="taxRateId != null">
                tax_rate_id = #{taxRateId,jdbcType=BIGINT},
            </if>
            <if test="taxRate != null">
                tax_rate = #{taxRate,jdbcType=DECIMAL},
            </if>
            <if test="notaxPrice != null">
                notax_price = #{notaxPrice,jdbcType=DECIMAL},
            </if>
            <if test="notaxAmount != null">
                notax_amount = #{notaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="taxAmount != null">
                tax_amount = #{taxAmount,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClearShelf">
    update saas_goods_clear_shelf
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      dtl_id = #{dtlId,jdbcType=BIGINT},
      clear_id = #{clearId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      lot_id = #{lotId,jdbcType=BIGINT},
      lot_number = #{lotNumber,jdbcType=VARCHAR},
      product_date = #{productDate,jdbcType=TIMESTAMP},
      valid_date = #{validDate,jdbcType=TIMESTAMP},
      shelf_id = #{shelfId,jdbcType=BIGINT},
      shelf_name = #{shelfName,jdbcType=VARCHAR},
      shelf_status_desc = #{shelfStatusDesc,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=DECIMAL},
      line_num = #{lineNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      tax_rate_id = #{taxRateId,jdbcType=BIGINT},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      notax_price = #{notaxPrice,jdbcType=DECIMAL},
      notax_amount = #{notaxAmount,jdbcType=DECIMAL},
      tax_amount = #{taxAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByDtlShelfListOneParams"
            resultType="com.rograndec.feijiayun.chain.business.storage.chgoods.vo.ChGoodsClearOrderDtlShelfListOneVO">
      SELECT
        c.id,
        c.dtl_id AS dtlId,
        c.lot_id AS lotId,
        c.lot_number AS lotNumber,
		date_format(c.product_date, '%Y-%m-%d') AS productDate,
		date_format(c.valid_date, '%Y-%m-%d') AS validDate,
        c.shelf_name AS shelfName,
        c.quantity,
        c.shelf_status_desc AS shelfStatusDesc
        from saas_goods_clear_shelf c
        where c.enterprise_id = #{enterpriseId}
        AND c.clear_id = #{id}
        AND c.goods_id = #{goodsId}
  </select>
    <select id="selectByDtlShelfListParams"
            resultType="com.rograndec.feijiayun.chain.business.storage.chgoods.vo.ChGoodsClearOrderDtlShelfListVO">
        SELECT
                d.id,
                d.goods_id AS goodsId,
				d.goods_code AS goodsCode,
				d.goods_generic_name AS goodsGenericName,
				d.dosage_name AS dosageName,
				d.goods_specification AS goodsSpecification,
				d.unit_name AS unitName,
				d.manufacturer AS manufacturer,
				d.quantity,
				d.goods_place AS place
        from saas_goods_clear_detail d
        where d.enterprise_id = #{enterpriseId}
        AND d.clear_id = #{id}
    </select>

    <update id="updateStockByGoodsIdAndShelfIdAndLotId">
        update
        saas_stock
        SET
        usable_quantity =  #{subUsableQty},
        quantity = #{subQty}
        where
         enterprise_id = #{enterpriseId}
        AND goods_id = #{goodsId}
        AND shelf_id = #{srcShelfId}
        AND lot_id = #{lotId}
    </update>
    <select id="getClearShelfRecord"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from saas_goods_clear_shelf WHERE clear_id = #{clearId}
    </select>
    <select id="selectBySum"  resultType="com.rograndec.feijiayun.chain.business.storage.chgoods.vo.GoodsClearShelfSumVO">
    SELECT
    SUM(amount) AS amountTotal,
	SUM(notax_amount) AS notaxAmountTotal,
	SUM(tax_amount) AS taxAmountTotal
    FROM saas_goods_clear_shelf
    WHERE enterprise_id = #{enterpriseId}
    AND clear_id = #{id}
    </select>
</mapper>