<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.storage.chgoods.dao.GoodsClearMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClear">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="clear_date" jdbcType="TIMESTAMP" property="clearDate" />
    <result column="clear_man_id" jdbcType="BIGINT" property="clearManId" />
    <result column="clear_man_code" jdbcType="VARCHAR" property="clearManCode" />
    <result column="clear_man_name" jdbcType="VARCHAR" property="clearManName" />
    <result column="audit_man_id" jdbcType="BIGINT" property="auditManId" />
    <result column="audit_man_code" jdbcType="VARCHAR" property="auditManCode" />
    <result column="audit_man_name" jdbcType="VARCHAR" property="auditManName" />
    <result column="quantity_total" jdbcType="DECIMAL" property="quantityTotal" />
    <result column="varieties_quantity" jdbcType="INTEGER" property="varietiesQuantity" />
    <result column="flow_code" jdbcType="VARCHAR" property="flowCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="BIGINT" property="createrId" />
    <result column="creater_code" jdbcType="VARCHAR" property="createrCode" />
    <result column="creater_name" jdbcType="VARCHAR" property="createrName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="amount_total" jdbcType="DECIMAL" property="amountTotal" />
    <result column="notax_amount_total" jdbcType="DECIMAL" property="notaxAmountTotal" />
    <result column="tax_amount_total" jdbcType="DECIMAL" property="taxAmountTotal" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, enterprise_id, parent_id, order_type, code, clear_date, clear_man_id, clear_man_code, 
    clear_man_name, audit_man_id, audit_man_code, audit_man_name, quantity_total, varieties_quantity, 
    flow_code, status, remark, creater_id, creater_code, creater_name, create_time, modifier_id, 
    modifier_code, modifier_name, update_time, amount_total, notax_amount_total, tax_amount_total
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_goods_clear
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_goods_clear
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClear" useGeneratedKeys="true" keyProperty="id">
    insert into saas_goods_clear (Id, enterprise_id, parent_id, 
      order_type, code, clear_date, 
      clear_man_id, clear_man_code, clear_man_name, 
      audit_man_id, audit_man_code, audit_man_name, 
      quantity_total, varieties_quantity, flow_code, 
      status, remark, creater_id, 
      creater_code, creater_name, create_time, 
      modifier_id, modifier_code, modifier_name, 
      update_time, amount_total, notax_amount_total, tax_amount_total)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{orderType,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{clearDate,jdbcType=TIMESTAMP}, 
      #{clearManId,jdbcType=BIGINT}, #{clearManCode,jdbcType=VARCHAR}, #{clearManName,jdbcType=VARCHAR}, 
      #{auditManId,jdbcType=BIGINT}, #{auditManCode,jdbcType=VARCHAR}, #{auditManName,jdbcType=VARCHAR}, 
      #{quantityTotal,jdbcType=DECIMAL}, #{varietiesQuantity,jdbcType=INTEGER}, #{flowCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=BIGINT}, 
      #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, #{modifierName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP},  #{amountTotal,jdbcType=DECIMAL},  #{notaxAmountTotal,jdbcType=DECIMAL},  #{taxAmountTotal,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClear" useGeneratedKeys="true" keyProperty="id">
    insert into saas_goods_clear
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="clearDate != null">
        clear_date,
      </if>
      <if test="clearManId != null">
        clear_man_id,
      </if>
      <if test="clearManCode != null">
        clear_man_code,
      </if>
      <if test="clearManName != null">
        clear_man_name,
      </if>
      <if test="auditManId != null">
        audit_man_id,
      </if>
      <if test="auditManCode != null">
        audit_man_code,
      </if>
      <if test="auditManName != null">
        audit_man_name,
      </if>
      <if test="quantityTotal != null">
        quantity_total,
      </if>
      <if test="varietiesQuantity != null">
        varieties_quantity,
      </if>
      <if test="flowCode != null">
        flow_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="createrCode != null">
        creater_code,
      </if>
      <if test="createrName != null">
        creater_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="modifierCode != null">
        modifier_code,
      </if>
      <if test="modifierName != null">
        modifier_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="amountTotal != null">
        amount_total,
      </if>
      <if test="notaxAmountTotal != null">
        notax_amount_total,
      </if>
      <if test="taxAmountTotal != null">
        tax_amount_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="clearDate != null">
        #{clearDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clearManId != null">
        #{clearManId,jdbcType=BIGINT},
      </if>
      <if test="clearManCode != null">
        #{clearManCode,jdbcType=VARCHAR},
      </if>
      <if test="clearManName != null">
        #{clearManName,jdbcType=VARCHAR},
      </if>
      <if test="auditManId != null">
        #{auditManId,jdbcType=BIGINT},
      </if>
      <if test="auditManCode != null">
        #{auditManCode,jdbcType=VARCHAR},
      </if>
      <if test="auditManName != null">
        #{auditManName,jdbcType=VARCHAR},
      </if>
      <if test="quantityTotal != null">
        #{quantityTotal,jdbcType=DECIMAL},
      </if>
      <if test="varietiesQuantity != null">
        #{varietiesQuantity,jdbcType=INTEGER},
      </if>
      <if test="flowCode != null">
        #{flowCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountTotal != null">
        #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="notaxAmountTotal != null">
        #{notaxAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="taxAmountTotal != null">
        #{taxAmountTotal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClear">
    update saas_goods_clear
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="clearDate != null">
        clear_date = #{clearDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clearManId != null">
        clear_man_id = #{clearManId,jdbcType=BIGINT},
      </if>
      <if test="clearManCode != null">
        clear_man_code = #{clearManCode,jdbcType=VARCHAR},
      </if>
      <if test="clearManName != null">
        clear_man_name = #{clearManName,jdbcType=VARCHAR},
      </if>
      <if test="auditManId != null">
        audit_man_id = #{auditManId,jdbcType=BIGINT},
      </if>
      <if test="auditManCode != null">
        audit_man_code = #{auditManCode,jdbcType=VARCHAR},
      </if>
      <if test="auditManName != null">
        audit_man_name = #{auditManName,jdbcType=VARCHAR},
      </if>
      <if test="quantityTotal != null">
        quantity_total = #{quantityTotal,jdbcType=DECIMAL},
      </if>
      <if test="varietiesQuantity != null">
        varieties_quantity = #{varietiesQuantity,jdbcType=INTEGER},
      </if>
      <if test="flowCode != null">
        flow_code = #{flowCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=BIGINT},
      </if>
      <if test="createrCode != null">
        creater_code = #{createrCode,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="modifierCode != null">
        modifier_code = #{modifierCode,jdbcType=VARCHAR},
      </if>
      <if test="modifierName != null">
        modifier_name = #{modifierName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountTotal != null">
        amount_total = #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="notaxAmountTotal != null">
        notax_amount_total = #{notaxAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="taxAmountTotal != null">
        tax_amount_total = #{taxAmountTotal,jdbcType=DECIMAL},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsClear">
    update saas_goods_clear
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      clear_date = #{clearDate,jdbcType=TIMESTAMP},
      clear_man_id = #{clearManId,jdbcType=BIGINT},
      clear_man_code = #{clearManCode,jdbcType=VARCHAR},
      clear_man_name = #{clearManName,jdbcType=VARCHAR},
      audit_man_id = #{auditManId,jdbcType=BIGINT},
      audit_man_code = #{auditManCode,jdbcType=VARCHAR},
      audit_man_name = #{auditManName,jdbcType=VARCHAR},
      quantity_total = #{quantityTotal,jdbcType=DECIMAL},
      varieties_quantity = #{varietiesQuantity,jdbcType=INTEGER},
      flow_code = #{flowCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      amount_total = #{amountTotal,jdbcType=DECIMAL},
      notax_amount_total = #{notaxAmountTotal,jdbcType=DECIMAL},
      tax_amount_total = #{taxAmountTotal,jdbcType=DECIMAL}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryCountByParams" resultType="java.lang.Long">
    select
    count(1)
    from saas_goods_clear
    where
    enterprise_id = #{enterpriseId}
    <if test="startTimes != null and endTimes != null">
      and clear_date between #{startTimes} and #{endTimes}
    </if>
    <if test="code != null and code != ''">
      AND ( code = #{code})
    </if>
    <if test="clearManName != null and clearManName != ''">
      AND INSTR( clear_man_name , #{clearManName})
    </if>
    <if test="auditManName != null and auditManName != ''">
      AND INSTR( audit_man_name , #{auditManName})
    </if>
  </select>
  <select id="selectByParams"
          resultType="com.rograndec.feijiayun.chain.business.storage.chgoods.vo.ChGoodsClearOrderListVO">
    select
    id,
    code,
    date_format(clear_date, '%Y-%m-%d') AS clearDate,
    clear_man_name AS clearManName,
    audit_man_name AS auditManName,
    remark
    from saas_goods_clear
    where
    enterprise_id = #{enterpriseId}
    <if test="startTimes != null and endTimes != null">
      and clear_date between #{startTimes} and #{endTimes}
    </if>
    <if test="code != null and code != ''">
      AND ( code = #{code})
    </if>
    <if test="clearManName != null and clearManName != ''">
      AND INSTR( clear_man_name ,#{clearManName})
    </if>
    <if test="auditManName != null and auditManName != ''">
      AND INSTR( audit_man_name , #{auditManName})
    </if>
    <if test="orderName != null and orderType!=null">
      ORDER BY ${orderName} ${orderType}
    </if>
    limit #{start},#{pageSize}
  </select>
  <select id="selectByDtlParams"
          resultType="com.rograndec.feijiayun.chain.business.storage.chgoods.vo.ChGoodsClearOrderDtlListVO">
    select
    id,
    code,
    date_format(clear_date, '%Y-%m-%d') AS clearDate,
    clear_man_name AS clearManName,
    audit_man_name AS auditManName,
    remark,
    flow_code AS flowCode
    from saas_goods_clear
    where
    enterprise_id = #{enterpriseId}
    AND id = #{id}
  </select>
  <select id="selectFatherGoodClearReport"
          resultType="com.rograndec.feijiayun.chain.business.report.quality.storage.vo.GoodClearReportPageVO">
    /**
    搜寻中药清斗报表（总部）
    */
    SELECT
    s.id as id,
    u.code as enterpriseCode,
    u.name as enterpriseName,
    c.clear_date as clearDate,
    c.code as code,
    c.clear_man_name as clearManName,
    c.audit_man_name as auditManName,
    c.flow_code as flowCode,
    d.goods_id as goodsId,
    d.goods_code as goodsCode,
    d.barcode as barcode,
    d.goods_name as goodsName,
    d.goods_generic_name as goodsGenericName,
    d.dosage_id as dosageId,
    d.dosage_name as dosageName,
    d.goods_specification as goodsSpecification,
    d.unit_id as unitId,
    d.unit_name as unitName,
    d.manufacturer_id as manufacturerId,
    d.manufacturer as manufacturer,
    d.goods_place as goodsPlace,
    d.approval_number as approvalNumber,
    s.lot_number as lotNum,
    s.product_date as productDate,
    s.valid_date as validDate,
    s.shelf_id as shelfId,
    s.shelf_name as shelfName,
    s.shelf_status_desc as shelfStatusDesc,
    s.quantity as quantity,
    s.remark as remark,
    c.status as status,
    g.business_variety as businessVariety,
    g.category_id as categoryId,
    (
    SELECT
    cate.name
    FROM
    saas_goods_category cate
    WHERE
    cate.id = g.category_id
    ) AS categoryName,
    g.goods_attribute as goodsAttribute,
    g.prescription_drug as prescriptionDrug,
    g.otc_type as otcType,
    g.cosmetics as cosmetics,
    g.domestic_import as domesticImport,
    g.management_scope_id as managementScopeId,
    g.management_scope_name as managementScopeName,
    g.special_drug as specialDrug,
    g.spirit_drug_type as spiritDrugType,
    g.formulation_type as formulationType,
    g.in_charge_drug as inChargeDrug,
    g.limit_quantity as limitQuantity,
    g.storage_temp as storageTemp,
    g.storage_condition_name as storageConditionName,
    g.quality_period as qualityPeriod,
    g.quality_period_unit as qualityPeriodUnit
    FROM saas_goods_clear_shelf s
    LEFT JOIN saas_goods_clear_detail d
    ON s.dtl_id = d.id
    LEFT JOIN saas_goods_clear c
    ON s.clear_id = c.id
    LEFT JOIN saas_enterprise u
    ON u.id = s.enterprise_id
    LEFT JOIN saas_goods g
    ON g.id = s.goods_id
    WHERE (u.id = #{enterpriseId} or u.parent_id = #{enterpriseId})
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      AND (
      INSTR(d.goods_code ,#{param})
      OR INSTR(d.barcode ,#{param})
      OR INSTR(d.goods_name ,#{param})
      OR INSTR(d.goods_generic_name ,#{param})
      OR INSTR(d.approval_number ,#{param})
      )
    </if>
    <if test="chainType != null">
      and u.chain_type = #{chainType}
    </if>
    <if test="enterpriseCode != null">
      and INSTR(u.code ,#{enterpriseCode})
    </if>
    <if test="enterpriseName != null">
      and INSTR(u.name , #{enterpriseName})
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and c.clear_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and c.clear_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(c.code , #{code})
    </if>
    <if test="clearManName != null">
      and INSTR(c.clear_man_name , #{clearManName})
    </if>
    <if test="auditManName != null">
      and INSTR(c.audit_man_name , #{auditManName})
    </if>
    <if test="flowCode != null">
      and INSTR(c.flow_code , #{flowCode})
    </if>
    <if test="status != null">
      and c.status = #{status}
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name , #{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark , #{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand , #{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by c.${order} ${sort}
      </when>
      <otherwise>
        order by c.id desc
      </otherwise>
    </choose>
    <if test="start != null and pageSize != null">
      limit #{start},#{pageSize}
    </if>
  </select>
  <select id="selectSonGoodClearReport"
          resultType="com.rograndec.feijiayun.chain.business.report.quality.storage.vo.GoodClearReportPageVO">
    /**
    搜寻中药清斗报表（分部）
    */
    SELECT
    s.id as id,
    c.clear_date as clearDate,
    c.code as code,
    c.clear_man_name as clearManName,
    c.audit_man_name as auditManName,
    c.flow_code as flowCode,
    d.goods_id as goodsId,
    d.goods_code as goodsCode,
    d.barcode as barcode,
    d.goods_name as goodsName,
    d.goods_generic_name as goodsGenericName,
    d.dosage_id as dosageId,
    d.dosage_name as dosageName,
    d.goods_specification as goodsSpecification,
    d.unit_id as unitId,
    d.unit_name as unitName,
    d.manufacturer_id as manufacturerId,
    d.manufacturer as manufacturer,
    d.goods_place as goodsPlace,
    d.approval_number as approvalNumber,
    s.lot_number as lotNum,
    s.product_date as productDate,
    s.valid_date as validDate,
    s.shelf_id as shelfId,
    s.shelf_name as shelfName,
    s.shelf_status_desc as shelfStatusDesc,
    s.quantity as quantity,
    s.remark as remark,
    c.status as status,
    g.business_variety as businessVariety,
    g.category_id as categoryId,
    (
    SELECT
    cate.name
    FROM
    saas_goods_category cate
    WHERE
    cate.id = g.category_id
    ) AS categoryName,
    g.goods_attribute as goodsAttribute,
    g.prescription_drug as prescriptionDrug,
    g.otc_type as otcType,
    g.cosmetics as cosmetics,
    g.domestic_import as domesticImport,
    g.management_scope_id as managementScopeId,
    g.management_scope_name as managementScopeName,
    g.special_drug as specialDrug,
    g.spirit_drug_type as spiritDrugType,
    g.formulation_type as formulationType,
    g.in_charge_drug as inChargeDrug,
    g.limit_quantity as limitQuantity,
    g.storage_temp as storageTemp,
    g.storage_condition_name as storageConditionName,
    g.quality_period as qualityPeriod,
    g.quality_period_unit as qualityPeriodUnit
    FROM saas_goods_clear_shelf s
    LEFT JOIN saas_goods_clear_detail d
    ON s.dtl_id = d.id
    LEFT JOIN saas_goods_clear c
    ON s.clear_id = c.id
    LEFT JOIN saas_goods g
    ON g.id = s.goods_id
    WHERE s.enterprise_id = #{enterpriseId}
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      AND (
      INSTR(d.goods_code ,#{param})
      OR INSTR(d.barcode ,#{param})
      OR INSTR(d.goods_name ,#{param})
      OR INSTR(d.goods_generic_name ,#{param})
      OR INSTR(d.approval_number ,#{param})
      )
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and c.clear_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and c.clear_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(c.code , #{code})
    </if>
    <if test="clearManName != null">
      and INSTR(c.clear_man_name ,#{clearManName})
    </if>
    <if test="auditManName != null">
      and INSTR(c.audit_man_name , #{auditManName})
    </if>
    <if test="flowCode != null">
      and INSTR(c.flow_code , #{flowCode})
    </if>
    <if test="status != null">
      and c.status = #{status}
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name , #{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark , #{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand , #{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by c.${order} ${sort}
      </when>
      <otherwise>
        order by c.id desc
      </otherwise>
    </choose>
    <if test="start != null and pageSize != null">
      limit #{start},#{pageSize}
    </if>
  </select>
  <select id="selectFatherQuantity" resultType="java.math.BigDecimal">
    SELECT
    sum(s.quantity)
    FROM saas_goods_clear_shelf s
    LEFT JOIN saas_goods_clear_detail d
    ON s.dtl_id = d.id
    LEFT JOIN saas_goods_clear c
    ON s.clear_id = c.id
    LEFT JOIN saas_enterprise u
    ON u.id = s.enterprise_id
    LEFT JOIN saas_goods g
    ON g.id = s.goods_id
    WHERE (u.id = #{enterpriseId} or u.parent_id = #{enterpriseId})
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      AND (
      INSTR(d.goods_code ,#{param})
      OR INSTR(d.barcode ,#{param})
      OR INSTR(d.goods_name ,#{param})
      OR INSTR(d.goods_generic_name ,#{param})
      OR INSTR(d.approval_number ,#{param})
      )
    </if>
    <if test="chainType != null">
      and u.chain_type = #{chainType}
    </if>
    <if test="enterpriseCode != null">
      and INSTR(u.code , #{enterpriseCode})
    </if>
    <if test="enterpriseName != null">
      and INSTR(u.name , #{enterpriseName})
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and c.clear_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and c.clear_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(c.code , #{code})
    </if>
    <if test="clearManName != null">
      and INSTR(c.clear_man_name , #{clearManName})
    </if>
    <if test="auditManName != null">
      and INSTR(c.audit_man_name , #{auditManName})
    </if>
    <if test="flowCode != null">
      and INSTR(c.flow_code , #{flowCode})
    </if>
    <if test="status != null">
      and c.status = #{status}
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name , #{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark , #{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand , #{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by c.${order} ${sort}
      </when>
      <otherwise>
        order by c.id desc
      </otherwise>
    </choose>

  </select>
  <select id="selectSonQuantity" resultType="java.math.BigDecimal">
    SELECT
    sum(s.quantity)
    FROM saas_goods_clear_shelf s
    LEFT JOIN saas_goods_clear_detail d
    ON s.dtl_id = d.id
    LEFT JOIN saas_goods_clear c
    ON s.clear_id = c.id
    LEFT JOIN saas_goods g
    ON g.id = s.goods_id
    WHERE s.enterprise_id = #{enterpriseId}
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      AND (
      INSTR(d.goods_code ,#{param})
      OR INSTR(d.barcode ,#{param})
      OR INSTR(d.goods_name ,#{param})
      OR INSTR(d.goods_generic_name ,#{param})
      OR INSTR(d.approval_number ,#{param})
      )
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and c.clear_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and c.clear_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(c.code , #{code})
    </if>
    <if test="clearManName != null">
      and INSTR(c.clear_man_name , #{clearManName})
    </if>
    <if test="auditManName != null">
      and INSTR(c.audit_man_name , #{auditManName})
    </if>
    <if test="flowCode != null">
      and INSTR(c.flow_code , #{flowCode})
    </if>
    <if test="status != null">
      and c.status = #{status}
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name , #{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark , #{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand , #{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by c.${order} ${sort}
      </when>
      <otherwise>
        order by c.id desc
      </otherwise>
    </choose>

  </select>
  <select id="selectFatherStastic" resultType="java.lang.Integer">
    SELECT
    COUNT(*)
    FROM saas_goods_clear_shelf s
    LEFT JOIN saas_goods_clear_detail d
    ON s.dtl_id = d.id
    LEFT JOIN saas_goods_clear c
    ON s.clear_id = c.id
    LEFT JOIN saas_enterprise u
    ON u.id = s.enterprise_id
    LEFT JOIN saas_goods g
    ON g.id = s.goods_id
    WHERE (u.id = #{enterpriseId} or u.parent_id = #{enterpriseId})
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      AND (
      INSTR(d.goods_code ,#{param})
      OR INSTR(d.barcode ,#{param})
      OR INSTR(d.goods_name ,#{param})
      OR INSTR(d.goods_generic_name ,#{param})
      OR INSTR(d.approval_number ,#{param})
      )
    </if>
    <if test="chainType != null">
      and u.chain_type = #{chainType}
    </if>
    <if test="enterpriseCode != null">
      and INSTR(u.code ,#{enterpriseCode})
    </if>
    <if test="enterpriseName != null">
      and INSTR(u.name , #{enterpriseName})
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and c.clear_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and c.clear_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(c.code , #{code})
    </if>
    <if test="clearManName != null">
      and INSTR(c.clear_man_name , #{clearManName})
    </if>
    <if test="auditManName != null">
      and INSTR(c.audit_man_name , #{auditManName})
    </if>
    <if test="flowCode != null">
      and INSTR(c.flow_code , #{flowCode})
    </if>
    <if test="status != null">
      and c.status = #{status}
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name , #{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark , #{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand , #{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by c.${order} ${sort}
      </when>
      <otherwise>
        order by c.id desc
      </otherwise>
    </choose>
  </select>
  <select id="selectSonStastic" resultType="java.lang.Integer">
    SELECT
    COUNT(*)
    FROM saas_goods_clear_shelf s
    LEFT JOIN saas_goods_clear_detail d
    ON s.dtl_id = d.id
    LEFT JOIN saas_goods_clear c
    ON s.clear_id = c.id
    LEFT JOIN saas_goods g
    ON g.id = s.goods_id
    WHERE s.enterprise_id = #{enterpriseId}
    <if test="businessVariety != null">
      and g.business_variety = #{businessVariety}
    </if>
    <if test="param != null">
      AND (
      INSTR(d.goods_code ,#{param})
      OR INSTR(d.barcode ,#{param})
      OR INSTR(d.goods_name ,#{param})
      OR INSTR(d.goods_generic_name ,#{param})
      OR INSTR(d.approval_number ,#{param})
      )
    </if>
    /**
    起始时间----终止时间
    */
    <if test="startTime != null">
      and c.clear_date &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and c.clear_date &lt;= #{endTime}
    </if>
    <if test="code != null">
      and INSTR(c.code , #{code})
    </if>
    <if test="clearManName != null">
      and INSTR(c.clear_man_name ,#{clearManName})
    </if>
    <if test="auditManName != null">
      and INSTR(c.audit_man_name , #{auditManName})
    </if>
    <if test="flowCode != null">
      and INSTR(c.flow_code , #{flowCode})
    </if>
    <if test="status != null">
      and c.status = #{status}
    </if>
    <if test="categoryId != null">
      and g.category_id = #{categoryId}
    </if>
    <if test="domesticImport != null">
      and g.domestic_import = #{domesticImport}
    </if>
    <if test="storageTemp != null">
      and g.storage_temp = #{storageTemp}
    </if>
    <if test="storageConditionName != null">
      and INSTR(g.storage_condition_name , #{storageConditionName})
    </if>
    <if test="registeredTrademark != null">
      and INSTR(g.registered_trademark , #{registeredTrademark})
    </if>
    <if test="brand != null">
      and INSTR(g.brand , #{brand})
    </if>
    <if test="goodsAttribute != null">
      and g.goods_attribute = #{goodsAttribute}
    </if>
    <if test="prescriptionDrug != null">
      and g.prescription_drug = #{prescriptionDrug}
    </if>
    <if test="otcType != null">
      and g.otc_type = #{otcType}
    </if>
    <if test="managementScopeId != null">
      and g.management_scope_id = #{managementScopeId}
    </if>
    <if test="specialDrug != null">
      and g.special_drug = #{specialDrug}
    </if>
    <if test="inChargeDrug != null">
      and g.in_charge_drug = #{inChargeDrug}
    </if>
    <if test="spiritDrugType != null">
      and g.spirit_drug_type = #{spiritDrugType}
    </if>
    <if test="formulationType != null">
      and g.formulation_type = #{formulationType}
    </if>
    <choose>
      <when test="order != null and sort != null">
        order by c.${order} ${sort}
      </when>
      <otherwise>
        order by c.id desc
      </otherwise>
    </choose>
  </select>

</mapper>