<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.storage.chgoods.dao.GoodsLoadDetailMapper">
    <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsLoadDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="load_id" jdbcType="BIGINT" property="loadId"/>
        <result column="order_type" jdbcType="INTEGER" property="orderType"/>
        <result column="load_code" jdbcType="VARCHAR" property="loadCode"/>
        <result column="load_date" jdbcType="TIMESTAMP" property="loadDate"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="goods_code" jdbcType="VARCHAR" property="goodsCode"/>
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_generic_name" jdbcType="VARCHAR" property="goodsGenericName"/>
        <result column="dosage_id" jdbcType="BIGINT" property="dosageId"/>
        <result column="dosage_name" jdbcType="VARCHAR" property="dosageName"/>
        <result column="unit_id" jdbcType="BIGINT" property="unitId"/>
        <result column="unit_name" jdbcType="VARCHAR" property="unitName"/>
        <result column="goods_specification" jdbcType="VARCHAR" property="goodsSpecification"/>
        <result column="manufacturer_id" jdbcType="BIGINT" property="manufacturerId"/>
        <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer"/>
        <result column="goods_place" jdbcType="VARCHAR" property="goodsPlace"/>
        <result column="approval_number" jdbcType="VARCHAR" property="approvalNumber"/>
        <result column="lot_id" jdbcType="BIGINT" property="lotId"/>
        <result column="lot_number" jdbcType="VARCHAR" property="lotNumber"/>
        <result column="product_date" jdbcType="TIMESTAMP" property="productDate"/>
        <result column="valid_date" jdbcType="TIMESTAMP" property="validDate"/>
        <result column="src_shelf_id" jdbcType="BIGINT" property="srcShelfId"/>
        <result column="src_shelf_name" jdbcType="VARCHAR" property="srcShelfName"/>
        <result column="target_shelf_id" jdbcType="BIGINT" property="targetShelfId"/>
        <result column="target_shelf_name" jdbcType="VARCHAR" property="targetShelfName"/>
        <result column="quantity" jdbcType="DECIMAL" property="quantity"/>
        <result column="line_num" jdbcType="INTEGER" property="lineNum"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creater_id" jdbcType="BIGINT" property="createrId"/>
        <result column="creater_code" jdbcType="VARCHAR" property="createrCode"/>
        <result column="creater_name" jdbcType="VARCHAR" property="createrName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifier_id" jdbcType="BIGINT" property="modifierId"/>
        <result column="modifier_code" jdbcType="VARCHAR" property="modifierCode"/>
        <result column="modifier_name" jdbcType="VARCHAR" property="modifierName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="src_shelf_status_desc" jdbcType="VARCHAR" property="srcShelfStatusDesc"/>
        <result column="target_shelf_status_desc" jdbcType="VARCHAR" property="targetShelfStatusDesc"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, enterprise_id, parent_id, load_id, order_type, load_code, load_date, goods_id, 
    goods_code, barcode, goods_name, goods_generic_name, dosage_id, dosage_name, unit_id, 
    unit_name, goods_specification, manufacturer_id, manufacturer, goods_place, approval_number, 
    lot_id, lot_number, product_date, valid_date, src_shelf_id, src_shelf_name, target_shelf_id, 
    target_shelf_name, quantity, line_num, status, remark, creater_id, creater_code, 
    creater_name, create_time, modifier_id, modifier_code, modifier_name, update_time, src_shelf_status_desc, target_shelf_status_desc
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_goods_load_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from saas_goods_load_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsLoadDetail" useGeneratedKeys="true" keyProperty="id">
    insert into saas_goods_load_detail (id, enterprise_id, parent_id, 
      load_id, order_type, load_code, 
      load_date, goods_id, goods_code, 
      barcode, goods_name, goods_generic_name, 
      dosage_id, dosage_name, unit_id, 
      unit_name, goods_specification, manufacturer_id, 
      manufacturer, goods_place, approval_number, 
      lot_id, lot_number, product_date, 
      valid_date, src_shelf_id, src_shelf_name, 
      target_shelf_id, target_shelf_name, quantity, 
      line_num, status, remark, 
      creater_id, creater_code, creater_name, 
      create_time, modifier_id, modifier_code, 
      modifier_name, update_time, src_shelf_status_desc, target_shelf_status_desc)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{loadId,jdbcType=BIGINT}, #{orderType,jdbcType=INTEGER}, #{loadCode,jdbcType=VARCHAR}, 
      #{loadDate,jdbcType=TIMESTAMP}, #{goodsId,jdbcType=BIGINT}, #{goodsCode,jdbcType=VARCHAR}, 
      #{barcode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsGenericName,jdbcType=VARCHAR}, 
      #{dosageId,jdbcType=BIGINT}, #{dosageName,jdbcType=VARCHAR}, #{unitId,jdbcType=BIGINT}, 
      #{unitName,jdbcType=VARCHAR}, #{goodsSpecification,jdbcType=VARCHAR}, #{manufacturerId,jdbcType=BIGINT}, 
      #{manufacturer,jdbcType=VARCHAR}, #{goodsPlace,jdbcType=VARCHAR}, #{approvalNumber,jdbcType=VARCHAR}, 
      #{lotId,jdbcType=BIGINT}, #{lotNumber,jdbcType=VARCHAR}, #{productDate,jdbcType=TIMESTAMP}, 
      #{validDate,jdbcType=TIMESTAMP}, #{srcShelfId,jdbcType=BIGINT}, #{srcShelfName,jdbcType=VARCHAR}, 
      #{targetShelfId,jdbcType=BIGINT}, #{targetShelfName,jdbcType=VARCHAR}, #{quantity,jdbcType=DECIMAL}, 
      #{lineNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=BIGINT}, #{createrCode,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=BIGINT}, #{modifierCode,jdbcType=VARCHAR}, 
      #{modifierName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{srcShelfStatusDesc,jdbcType=VARCHAR}, #{targetShelfStatusDesc,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective"
            parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsLoadDetail" useGeneratedKeys="true" keyProperty="id">
        insert into saas_goods_load_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="enterpriseId != null">
                enterprise_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="loadId != null">
                load_id,
            </if>
            <if test="orderType != null">
                order_type,
            </if>
            <if test="loadCode != null">
                load_code,
            </if>
            <if test="loadDate != null">
                load_date,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsCode != null">
                goods_code,
            </if>
            <if test="barcode != null">
                barcode,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsGenericName != null">
                goods_generic_name,
            </if>
            <if test="dosageId != null">
                dosage_id,
            </if>
            <if test="dosageName != null">
                dosage_name,
            </if>
            <if test="unitId != null">
                unit_id,
            </if>
            <if test="unitName != null">
                unit_name,
            </if>
            <if test="goodsSpecification != null">
                goods_specification,
            </if>
            <if test="manufacturerId != null">
                manufacturer_id,
            </if>
            <if test="manufacturer != null">
                manufacturer,
            </if>
            <if test="goodsPlace != null">
                goods_place,
            </if>
            <if test="approvalNumber != null">
                approval_number,
            </if>
            <if test="lotId != null">
                lot_id,
            </if>
            <if test="lotNumber != null">
                lot_number,
            </if>
            <if test="productDate != null">
                product_date,
            </if>
            <if test="validDate != null">
                valid_date,
            </if>
            <if test="srcShelfId != null">
                src_shelf_id,
            </if>
            <if test="srcShelfName != null">
                src_shelf_name,
            </if>
            <if test="targetShelfId != null">
                target_shelf_id,
            </if>
            <if test="targetShelfName != null">
                target_shelf_name,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="lineNum != null">
                line_num,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createrId != null">
                creater_id,
            </if>
            <if test="createrCode != null">
                creater_code,
            </if>
            <if test="createrName != null">
                creater_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifierId != null">
                modifier_id,
            </if>
            <if test="modifierCode != null">
                modifier_code,
            </if>
            <if test="modifierName != null">
                modifier_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="srcShelfStatusDesc != null">
                src_shelf_status_desc,
            </if>
            <if test="targetShelfStatusDesc != null">
                target_shelf_status_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="enterpriseId != null">
                #{enterpriseId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="loadId != null">
                #{loadId,jdbcType=BIGINT},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=INTEGER},
            </if>
            <if test="loadCode != null">
                #{loadCode,jdbcType=VARCHAR},
            </if>
            <if test="loadDate != null">
                #{loadDate,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="goodsCode != null">
                #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="barcode != null">
                #{barcode,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsGenericName != null">
                #{goodsGenericName,jdbcType=VARCHAR},
            </if>
            <if test="dosageId != null">
                #{dosageId,jdbcType=BIGINT},
            </if>
            <if test="dosageName != null">
                #{dosageName,jdbcType=VARCHAR},
            </if>
            <if test="unitId != null">
                #{unitId,jdbcType=BIGINT},
            </if>
            <if test="unitName != null">
                #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="goodsSpecification != null">
                #{goodsSpecification,jdbcType=VARCHAR},
            </if>
            <if test="manufacturerId != null">
                #{manufacturerId,jdbcType=BIGINT},
            </if>
            <if test="manufacturer != null">
                #{manufacturer,jdbcType=VARCHAR},
            </if>
            <if test="goodsPlace != null">
                #{goodsPlace,jdbcType=VARCHAR},
            </if>
            <if test="approvalNumber != null">
                #{approvalNumber,jdbcType=VARCHAR},
            </if>
            <if test="lotId != null">
                #{lotId,jdbcType=BIGINT},
            </if>
            <if test="lotNumber != null">
                #{lotNumber,jdbcType=VARCHAR},
            </if>
            <if test="productDate != null">
                #{productDate,jdbcType=TIMESTAMP},
            </if>
            <if test="validDate != null">
                #{validDate,jdbcType=TIMESTAMP},
            </if>
            <if test="srcShelfId != null">
                #{srcShelfId,jdbcType=BIGINT},
            </if>
            <if test="srcShelfName != null">
                #{srcShelfName,jdbcType=VARCHAR},
            </if>
            <if test="targetShelfId != null">
                #{targetShelfId,jdbcType=BIGINT},
            </if>
            <if test="targetShelfName != null">
                #{targetShelfName,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=DECIMAL},
            </if>
            <if test="lineNum != null">
                #{lineNum,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createrId != null">
                #{createrId,jdbcType=BIGINT},
            </if>
            <if test="createrCode != null">
                #{createrCode,jdbcType=VARCHAR},
            </if>
            <if test="createrName != null">
                #{createrName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifierId != null">
                #{modifierId,jdbcType=BIGINT},
            </if>
            <if test="modifierCode != null">
                #{modifierCode,jdbcType=VARCHAR},
            </if>
            <if test="modifierName != null">
                #{modifierName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="srcShelfStatusDesc != null">
                #{srcShelfStatusDesc,jdbcType=VARCHAR},
            </if>
            <if test="targetShelfStatusDesc != null">
                #{targetShelfStatusDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsLoadDetail">
        update saas_goods_load_detail
        <set>
            <if test="enterpriseId != null">
                enterprise_id = #{enterpriseId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="loadId != null">
                load_id = #{loadId,jdbcType=BIGINT},
            </if>
            <if test="orderType != null">
                order_type = #{orderType,jdbcType=INTEGER},
            </if>
            <if test="loadCode != null">
                load_code = #{loadCode,jdbcType=VARCHAR},
            </if>
            <if test="loadDate != null">
                load_date = #{loadDate,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="goodsCode != null">
                goods_code = #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="barcode != null">
                barcode = #{barcode,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsGenericName != null">
                goods_generic_name = #{goodsGenericName,jdbcType=VARCHAR},
            </if>
            <if test="dosageId != null">
                dosage_id = #{dosageId,jdbcType=BIGINT},
            </if>
            <if test="dosageName != null">
                dosage_name = #{dosageName,jdbcType=VARCHAR},
            </if>
            <if test="unitId != null">
                unit_id = #{unitId,jdbcType=BIGINT},
            </if>
            <if test="unitName != null">
                unit_name = #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="goodsSpecification != null">
                goods_specification = #{goodsSpecification,jdbcType=VARCHAR},
            </if>
            <if test="manufacturerId != null">
                manufacturer_id = #{manufacturerId,jdbcType=BIGINT},
            </if>
            <if test="manufacturer != null">
                manufacturer = #{manufacturer,jdbcType=VARCHAR},
            </if>
            <if test="goodsPlace != null">
                goods_place = #{goodsPlace,jdbcType=VARCHAR},
            </if>
            <if test="approvalNumber != null">
                approval_number = #{approvalNumber,jdbcType=VARCHAR},
            </if>
            <if test="lotId != null">
                lot_id = #{lotId,jdbcType=BIGINT},
            </if>
            <if test="lotNumber != null">
                lot_number = #{lotNumber,jdbcType=VARCHAR},
            </if>
            <if test="productDate != null">
                product_date = #{productDate,jdbcType=TIMESTAMP},
            </if>
            <if test="validDate != null">
                valid_date = #{validDate,jdbcType=TIMESTAMP},
            </if>
            <if test="srcShelfId != null">
                src_shelf_id = #{srcShelfId,jdbcType=BIGINT},
            </if>
            <if test="srcShelfName != null">
                src_shelf_name = #{srcShelfName,jdbcType=VARCHAR},
            </if>
            <if test="targetShelfId != null">
                target_shelf_id = #{targetShelfId,jdbcType=BIGINT},
            </if>
            <if test="targetShelfName != null">
                target_shelf_name = #{targetShelfName,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=DECIMAL},
            </if>
            <if test="lineNum != null">
                line_num = #{lineNum,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createrId != null">
                creater_id = #{createrId,jdbcType=BIGINT},
            </if>
            <if test="createrCode != null">
                creater_code = #{createrCode,jdbcType=VARCHAR},
            </if>
            <if test="createrName != null">
                creater_name = #{createrName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifierId != null">
                modifier_id = #{modifierId,jdbcType=BIGINT},
            </if>
            <if test="modifierCode != null">
                modifier_code = #{modifierCode,jdbcType=VARCHAR},
            </if>
            <if test="modifierName != null">
                modifier_name = #{modifierName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="srcShelfStatusDesc != null">
                src_shelf_status_desc = #{srcShelfStatusDesc,jdbcType=VARCHAR},
            </if>
            <if test="targetShelfStatusDesc != null">
                target_shelf_status_desc = #{targetShelfStatusDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.rograndec.feijiayun.chain.business.storage.chgoods.entity.GoodsLoadDetail">
    update saas_goods_load_detail
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      load_id = #{loadId,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=INTEGER},
      load_code = #{loadCode,jdbcType=VARCHAR},
      load_date = #{loadDate,jdbcType=TIMESTAMP},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_generic_name = #{goodsGenericName,jdbcType=VARCHAR},
      dosage_id = #{dosageId,jdbcType=BIGINT},
      dosage_name = #{dosageName,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=BIGINT},
      unit_name = #{unitName,jdbcType=VARCHAR},
      goods_specification = #{goodsSpecification,jdbcType=VARCHAR},
      manufacturer_id = #{manufacturerId,jdbcType=BIGINT},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      goods_place = #{goodsPlace,jdbcType=VARCHAR},
      approval_number = #{approvalNumber,jdbcType=VARCHAR},
      lot_id = #{lotId,jdbcType=BIGINT},
      lot_number = #{lotNumber,jdbcType=VARCHAR},
      product_date = #{productDate,jdbcType=TIMESTAMP},
      valid_date = #{validDate,jdbcType=TIMESTAMP},
      src_shelf_id = #{srcShelfId,jdbcType=BIGINT},
      src_shelf_name = #{srcShelfName,jdbcType=VARCHAR},
      target_shelf_id = #{targetShelfId,jdbcType=BIGINT},
      target_shelf_name = #{targetShelfName,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=DECIMAL},
      line_num = #{lineNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=BIGINT},
      creater_code = #{createrCode,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      modifier_code = #{modifierCode,jdbcType=VARCHAR},
      modifier_name = #{modifierName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      src_shelf_status_desc = #{srcShelfStatusDesc,jdbcType=VARCHAR},
      target_shelf_status_desc = #{targetShelfStatusDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByDtlListParams"
            resultType="com.rograndec.feijiayun.chain.business.storage.chgoods.vo.ChGoodsLoadOrderDtlListOneVO">
    SELECT
	s.id,
	s.goods_code AS goodsCode,
	s.goods_generic_name AS goodsGenericName,
	s.dosage_name AS dosageName,
	s.unit_name AS unitName,
	s.goods_specification AS goodsSpecification,
	s.manufacturer,
	s.goods_place AS goodsPlace,
	s.lot_number AS lotNumber,
	date_format(s.product_date, '%Y-%m-%d') AS productDate,
	date_format(s.valid_date, '%Y-%m-%d') AS validUntil,
	s.src_shelf_name AS srcShelfName,
	s.target_shelf_name AS targetShelfName,
	s.quantity,
	s.remark,
	s.src_shelf_status_desc AS srcShelfStatusDesc,
	s.target_shelf_status_desc AS targetShelfStatusDesc,
	g.place
FROM
	saas_goods_load_detail s
LEFT JOIN saas_goods g ON g.id = s.goods_id
    where
    s.enterprise_id = #{enterpriseId}
    AND s.load_id = #{id}
  </select>
    <select id="selectSumTotal"
            resultType="java.lang.Double">
      select sum(quantity) quantity from saas_goods_load_detail where load_id = #{id} and enterprise_id = #{enterpriseId}
    </select>
</mapper>