<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rograndec.feijiayun.chain.business.system.enterprise.dao.LocationMapper">
  <resultMap id="BaseResultMap" type="com.rograndec.feijiayun.chain.business.system.enterprise.entity.Location">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_path_id" jdbcType="INTEGER" property="parentPathId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parent_path_id, parent_id, parent_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_location
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_location
    where id in
    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from saas_location
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rograndec.feijiayun.chain.business.system.enterprise.entity.Location">
    insert into saas_location (id, name, parent_path_id, 
      parent_id, parent_name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentPathId,jdbcType=INTEGER}, 
      #{parentId,jdbcType=VARCHAR}, #{parentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rograndec.feijiayun.chain.business.system.enterprise.entity.Location">
    insert into saas_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentPathId != null">
        parent_path_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentName != null">
        parent_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentPathId != null">
        #{parentPathId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null">
        #{parentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rograndec.feijiayun.chain.business.system.enterprise.entity.Location">
    update saas_location
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentPathId != null">
        parent_path_id = #{parentPathId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null">
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rograndec.feijiayun.chain.business.system.enterprise.entity.Location">
    update saas_location
    set name = #{name,jdbcType=VARCHAR},
      parent_path_id = #{parentPathId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=VARCHAR},
      parent_name = #{parentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectProvinceLocation" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_location
    where parent_path_id = '0'
  </select>
  
  <select id="selectCityLocationByProvinceId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_location
    where parent_path_id = #{provinceId}
  </select>
  
  <select id="selectAreaLocationByCityId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from saas_location
    where parent_path_id = #{cityId}
  </select>
  
  <cache />
</mapper>